<main class="h-[90vh] bg-white">
    <div class="site-container h-full grid grid-cols-12 items-center">

        <div class="col-span-6">
            <h1 class="text-5xl font-light text-primary-500 mb-16">Merci pour votre achat!</h1>
            <div>
                <p class="flex flex-col gap-4 text-skin-base">
                    <span>Vous avez réussi à effectuer un paiement avec Stripe.</span>
                    <span>Nous venons d'envoyer votre reçu à votre adresse e-mail et vos articles seront en route sous peu.</span>
                </p>
            </div>
        </div>

        <div class="col-span-6 shadow-md">
            <video class="" autoplay loop src="https://ik.imagekit.io/lfegvix1p/animated_medium20200803-18438-vby186_b4tAqbhhL.mp4?updatedAt=1678649625782"></video>
        </div>

    </div>
</main>
