<main class="bg-white pb-5">
    <div class="site-container lg:h-full grid grid-cols-1 lg:grid-cols-12 gap-5 lg:gap-0 items-center">

        <div class="col-span-6 lg:order-2">
            <app-image [classes]="'object-contain max-w-[300px] lg:max-w-full m-auto'"
                [sourceUrl]="'https://ik.imagekit.io/lfegvix1p/paiement-success_3_1CdOQVX_s.svg?updatedAt=1679090662041'"></app-image>
        </div>

        <div class="col-span-6 w-full text-center lg:text-left lg:max-w-xl lg:ml-auto">
            <h1 class="text-4xl lg:text-5xl font-light text-primary-500 mb-6 lg:mb-16">Merci pour votre achat!</h1>
            <div>
                <p class="flex flex-col gap-4 text-skin-base">
                    <span>Vous avez réussi à effectuer un paiement avec Stripe.</span>
                    <span>Nous venons d'envoyer votre reçu à votre adresse e-mail et vos articles seront en route sous peu.</span>
                </p>
            </div>
        </div>

    </div>
</main>
