<div class="p-5">
    <ng-container  *ngIf="type !== 'pro'">
        <div class="text-center text-skin-base">
            <small class="font-bold text-sm text-primary-500">{{course.title}}</small>
            <h1 class="mt-3">Vous pouvez payer en 3 reprises</h1>
            <div class="flex gap-10 justify-center mt-8 text-lg">
                <button (click)="payOneTime()" class="">
                    <div class="flex flex-col gap-2 font-bold text-secondary">
                        <span>icon</span>
                        <span class="flex gap-2 items-center">1 <span class="text-skin-base text-base">x</span> <span>{{(course?.price/100)|currency:'EUR'}}</span></span>
                    </div>
                </button>
                <button (click)="payThreeTimes()" class="">
                    <div class="flex flex-col gap-2 font-bold text-secondary">
                        <span>icon</span>
                        <span class="flex gap-2 items-center">3 <span class="text-skin-base text-base">x</span> <span>{{((course?.price/100)/3+1)|currency:'EUR'}}</span></span>
                    </div>
                </button>
            </div>
        </div>
    </ng-container>
    
    <ng-container *ngIf="type === 'pro'">
        <div class="text-center text-skin-base">
            <small class="font-bold text-sm text-primary-500">Abonement PRO</small>
            <h1 class="mt-3">Economisez en prenant un abonnement annuel</h1>
            <div class="flex gap-10 justify-center mt-8 text-lg">
                <button (click)="payProMonthly()" class="">
                    <div class="flex flex-col gap-2 font-bold text-secondary">
                        <span>icon</span>
                        <span>{{(999/100)|currency:'EUR'}}</span>
                    </div>
                </button>
                <button (click)="payProYearly()" class="">
                    <div class="flex flex-col gap-2 font-bold text-secondary">
                        <span>icon</span>
                        <span>{{(10989/100)|currency:'EUR'}}</span>
                    </div>
                </button>
            </div>
        </div>
    </ng-container>
</div>
