/* .progress-wrapper {
    position: relative;
    width: 50%;
    height: 50%;
    margin: auto;
}

.progress-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

/* progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
} */

/* progress {
  @apply border border-primary-500 bg-primary-50 bg-opacity-40 rounded-sm overflow-hidden shadow-md w-full lg:w-[calc(100%-370px)];
  border: none;
  -webkit-appearance: none;
}
progress::-moz-progress-bar {
  @apply bg-primary-500;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  @apply bg-primary-500;
} */