<div class="p-5">
    <h1 *ngIf="type !== 'pro'">Vous pouvez payer en 3 reprises</h1>
    <h1 *ngIf="type === 'pro'">Economisez en prenant un abonnement annuel</h1>
    <div class="flex flex-col justify-center lg:flex-row gap-3 lg:gap-5 mt-10">
        <ng-container *ngIf="type === 'pro'">
            <button (click)="payProMonthly()" class="px-4 py-3 rounded-md text-white bg-primary-500 shadow-lg hover:bg-primary-600 transition-all duration-200">Mois</button>
            <button (click)="payProYearly()" class="px-4 py-3 rounded-md text-white bg-primary-500 shadow-lg hover:bg-primary-600 transition-all duration-200">Année</button>
        </ng-container>
        <ng-container *ngIf="type !== 'pro'">
            <button (click)="payOneTime()" class="px-4 py-3 rounded-md text-white bg-primary-500 shadow-lg hover:bg-primary-600 transition-all duration-200">Une fois</button>
            <button (click)="payThreeTimes()" class="px-4 py-3 rounded-md text-white bg-primary-500 shadow-lg hover:bg-primary-600 transition-all duration-200">Trois fois</button>
        </ng-container>
    </div>
</div>
