<div class="editor_md shadow-md">
    <div
        class="editor-header shadow-sm mt-4 font-semibold relative flex items-center justify-between w-full ">
        <div class="flex items-center">
            <div (click)="setActiveTab('editor')"
                class="relative tab flex p-4 space-x-1 items-center text-sm font-semibold  cursor-pointer  sm:text-base">
                <svg [ngClass]="activeTab == 'editor' ? '' : ''" class="w-4 h-4"
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                    fill="currentColor" stroke="currentColor">
                    <path
                        d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                    </path>
                </svg>
                <span class="hidden sm:block"
                    [ngClass]="{'' : activeTab == 'editor', fullScreenOn : 'hidden sm:block'}">
                    {{ 'articleEntryEdit.editTabText' | translate }}
                </span>
                <div [ngClass]="activeTab == 'editor' ? 'active-tab' : ''"
                    class="green-border  h-1 w-full absolute -inset-x-1 -bottom-0.5 scale-0">
                </div>
            </div>

            <div (click)="setActiveTab('preview')"
                class="relative tab flex p-4 space-x-1 items-center text-sm font-semibold  cursor-pointer sm:text-base">
                <svg [ngClass]="activeTab == 'preview' ? '' : ''" class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z">
                    </path>
                </svg>
                <span class="hidden sm:block"
                    [ngClass]="{'' : activeTab == 'preview', fullScreenOn : 'hidden sm:block'}">
                    {{ 'articleEntryEdit.previewTabText' | translate }}
                </span>
                <div [ngClass]="activeTab == 'preview' ? 'active-tab' : ''"
                    class="green-border  h-1 w-full absolute -inset-x-1 -bottom-0.5 scale-0">
                </div>
            </div>

            <div (click)="setActiveTab('help')"
                class="relative tab flex p-4 space-x-1 items-center text-sm font-semibold  cursor-pointer sm:text-base">
                <svg xmlns="http://www.w3.org/2000/svg" [ngClass]="activeTab == 'help' ? '' : ''"
                    class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                </svg>
                <span class="hidden sm:block"
                    [ngClass]="{'' : activeTab == 'help', fullScreenOn : 'hidden sm:block'}">
                    {{ 'articleEntryEdit.helpTabText' | translate }}
                </span>
                <div [ngClass]="activeTab == 'help' ? 'active-tab' : ''"
                    class="green-border  h-1 w-full absolute -inset-x-1 -bottom-0.5 scale-0">
                </div>
            </div>
        </div>

        <div *ngIf="activeTab === 'editor'; else exitFullScreenBtn" class="flex lg:gap-2 lg:mr-1 items-center">
            <div *ngIf="fullScreenOn">
                <ng-container *ngIf="form">
                    <app-auto-save-button [form]="form" [loading]="isLoading" [isPublishing]="isPublishing"
                        [isPublished]="isPublished" [isSaving]="isSaving" [isSaved]="isSaved" [saveFailed]="saveFailed"
                        (publishEvent)="initPublish()" [showBtn]="showFullscreenPublishBtn">
                    </app-auto-save-button>
                </ng-container>
            </div>

            <button *ngIf="fullscreenBtn" aria-label="click here to enter full screen" (click)="toggleFullScreen()"
                class="toggle_fullScreen_btn inline-flex items-center justify-center h-9 w-9 mx-1 shadow-sm rounded-full    transition-all duration-200">
                <mat-icon *ngIf="!fullScreenOn" class="">fullscreen</mat-icon>
                <mat-icon *ngIf="fullScreenOn" class="">fullscreen_exit</mat-icon>
            </button>

            <div *ngIf="imageBtn"
                class="add_image_btn relative cursor-pointer inline-flex items-center justify-center h-9 w-9 mx-1 shadow-sm rounded-full    transition-all duration-200">
                <input class="sr-only" (change)="onFileSelected($event)" type="file" id="editorFileUpload"
                    name="editorFileUpload" #editorFileUpload accept="image/*">
                <svg (click)="editorFileUpload.click()" fill="none" stroke="currentColor" stroke-linecap="round"
                    stroke-linejoin="round" stroke-width="1.5" viewBox="0 0 24 24" class="w-6 ">
                    <path
                        d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z">
                    </path>
                </svg>
            </div>
        </div>

        <ng-template #exitFullScreenBtn>
            <button *ngIf="fullscreenBtn" aria-label="click here to enter full screen" (click)="toggleFullScreen()"
                class="toggle_fullScreen_btn inline-flex items-center justify-center h-9 w-9 mx-1 shadow-sm rounded-full    transition-all duration-200">
                <mat-icon *ngIf="!fullScreenOn" class="">fullscreen</mat-icon>
                <mat-icon *ngIf="fullScreenOn" class="">fullscreen_exit</mat-icon>
            </button>
        </ng-template>
    </div>

    <div class="tabs-content-wrapper" [formGroup]="form" [ngStyle]="{'height': height+'vh'}">
        <ng-container *ngIf="content?.invalid && content?.dirty" class="">
            <div *ngIf="content?.errors?.['required']" class="p-4  text-xs sm:text-sm text-error italic">
                {{ 'articleEntryEdit.missingArticleContent' | translate }}
            </div>
        </ng-container>

        <ng-container *ngIf="activeTab === 'editor'">
            <textarea #editor (keydown)="handleTab($event, false);" formControlName="content" id="content" required
                class="editor-textarea  text-lg text-[#111] p-4 pb-24 w-full h-full"
                placeholder="{{ 'articleEntryEdit.articleContentPlaceholder' | translate }}">
            </textarea>
        </ng-container>

        <div *ngIf="activeTab === 'preview'"
            class="markdown-preview-container markdown-content h-full overflow-y-scroll  w-full p-4 pb-24">
            <app-markdown-preview [data]="content?.value"></app-markdown-preview>
        </div>

        <div *ngIf="activeTab === 'help'"
            class="help-container h-full overflow-y-scroll  p-4 pb-24 prose lg:prose-xl prose-p:text-lg lg:prose-p:text-xl max-w-none  prose-headings:font-bold prose-headings: prose-a: prose-code:bg-gray-900 prose-code:p-1 prose-code:rounded-md prose-code: prose-code:font-normal prose-code:before:hidden prose-code:after:hidden prose-code:mx-1 prose-ul:list-disc prose-ol:list-disc">
            <h2>{{'articleEntryEdit.helpTitle' | translate}}</h2>
            <p>
                {{'articleEntryEdit.helpSubTitle' | translate}}
                <a aria-labelledby="Link to about page" rel="noopener"
                    class=" font-semibold no-underline" href="https://commonmark.org/help/"
                    target="_blank"> Aide-mémoire
                </a>
            </p>
            <hr>
            <h3>Gras &amp; Italique</h3>
            <p><span class="mr-2 italic">Italique</span> <span class="p-1">*asterisks*</span><br><span
                    class="mr-2 font-bold">Gras</span>
                <span class="p-1">**double asterisks**</span>
            </p>
            <hr>
            <h3>Code</h3>
            <p>
                <span class="mr-2">Code en ligne</span>
                <br>
                <span class="flex items-center  space-x-4">
                    <span class=" p-1  rounded-md">`backtick`</span>
                    <markdown ngPreserveWhitespaces class="">
                        `backtick`
                    </markdown>
                </span>
                <span class="block mt-2 mr-2">Bloc de code</span>
                <span class="block p-1   ">
                    ```ext<br>Trois backticks suivi de l'extension de votre langage de
                    programmation puis entrez vos blocs de code ici.<br>```
                    <br>
                    ```java<br>String lang = "java"<br>```
                    <br>
                    ```js<br>const lang = 'javascript'<br>```
                    <br>
                    ```ts<br>const lang: string = 'typescript'<br>```

                    <div class="p-2">
                        <markdown ngPreserveWhitespaces>
                            ```java
                            String lang = "java"
                            ```
                            ```js
                            const lang = 'javascript'
                            ```
                            ```ts
                            const lang: string = 'typescript'
                            ```
                        </markdown>
                    </div>
                </span>
            </p>
            <hr>
            <h3>En-têtes</h3>
            <p># Ceci est un Heading 1<br>## Ceci est un Heading 2<br>### Ceci est un Heading
                3<br>
            </p>
            <hr>
            <h3>Quotes</h3>
            <blockquote> &gt; tapez un signe supérieur à et commencez à taper votre devis.
            </blockquote>
            <hr>
            <h3>Liens</h3>
            <p>Vous pouvez ajouter <a aria-labelledby="Example markdown link" href="#_">des
                    liens</a> en ajoutant du texte à l'intérieur de
                <span class="p-1   ">[]</span> et le lien à
                l'intérieur de <span class="p-1   ">()</span>,
                ainsi:
            </p>
            <div class="p-1 font-semibold   ">
                [link_text](https://google.com)</div>
            <hr>
            <h3>Listes</h3>
            <p>Pour ajouter une liste numérotée, vous pouvez simplement commencer par un nombre
                et
                un <span class="p-1   ">.</span>, ainsi:<br><span
                    class="block p-1 pl-5   "> 1.
                    Le premier élément de ma liste</span></p>
            <p>Pour une liste non ordonnée, vous pouvez ajouter un tiret <span
                    class="p-1   ">-</span>, ainsi:<br><span
                    class="block p-1 pl-5   "> - Le début de ma
                    liste</span></p>
            <hr>
            <h3>Images</h3>
            <p>Vous pouvez ajouter des images en sélectionnant l'icône d'image, qui téléchargera
                et
                ajoutera une image à l'éditeur, ou
                vous pouvez ajouter manuellement l'image en ajoutant un point d'exclamation
                <span class="p-1   ">!</span>, suivi du texte
                alternatif
                à l'intérieur de <span class="p-1   ">[]</span>,
                et
                l'URL de l'image à l'intérieur de <span class="p-1   ">()</span>,
                ainsi:
            </p>
            <div class="p-1 font-semibold   ">
                ![texte alternatif pour l'image](url_vers_image.png)
                <div class="mt-5 break-words font-normal">
                    <span>
                        ![American airline](https://images.bfmtv.
                        com/6h3mL8pJzAWIfwvsgUSo7TOGnbI=/3x2:1251x704/640x0/images/-158966.jpg)
                    </span>
                </div>
                <div class="max-w-md mx-auto">
                    <markdown ngPreserveWhitespaces>
                        ![American
                        airline](https://images.bfmtv.com/6h3mL8pJzAWIfwvsgUSo7TOGnbI=/3x2:1251x704/640x0/images/-158966.jpg)
                    </markdown>
                </div>
            </div>
            <hr>
            <h3>Séparateur</h3>
            <p>Pour ajouter un séparateur, vous pouvez ajouter trois tirets ou trois
                astérisques:<br><span class="block p-1 pl-5   ">--- or
                    ***</span>
            </p>
        </div>
    </div>
</div>