<div *ngIf="isBannerVisible"
    class="w-full bg-primary-600 text-white h-14 flex items-center transition-transform duration-500"
    [ngClass]="{'-translate-y-full': !isBannerVisible, 'translate-y-0': isBannerVisible}">
    <div class="w-full flex container mx-auto">
        <div class="mx-auto flex justify-center items-center text-center px-4 gap-3">
            <div class="flex items-center text-sm space-x-3">
                <span class="scale-150">🚀</span>
                <span>{{ bannerText }}</span>
            </div>
            <a href="https://forms.gle/81FmAHSV8nRvQh6e7" target="_blank" class="text-white focus:outline-none border rounded-sm border-white text-sm py-1.5 px-3 font-medium hover:bg-primary-500 transition-all duration-300 ease-in-out">
                Je m'inscris
            </a>
        </div>
    
        <button (click)="closeBanner()" class="text-white focus:outline-none">
            <svg class="w-4 h-4" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path>
            </svg>
        </button>
    </div>
</div>