<main class="w-full relative min-h-screen overflow-y-scroll lg:p-10">
    <button aria-labelledby="cancel" (click)="onNoClick()" class="absolute top-0 right-0">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-8 h-8">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
        </svg>
    </button>

    <h1 class="mb-10 text-center text-xl lg:text-4xl text-secondary underline underline-offset-4">Edition de la section
    </h1>

    <form [formGroup]="form" class="lg:max-w-4xl mx-auto">
        <div class="mb-10">
            <label for="title" class="block text-base font-medium leading-5 text-skin-base mb-5">
                Titre:
            </label>

            <input id="title" required minlength="4" formControlName="title"
                class="w-full bg-transparent border-b border-skin-border focus:border-primary-500 !pb-2 focus:outline-none placeholder:text-skin-muted text-secondary text-xl sm:text-2xl lg:text-5xl font-medium placeholder:font-medium placeholder:text-xl sm:placeholder:text-2xl lg:placeholder:text-5xl"
                placeholder="Entrez le titre de la section..." autocomplete="off" />

            <div *ngIf="title?.invalid && title?.dirty" class="">
                <div *ngIf="title?.errors?.['required']" class="mt-2 text-xs sm:text-sm text-error italic">
                    Le titre de la section est obligatoire
                </div>
                <div *ngIf="title?.errors?.['minlength']" class="mt-2 text-xs sm:text-sm text-error italic">
                    Vous devez entrer au moins 4 caractères
                </div>
            </div>
        </div>

        <div class="mb-10">
            <div class="section-image-preview-wrapper">
                <label for="image" class="block text-base font-medium leading-5 text-skin-base mb-5">
                    Image:
                </label>

                <div *ngIf="!image?.value" class="label-image-preview relative aspect-w-4 aspect-h-2">
                    <label *ngIf="!uploading" for="file" (click)="fileUpload.click()"
                        class="preview-label group flex items-center justify-center rounded-md cursor-pointer">
                        <div class="text-center">
                            <svg class="mx-auto h-10 w-10 text-skin-muted" stroke="currentColor" fill="none"
                                viewBox="0 0 48 48">
                                <path
                                    d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                            </svg>
                            <p class="mt-1 text-xs text-skin-base leading-6">
                                <span
                                    class="font-semibold text-primary-500 focus:outline-none focus:underline transition duration-150 ease-in-out">
                                    Télécharger un fichier
                                </span>
                            </p>
                            <p class="mt-1 text-xs text-skin-muted">
                                PNG, JPG, GIF up to 5MB
                            </p>

                            <input class="sr-only" type="file" id="fileUpload" name="fileUpload" #fileUpload
                                (change)="onFileSelected($event)" accept="image/*">
                        </div>
                    </label>

                    <div *ngIf="uploading" class="flex items-center justify-center shadow-lg rounded-lg border">
                        <svg class="w-10 h-10 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                            viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                                style="animation-play-state:paused"></circle>
                        </svg>
                    </div>
                </div>

                <div *ngIf="image?.value" id="image"
                    class="image-wrapper relative shadow-lg overflow-hidden rounded-lg aspect-w-4 aspect-h-2">
                    <app-image [classes]="'object-cover'" [sourceUrl]="image?.value!" [alt]="title.value">
                    </app-image>

                    <div class="cover-close-btn absolute left-auto top-1 right-1 z-10 flex justify-center items-center w-12 h-12 text-sm leading-tight text-skin-white bg-gray-700 rounded-full opacity-80 cursor-pointer hover:opacity-100  hover:bg-error"
                        (click)="removeSectionImage()">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                            class="w-6 h-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                        </svg>
                    </div>
                </div>
            </div>
        </div>

        <div class="mb-10">
            <label for="content" class="block text-base font-medium leading-5 text-skin-base mb-5">
                Contenu:
            </label>

            <app-text-editor [content]="content" [form]="form" [editorSub$]="EditorText$" [imageBtn]="false"
                [fullscreenBtn]="false" [height]="50">
            </app-text-editor>
        </div>

        <div class="mb-10">
            <label for="content" class="block text-base font-medium leading-5 text-skin-base mb-5">
                Position:
            </label>
            <mat-form-field appearance="fill">
                <mat-label>Choisir la position</mat-label>
                <mat-select formControlName="position">
                    <mat-option value="1" [disabled]="isUnavailable(1)">1</mat-option>
                    <mat-option value="2" [disabled]="isUnavailable(2)">2</mat-option>
                    <mat-option value="3" [disabled]="isUnavailable(3)">3</mat-option>
                    <mat-option value="4" [disabled]="isUnavailable(4)">4</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="action-buttons flex justify-center gap-1 sm:gap-3 mt-10">
            <button aria-labelledby="cancel"
                class="px-4 py-2 border border-skin-border rounded-full shadow-sm bg-skin-card text-sm leading-5 font-semibold text-skin-base hover:bg-skin-cardMuted focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 transition-all duration-200"
                (click)="onNoClick()">
                {{'app.cancel' | translate}}
            </button>

            <button type="submit" [disabled]="loading || form.invalid" (click)="onCreateSection()"
                [ngClass]="{'opacity-50': loading || form.invalid}" aria-labelledby="Save button"
                class="px-4 py-2 border-2 border-primary-500 rounded-full shadow-sm bg-primary-500 text-sm leading-5 font-semibold text-skin-white hover:text-skin-white hover:bg-primary-800 hover:border-primary-500 focus:outline-none focus:ring-offset-2 focus:ring-primary-500 focus:border-skin-border transition-all duration-200">

                <span *ngIf="!loading">Enregistrer</span>
                <svg *ngIf="loading" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                    preserveAspectRatio="xMidYMid">
                    <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                        stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                        style="animation-play-state:paused"></circle>
                </svg>
            </button>
        </div>
    </form>
</main>