<main class="articles-list-container lg:grid grid-cols-12 gap-10 py-10">
    <div class="col-span-3 h-96 hidden lg:block shadow-lg rounded-lg">
        <div class="left-side-container"></div>
    </div>

    <div class="col-span-6">
        <div class="main-side-container">
            <div class="pb-5 border-b border-skin-base">
                <h1 class="text-3xl leading-8 font-extrabold tracking-tight font-sans">
                    Récentes publications
                </h1>
                <p class="mt-2 max-w-4xl text-sm leading-5 font-sans">Tous les articles récemment
                    publiés.
                </p>
            </div>

            <div class="mt-10 max-w-lg mx-auto bg-white lg:hidden">
                <nav class="relative z-0 rounded-lg shadow flex divide-x divide-skin-base" aria-label="Tabs">
                    <button type="button" (click)="sortBy('recent')" aria-current="page"
                        class="w-full text-skin-inverted rounded-l-lg group relative min-w-0 flex-1 overflow-hidden bg-skin-card p-4 sm:px-6 text-sm font-medium text-center hover:bg-skin-card-muted focus:z-10">
                        <span>Récents</span>
                        <span aria-hidden="true" class="bg-skin-primary absolute inset-x-0 bottom-0 h-0.5"></span>
                    </button>

                    <button type="button" (click)="sortBy('popular')" aria-current="false"
                        class="w-full text-skin-base hover:text-skin-inverted group relative min-w-0 flex-1 overflow-hidden bg-skin-card p-4 sm:px-6 text-sm font-medium text-center hover:bg-skin-card-muted focus:z-10">
                        <span>Populaire</span>
                        <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
                    </button>

                    <button type="button" (click)="sortBy('trending')" aria-current="false"
                        class="w-full text-skin-base hover:text-skin-inverted rounded-r-lg group relative min-w-0 flex-1 overflow-hidden bg-skin-card p-4 sm:px-6 text-sm font-medium text-center hover:bg-skin-card-muted focus:z-10">
                        <span>Tendance</span>
                        <span aria-hidden="true" class="bg-transparent absolute inset-x-0 bottom-0 h-0.5"></span>
                    </button>
                </nav>
            </div>

            <div class="articles-wrapper mt-12 space-y-5 sm:space-y-6 max-w-lg mx-auto lg:max-w-none">
                <div *ngFor="let article of articles">
                    <div class="article-card lg:grid grid-cols-5 gap-2">
                        <div class="col-span-2 aspect-w-3 aspect-h-2">
                            <a href="#" class="cursor-pointer">
                                <img class="object-cover shadow-lg rounded-lg group-hover:opacity-75"
                                    src="{{article.thumbnail}}" alt="{{article.title}}">
                            </a>
                        </div>
                        <div class="col-span-3 mt-4 lg:mt-0">{{article.title}}</div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-span-3 h-96 hidden lg:block shadow-lg rounded-lg">
        <div class="right-side-container"></div>
    </div>
</main>