<main class="articles-list-container lg:grid grid-cols-12 gap-10 py-10">
    <!-- <h1>Our articles list</h1> -->
    <div class="col-span-3 h-96 grid place-items-center text-2xl font-bold text-white bg-secondary">
        <div class="left-side-container sticky top-4">bloc 1</div>
    </div>
    <div class="col-span-6">
        <div class="main-side-container">
            <div *ngFor="let article of articles">
                <div>{{article.title}}</div>
            </div>
        </div>


        <div class="prose-sm md:prose-lg prose-h1:font-extrabold max-w-none" [innerHtml]="content"></div>

        <div>{{name}}</div>
    </div>
    <div class="col-span-3 h-96 grid place-items-center text-2xl font-bold text-white bg-primary-300">
        <div class="right-side-container sticky top-4">bloc 3</div>
    </div>
</main>