<main class="site-container h-[50vh] lg:h-screen pt-2">

    <!-- <pdf-viewer [src]="url" 
        [render-text]="true" 
        [original-size]="false"
        [stick-to-page]="true"
        [render-text-mode]="1"
        [external-link-target]="'blank'"
        [rotation]="90"
        [zoom-scale]="'page-width'"
        [original-size]="false"
        [fit-to-page]="false"
        [show-all]="true"
        [autoresize]="true"
        style="width: auto; height: 100%"></pdf-viewer> -->

</main>
