<div class="bg-gradient">
    <div>
        <div class="lg:flex items-center site-container">
            <!-- 
            <div class="absolute right-[10%] top-[20%] z-0"
                style="background-image: url(assets/visual/grid.svg); height: 180px; width: 156px;">
            </div> -->

            <div class="lg:w-[50%] items-center mb-5 flex-1">

                <div class="text-secondary text-center lg:text-left">
                    <div class="text-3xl font-bold mb-5" style="font-size: 36px">
                        Nous fournissons des services à
                        <span class="text-primary-500">valeur ajoutée</span> avec une
                        approche taillée pour chaque
                        <span class="text-primary-500">entreprise</span>.
                    </div>

                    <div class="text-xl text-secondary mb-12">
                        Notre équipe d’experts en développement d’applications
                        d’entreprises, web et mobiles vous délivrent le service adéquat
                        comme vous l’imaginez et quand vous le voulez.
                    </div>

                    <div class="flex justify-center lg:justify-start">
                        <div class="btn btn-primary text-white mr-5 mb-3 flex">
                            <span class="mr-3">Decouvrez nos services</span>
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1667 1.66667L16.5 5M16.5 5L13.1667 8.33333M16.5 5H1.5" stroke="white"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                        <!-- <div class="btn btn-secondary text-secondary-600">
                            <span class="mr-3">Voir le Portfolio</span>
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="#B77A18"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1667 1.66667L16.5 5M16.5 5L13.1667 8.33333M16.5 5H1.5" stroke="#B77A18"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div> -->
                    </div>
                </div>
            </div>

            <div class="lg:w-[50%] aspect-w-5 aspect-h-2 items-center justify-center">
                <div>
                    <app-image
                        sourceUrl="https://ik.imagekit.io/lfegvix1p/image1_JVyXsJn4H.svg">
                    </app-image>
                    <!-- <img src="assets/images/image1.svg" style="height: 100%; width: 100%;"/> -->
                    <!-- <app-image [classes]="'h-[200px] w-[460px]'" sourceUrl="assets/images/landing2.png">
                    </app-image> -->
                </div>
            </div>

            <!-- 
            <div class="absolute left-[59%] bottom-0">
                <svg width="26" height="27" viewBox="0 0 26 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M22.7775 0.578839L1.87662 6.5752C0.0481861 7.10763 -0.607953 9.39588 0.715952 10.7143L15.7067 25.6435C17.0306 26.9619 19.3161 26.2964 19.841 24.4658L25.7513 3.54034C26.2762 1.70972 24.6263 0.0666932 22.7775 0.578839Z"
                        fill="#FFBD59" />
                </svg>
            </div>

            <div class="absolute left-[58%] top-[35%]">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.1738 1.20335C17.6471 1.01718 18.0123 1.2572 18.1184 1.35936C18.2245 1.46152 18.5427 1.768 18.4436 2.2866L15.5877 18.7103C15.4886 19.2289 15.1124 19.4249 14.9684 19.4815C14.8038 19.5463 14.398 19.658 14.0238 19.3255L1.73523 8.85943C1.34046 8.53509 1.37201 8.09101 1.40997 7.93219C1.44792 7.77337 1.556 7.34716 2.02927 7.16098L17.1738 1.20335ZM16.8781 0.360412L1.73357 6.31804C0.396079 6.84419 0.0904606 8.64312 1.16289 9.56421L13.4515 20.0303C13.9877 20.4909 14.688 20.5511 15.2641 20.3245C15.8403 20.0978 16.3335 19.5681 16.4557 18.8485L19.3117 2.42476C19.5635 1.00669 18.2156 -0.165738 16.8781 0.360412Z"
                        fill="#00C2CB" />
                </svg>
            </div>

            <div class="absolute right-[14%] top-[15%]">
                <svg width="20" height="21" viewBox="0 0 20 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M17.1738 1.20335C17.6471 1.01718 18.0123 1.2572 18.1184 1.35936C18.2245 1.46152 18.5427 1.768 18.4436 2.2866L15.5877 18.7103C15.4886 19.2289 15.1124 19.4249 14.9684 19.4815C14.8038 19.5463 14.398 19.658 14.0238 19.3255L1.73523 8.85943C1.34046 8.53509 1.37201 8.09101 1.40997 7.93219C1.44792 7.77337 1.556 7.34716 2.02927 7.16098L17.1738 1.20335ZM16.8781 0.360412L1.73357 6.31804C0.396079 6.84419 0.0904606 8.64312 1.16289 9.56421L13.4515 20.0303C13.9877 20.4909 14.688 20.5511 15.2641 20.3245C15.8403 20.0978 16.3335 19.5681 16.4557 18.8485L19.3117 2.42476C19.5635 1.00669 18.2156 -0.165738 16.8781 0.360412Z"
                        fill="#FDBC5A" />
                </svg>
            </div>


            <div class="absolute mx-auto bottom-0 left-0">
                <svg width="44" height="43" viewBox="0 0 44 43" fill="#15B2BC" xmlns="http://www.w3.org/2000/svg">
                    <path
                        d="M38.3042 0.19944L3.56542 10.2891C0.526382 11.1848 -0.577627 14.9881 1.61191 17.1687L26.4042 41.8591C28.5938 44.0397 32.3925 42.92 33.2757 39.8773L43.2223 5.0973C44.1054 2.0546 41.3769 -0.662718 38.3042 0.19944Z"
                        fill="#15B2BC" />
                </svg>

            </div> -->
        </div>
    </div>

    <div>
        <div class="relative lg:flex flex-row-reverse items-center site-container my-auto">
            <div class="lg:w-[50%] items-center flex-1">
                <div class="text-secondary text-center lg:text-left">
                    <div class="text-3xl font-bold mb-5" style="font-size: 36px">
                        Nous fournissons des services à
                        <span class="text-primary-600">valeur ajoutée</span> avec une
                        approche taillée pour chaque
                        <span class="text-primary-600">entreprise</span>.
                    </div>

                    <div class="text-xl mb-12">
                        Notre équipe d’experts en développement d’applications
                        d’entreprises, web et mobiles vous délivrent le service adéquat
                        comme vous l’imaginez et quand vous le voulez.
                    </div>

                    <div class="flex mb-5 justify-center lg:justify-start">
                        <!-- <div class="btn btn-primary text-white mr-5 mb-3">
                            <span class="mr-3">Decouvrez nos services</span>
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1667 1.66667L16.5 5M16.5 5L13.1667 8.33333M16.5 5H1.5" stroke="white"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div> -->
                        <div class="btn btn-secondary text-secondary-600">
                            <span class="mr-3">Voir le Portfolio</span>
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="#B77A18"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1667 1.66667L16.5 5M16.5 5L13.1667 8.33333M16.5 5H1.5" stroke="#B77A18"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:w-[50%] aspect-w-5 aspect-h-2 items-center justify-center">
                <div class="justify-center">
                    <app-image 
                        sourceUrl="https://ik.imagekit.io/lfegvix1p/image2_Q_SEaVrQU.svg">
                    </app-image>
                </div>
            </div>


        </div>
    </div>

    <div>
        <div class="relative lg:flex items-center site-container">
            <!-- <div class="absolute right-[5%] bottom-[0%] z-0"
                style="background-image: url(assets/visual/grid.svg); height: 180px; width: 156px;">
            </div> -->

            <div class="lg:w-[50%] items-center flex-1">
                <div class="text-white text-center lg:text-left">
                    <div class="text-3xl font-bold mb-5 text-white" style="font-size: 36px">
                        Nous fournissons des services à
                        <span class="text-primary-ligth">valeur ajoutée</span> avec une
                        approche taillée pour chaque
                        <span class="text-primary-ligth">entreprise</span>.
                    </div>

                    <div class="text-xl mb-12">
                        Notre équipe d’experts en développement d’applications
                        d’entreprises, web et mobiles vous délivrent le service adéquat
                        comme vous l’imaginez et quand vous le voulez.
                    </div>

                    <div class="flex justify-center lg:justify-start mb-5">
                        <!-- <div class="btn btn-primary text-white mr-5 mb-3">
                            <span class="mr-3">Decouvrez nos services</span>
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1667 1.66667L16.5 5M16.5 5L13.1667 8.33333M16.5 5H1.5" stroke="white"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div> -->
                        <div class="btn btn-secondary text-secondary-600">
                            <span class="mr-3">Voir le Portfolio</span>
                            <svg width="18" height="10" viewBox="0 0 18 10" fill="#B77A18"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.1667 1.66667L16.5 5M16.5 5L13.1667 8.33333M16.5 5H1.5" stroke="#B77A18"
                                    stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:w-[50%] aspect-w-5 aspect-h-2 items-center justify-center">
                <div class="justify-center">
                    <app-image
                        sourceUrl="https://ik.imagekit.io/lfegvix1p/image3_ynuh5_peV.svg">
                    </app-image>
                </div>
            </div>
        </div>
    </div>
</div>