<main class="text-skin-art min-h-screen">
    <div class="flex justify-center items-center h-[88vh]" *appShellRender>
        <svg class="w-40 animate-spin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
            width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#15b2bc" stroke-width="2" r="35"
                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                style="animation-play-state:paused"></circle>
        </svg>
    </div>

    <div *appShellNoRender>
        <div *ngIf="course && !loading" class="content">

            
            <div class="page-title site-container py-8 lg:pt-14 text-center space-y-5 lg:max-w-7xl mx-auto">

                <ng-template [ngIf]="course.mentored">
                    <app-mentored-icon [size]="'w-full'" [classes]="'hidden sm:block w-36 mx-auto'">
                    </app-mentored-icon>
                    <app-mentored-icon [size]="'w-28'" [classes]="'sm:hidden w-32 mx-auto'" [position]="'bottom'">
                    </app-mentored-icon>
                </ng-template>

                <h1>{{course?.title}}</h1>
                <h2>{{course?.subTitle}}</h2>

                <div
                    class="group flex items-center justify-center text-skin-inverted gap-2 text-right text-sm font-medium">

                    <span class="enrol-total relative inline-flex items-end gap-2">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            class="size-10 inline text-accent-300" viewBox="0 0 16 16">
                            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                            <path fill-rule="evenodd"
                                d="M5.216 14A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216z" />
                            <path d="M4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5z" />
                        </svg>

                        <span>{{course?.enrolledCount}}</span>

                        <span class="enrol-tooltip">
                            {{course?.enrolledCount}} personnes suivent ce cours
                        </span>
                    </span>

                    <span class="enrol-total relative inline-flex items-end top-[1px]">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="inline size-10 text-accent-300">
                            <path d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z" />
                        </svg>

                        <span>{{course?.reactions?.length}}</span>
                        <span class="enrol-tooltip">
                            {{course?.reactions?.length}} personnes aiment ce cours
                        </span>
                    </span>
                </div>

            </div>

            <ng-container *ngFor="let section of orderedSections; let i = index">
                <section class="regular-section">
                    <div class="site-container grid grid-cols-1 lg:grid-cols-12 gap-8">
                        <div class="text lg:col-span-8">
                            <h3>{{section.title}}</h3>
                            <app-markdown-preview [data]="section?.content"></app-markdown-preview>
                        </div>

                        <div class="image lg:col-span-4 self-center">
                            <app-image [classes]="'w-full h-full max-w-[300px] lg:max-w-[350px] mx-auto object-contain'"
                                [sourceUrl]="section?.image" [alt]="section?.title">
                            </app-image>
                        </div>
                    </div>
                </section>

                <div *ngIf="section.position == 1">
                    <button *ngIf="!(courseEnrollment$|async) && isPublished$|async" (click)="buyCourse()"
                        class="mb-10 w-fit mx-auto flex items-center justify-center gap-2 px-4 py-2.5 rounded-md shadow-sm bg-primary-500 text-white font-normal hover:bg-primary-700 transition-all duration-300">
                        <span class="text-center">Débuter le cours</span>

                        <span class="mt-1">
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden md:block" fill="none"
                                viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                            </svg>
                        </span>
                    </button>
                </div>

                <ng-container *ngIf="section.position == 1">
                    <app-carousel [courseId]="course.id"></app-carousel>
                </ng-container>
            </ng-container>

            <section *ngIf="currentVideoId" class="presentation-video">
                <div class="site-container">
                    <app-youtube-video-player [videoId]="currentVideoId" [width]="800"
                        [height]="mobileQuery.matches ? 400 : 450"></app-youtube-video-player>
                </div>
            </section>

            <section class="curriculum">
                <app-curriculum [chapters]="chapters$|async" [lessons]="lessons$|async" [course]="course"
                    [canAccessCourse]="canAccessCourse" [isSubscriber]="isSubscriber" [canEdit]="canEditCourse"
                    [mobileQuery]="mobileQuery"></app-curriculum>
            </section>

            <button *ngIf="!(courseEnrollment$|async) && isPublished$|async" (click)="buyCourse()"
                class="my-10 w-fit mx-auto flex items-center justify-center gap-2 px-4 py-2.5 rounded-md shadow-sm bg-primary-500 text-white font-normal hover:bg-primary-700 transition-all duration-300">
                <span class="text-center">Débuter le cours</span>

                <span class="mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden md:block" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </span>
            </button>

        </div>
    </div>
</main>