h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h3 {
  /* @apply ; */
}

h1 {
  @apply text-3xl lg:text-[40px] lg:leading-10 font-medium;
}

h2 {
  @apply text-xl lg:text-[1.7rem] lg:leading-10 font-light;
}

h3 {
  @apply text-skin-base text-2xl lg:text-3xl font-medium mb-12 relative after:absolute after:w-32 lg:after:w-24 after:h-1.5 after:bg-skin-fill-warning after:-bottom-6 after:left-[calc(50%-4rem)] after:rounded-sm;
  @apply text-center;
}

p {
  @apply text-lg lg:text-xl font-normal !mb-5 last:!mb-0 text-center;
}

iframe {
  border: none;
}

section {
  @apply py-6 lg:py-12;
}

section:nth-of-type(even) {
  @apply bg-transparent;
}

section:nth-of-type(even).regular-section .image {
  @apply lg:order-1;
}
section:nth-of-type(even).regular-section .text {
  @apply lg:order-2;
}

h3.lesson-group-title {
  @apply text-xl lg:text-2xl mb-10 after:left-0 text-left font-bold;
}

/* ol auto increment */
ol {
  list-style: none;
  counter-reset: item;
}

ol > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  font-weight: 500;
  /* font-style: oblique; */
}

/* CURRICULUM STYLES */
