<main class="flex min-h-screen items-center justify-center">
    <div *ngIf="loading">
        <svg class="w-20 h-20 animate-spin" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="#052b5d" stroke-width="10" r="35"
                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                style="animation-play-state:paused"></circle>
        </svg>
    </div>

    <div *ngIf="!isTokenValid && !loading">
        <p>Your token is no longer active, please go ahead and request another one and try again !</p>
    </div>

    <div *ngIf="isTokenValid">
        <form [formGroup]="form" (ngSubmit)="savePassword">
            Her is the form.
        </form>
    </div>
</main>