<main class="relative py-28 sm:py-36 max-w-7xl mx-auto">
    <div *ngIf="loading && !isTokenValid" class="flex items-center justify-center min-h-full">
        <svg class="w-20 h-20 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                style="animation-play-state:paused"></circle>
        </svg>
    </div>

    <div *ngIf="token && !isTokenValid && !loading" class="max-w-3xl mx-auto">
        <p class="md:text-2xl max-w-3xl mx-auto">
            {{'app.invalidToken' | translate}}
        </p>
        <div class="text-sm mt-5">
            <a routerLink="/resetPassword"
                class="font-semibold text-primary-500 hover:text-primary-300 underline transition-all">
                {{'app.forgotPassword' | translate}}
            </a>
        </div>
    </div>

    <div *ngIf="successMessage" class="max-w-3xl mx-auto">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-28 w-28 text-primary-500" fill="none" viewBox="0 0 24 24"
            stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <p class="sm:text-2xl mt-5">{{'passwordRenewal.renewSuccessText' | translate}}</p>
        <div class="text-sm mt-5">
            <a routerLink="/login"
                class="font-semibold text-primary-500 hover:text-primary-300 hover:underline transition-all">
                {{'app.loginPage' | translate}}
            </a>
        </div>
    </div>

    <div *ngIf="isTokenValid && !successMessage">
        <div class="Renewal-content-wrapper flex items-center justify-center min-h-full">
            <div class="max-w-md w-full space-y-8">
                <div>
                    <h2 class="text-center text-2xl font-extrabold text-skin-inverted">
                        {{'passwordRenewal.title' | translate}}
                    </h2>
                </div>

                <form [formGroup]="form" (ngSubmit)="savePassword()" class="space-y-3">
                    <div>
                        <label for=" password" class="sr-only">{{'app.password' | translate}}</label>
                        <div class="">
                            <div class="relative ">
                                <input name="password" type="password" id="password" required minlength="6"
                                    formControlName="password" class="" autocomplete="current-password"
                                    placeholder="{{'app.password' | translate}}">
                            </div>
                            <div *ngIf="password?.invalid && password?.dirty" class="">
                                <div *ngIf="password?.errors?.['required']"
                                    class="mt-1 text-xs sm:text-sm text-error italic">
                                    {{'app.missingPassword' | translate}}
                                </div>
                                <div *ngIf="password?.errors?.['minlength']"
                                    class="mt-1 text-xs sm:text-sm text-error italic">
                                    {{'app.invalidPasswordLenght' | translate}}
                                </div>
                                <div *ngIf="password?.invalid" class="mt-1 text-xs sm:text-sm text-error italic">
                                    {{'app.invalidPassword' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="matchingPassword" class="sr-only">{{'app.matchingPassword' | translate}}</label>
                        <div class="">
                            <div class="relative ">
                                <input name="matchingPassword" type="password" id="matchingPassword" required
                                    formControlName="matchingPassword" class="" autocomplete="off"
                                    placeholder="{{'app.matchingPassword' | translate}}">
                            </div>
                            <div *ngIf="matchingPassword?.dirty && !passwordDoesMatch"
                                class="mt-1 text-xs sm:text-sm text-error italic">
                                {{'app.passwordDoesNotMatch' | translate}}
                            </div>
                        </div>
                    </div>

                    <div class="!mt-6">
                        <button *ngIf="form.valid" type="submit" [disabled]="loading"
                            [ngClass]="{'opacity-50': loading}"
                            class="group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 hover:bg-primary-500 focus:outline-none">
                            <span class="lock-btn absolute left-0 flex items-center pl-3">
                                <svg class="h-5 w-5 fill-primary-500 group-hover:fill-primary-300"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                    aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            <span *ngIf="!loading">{{'passwordRenewal.createBtnText' | translate}}</span>
                            <svg *ngIf="loading" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                                viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                                    stroke-dasharray="164.93361431346415 56.97787143782138"
                                    transform="matrix(1,0,0,1,0,0)" style="animation-play-state:paused"></circle>
                            </svg>
                        </button>

                        <button *ngIf="form.invalid" [disabled]="form.invalid || loading"
                            class="group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 bg-opacity-20">
                            <span class="lock-btn absolute left-0 flex items-center pl-3">
                                <svg class="h-5 w-5 fill-primary-500 opacity-20" xmlns="http://www.w3.org/2000/svg"
                                    viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                        clip-rule="evenodd"></path>
                                </svg>
                            </span>
                            {{'passwordRenewal.createBtnText' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</main>