<h2 mat-dialog-title class="sr-only">Effectuer une recherche</h2>
<mat-dialog-content>
    <!-- <mat-dialog-content class="mat-typography"> -->
    <div class="flex items-center justify-center min-w-full pt-5 px-2">
        <div class="min-w-full">
            <input (keyup)="onSearchChange(getValue($event))" id="modalSearchBox" placeholder="Recherche..."
                class="border-0 rounded-sm text-lg font-medium outline-none ring-0 h-14 px-2 lg:px-4  border-b-[6px] border-skin-success w-full" />
            <p *ngIf="results.length === 0" class="text-xs text-center text-skin-base mt-4">Aucun résultat pour l'instant
            </p>
            <ul *ngIf="results.length > 0" class="flex flex-col gap-0.5 mt-2">
                <li *ngFor="let result of results" mat-button mat-dialog-close class="flex items-start justify-between gap-2 p-2 bg-skin-fill-primary hover:bg-skin-fill-accent/70 cursor-pointer">
                    <a *ngIf="isArticle(result)" routerLink="{{'/articles/'+result.id}}">
                        <h2 class="font-semibold text-skin-base  text-lg">{{result.title}}</h2>
                        <p class="line-clamp-2 text-skin-muted  text-sm mt-1">{{ result.summary }}</p>
                    </a>

                    <a *ngIf="isCourse(result)" routerLink="{{'/cours/'+result.id}}">
                        <h2 class="font-semibold text-skin-base  text-lg">{{result.title}}</h2>
                        <p class="line-clamp-2 text-skin-muted text-sm mt-1">{{ result.summary }}</p>
                    </a>

                    <a *ngIf="isLesson(result)" routerLink="{{'/cours/'+(result.courseId)+'/'+result.id}}">
                        <h2 class="font-semibold text-skin-base  text-lg">{{result.title}}</h2>
                        <p class="line-clamp-2 text-skin-muted text-sm mt-1">{{ result.content }}</p>
                    </a>

                    <button type="button" aria-labelledby="A tag"
                        class="flex items-center text-skin-base px-3 py-1 text-sm font-medium  rounded-full border   transition-all duration-200">
                        <svg class="mr-1 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="3"></circle>
                        </svg>
                        <span class="truncate lowercase font-semibold ">{{showSearchResultBadgeLabel(result)}}</span>
                    </button>
                </li>
            </ul>
        </div>
    </div>
</mat-dialog-content>