<div class="container">

    <!-- <img src="assets/error_network.png" class="h-72 w-72"/> -->

    <div class="my-10 text-center ">

        <h3 class="font-bold text-md mb-10">Oups! problème de connexion internet.</h3>

        <button (click)="onRetry()" class="group font-semibold relative w-full flex justify-center gap-2 py-2 px-4 border border-transparent text-sm shadow-lg rounded-full text-white bg-primary-300 hover:bg-primary-500 focus:outline-none transition-all duration-200">Réessayer</button>

    </div>

</div>