<!-- overflow-scroll -->
<div class="sidebar_curriculum scrollbar lg:max-w-[370px]">
    <div class="px-1.5 pt-5 lg:pr-8 lg:pl-0">
        <ng-container *ngIf="!loading">
            <div class="curriculum_wrapper max-w-3xl m-auto">
                <h2 class="flex justify-between items-center pb-4 lg:pb-6 lg:pl-2 font-black text-xl lg:text-2xl ">
                    <a routerLink="{{'/cours/'+(course|slugify)}}">{{course?.title}}</a>

                    <app-mentored-icon *ngIf="course?.mentored" [position]="'bottom-l'" [size]="'w-24'" [classes]="'w-auto'">
                    </app-mentored-icon>
                </h2>

                <ng-container *ngIf="canEdit">
                    <div class="flex gap-3">
                        <button (click)="openChapterInitDialog(course?.id)"
                            class="flex items-center gap-1 mb-4 border shadow-lg rounded-md p-4   transition-all duration-300">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" class="w-6 h-6">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                            </svg>
                            <span>Nouveau chapitre</span>
                        </button>

                        <button (click)="publishCourse(course)" [disabled]="isPublishing"
                            [ngClass]="{'cursor-not-allowed bg-opacity-60 hover:bg-opacity-60': isPublishing}"
                            class="flex items-center gap-1 mb-4 border shadow-lg rounded-md px-4    transition-all duration-300">
                            <span class="line-clamp-1" [ngClass]="{'text-sm': isPublishing}">{{publishBtnText}}</span>
                            <svg *ngIf="isPublishing" class="w-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 100 100"
                                preserveAspectRatio="xMidYMid">
                                <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="3" r="35"
                                    stroke-dasharray="164.93361431346415 56.97787143782138"
                                    transform="matrix(1,0,0,1,0,0)" style="animation-play-state:paused"></circle>
                            </svg>
                        </button>
                    </div>
                </ng-container>

                <cdk-accordion [multi]="true">

                    <div cdkDropListGroup class="curriculum_chapters_wrapper">

                        <ul *ngIf="chapters?.length" cdkDropList [cdkDropListData]="chapters"
                            (cdkDropListDropped)="dropChapters($event)" class="curriculum_chapter mb-1">

                            <cdk-accordion-item *ngFor="let chapter of chapters ; let index = index; first as isFirst"
                                #accordionItem="cdkAccordionItem" role="button" tabindex="0"
                                [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                                [attr.aria-controls]="'accordion-body-' + index" [expanded]="isFirst">

                                <li cdkDrag [cdkDragDisabled]="!canEdit || mobileQuery.matches"
                                    [ngClass]="{'cursor-grab' : canEdit}">

                                    <div (click)="chapter?.lessons?.length && accordionItem.toggle()"
                                        class="curriculum_chapter_title uppercase opacity-90 shadow-md rounded-sm group flex items-center justify-between   dark: p-3 font-semibold mb-1">
                                        <span>{{chapter?.title}}</span>

                                        <!-- Contextuel menu for editing Chapter -->
                                        <div *ngIf="canEdit">
                                            <button [matMenuTriggerFor]="menu"
                                                class="rounded-full p-2 hover: transition-all duration-500"
                                                aria-label="icon-button with a menu">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 "
                                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                                                </svg>
                                            </button>

                                            <mat-menu #menu="matMenu" class="font-normal  ">
                                                <button (click)="openLessonInitDialog(chapter?.id, course)"
                                                    aria-labelledby="Add Lesson button"
                                                    class="flex items-end gap-3 w-full text-left px-4 py-2   text-sm transition-all duration-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                                    </svg>
                                                    <span>Ajouter une leçon</span>
                                                </button>
                                                <button (click)="openChapterUpdateDialog(chapter)"
                                                    aria-labelledby="Delete chapter button"
                                                    class="flex items-end gap-3 w-full text-left px-4 py-2   text-sm transition-all duration-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                    </svg>
                                                    <span>Modifier ce chapitre</span>
                                                </button>
                                                <button (click)="openChapterDeleteDialog(chapter?.id)"
                                                    aria-labelledby="Delete chapter button"
                                                    class="flex items-end gap-3 w-full text-left px-4 py-2   text-sm transition-all duration-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                    <span>Supprimer ce chapitre</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>

                                    <div role="region" [style.display]="accordionItem.expanded ? '' : 'none'"
                                        [attr.id]="'accordion-body-' + index"
                                        [attr.aria-labelledby]="'accordion-header-' + index">

                                        <ul *ngIf="chapter?.lessons?.length" cdkDropList
                                            [cdkDropListData]="chapter?.lessons"
                                            (cdkDropListDropped)="dropLessons($event)"
                                            class="curriculum_chapter_lessons mt-1 space-y-0.5">

                                            <ng-container *ngFor="let lesson of chapter?.lessons ; let j = index">

                                                <li cdkDrag [cdkDragDisabled]="!canEdit || mobileQuery.matches"
                                                    id="{{lesson.id}}" *ngIf="lesson?.chapterId === chapter?.id"
                                                    [ngClass]="{'': isActiveLesson(lesson.id), '! opacity-80': !lesson?.free && !canAccessCourse, 'cursor-grab' : canEdit}"
                                                    class="curriculum_chapter_lesson_elt    transition-all duration-200">
                                                    <div
                                                        class="lesson_link w-full group flex justify-between items-center gap-2">
                                                        <div class="w-full flex items-center gap-2 pr-3">
                                                            <a routerLink="{{'/cours/'+(course|slugify)+'/'+(lesson|slugify)}}"
                                                                [style.pointer-events]="lesson?.free && !canAccessCourse ? 'auto' : 'auto'"
                                                                class="w-full flex items-center p-3 gap-2"
                                                                (click)="mobileQuery.matches ? drawer?.toggle() : null">

                                                                <span class="lesson_small_icon">
                                                                    <ng-container
                                                                        *ngIf="!(isLessonCompleted(lesson) | async)">
                                                                        <svg *ngIf="lesson?.type === 'video' && (lesson?.free || canAccessCourse)"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            fill="none" viewBox="0 0 24 24"
                                                                            stroke-width="1.5" stroke="currentColor"
                                                                            class="w-5 h-5 ">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                d="M6 20.25h12m-7.5-3v3m3-3v3m-10.125-3h17.25c.621 0 1.125-.504 1.125-1.125V4.875c0-.621-.504-1.125-1.125-1.125H3.375c-.621 0-1.125.504-1.125 1.125v11.25c0 .621.504 1.125 1.125 1.125z" />
                                                                        </svg>

                                                                        <svg *ngIf="lesson?.type === 'text' && (lesson?.free || canAccessCourse)"
                                                                            xmlns="http://www.w3.org/2000/svg"
                                                                            fill="none" viewBox="0 0 24 24"
                                                                            stroke-width="1.5" stroke="currentColor"
                                                                            class="w-5 h-5 ">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round"
                                                                                d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                                                                        </svg>
                                                                    </ng-container>

                                                                    <svg *ngIf="(isLessonCompleted(lesson) | async) && canAccessCourse"
                                                                        xmlns="http://www.w3.org/2000/svg" fill="none"
                                                                        viewBox="0 0 24 24" stroke-width="1.5"
                                                                        stroke="currentColor"
                                                                        class="w-5 h-5 ">
                                                                        <path stroke-linecap="round"
                                                                            stroke-linejoin="round"
                                                                            d="M4.5 12.75l6 6 9-13.5" />
                                                                    </svg>

                                                                    <svg *ngIf="!lesson?.free && !canAccessCourse"
                                                                        xmlns="http://www.w3.org/2000/svg"
                                                                        viewBox="0 0 24 24" fill="currentColor"
                                                                        class="w-5 h-5 ">
                                                                        <path fill-rule="evenodd"
                                                                            d="M12 1.5a5.25 5.25 0 00-5.25 5.25v3a3 3 0 00-3 3v6.75a3 3 0 003 3h10.5a3 3 0 003-3v-6.75a3 3 0 00-3-3v-3c0-2.9-2.35-5.25-5.25-5.25zm3.75 8.25v-3a3.75 3.75 0 10-7.5 0v3h7.5z"
                                                                            clip-rule="evenodd" />
                                                                    </svg>
                                                                </span>

                                                                <span
                                                                    [ngClass]="{'font-bold lg:text-lg ': isActiveLesson(lesson.id), '':isActiveLesson(lesson.id) && !lesson.free && !canAccessCourse}"
                                                                    class="lesson_name font-normal line-clamp-2 lg:line-clamp-none">
                                                                    {{capitalize(lesson?.title)}}
                                                                </span>
                                                            </a>

                                                            <div
                                                                class="right_block flex items-center justify-end gap-1.5 ml-auto">
                                                                <!-- Contextual menu for editing Lesson -->
                                                                <ng-container *ngIf="canEdit">
                                                                    <button [matMenuTriggerFor]="menu"
                                                                        class="rounded-full p-2 lg:opacity-0 group-hover:opacity-100 hover: transition-all duration-500"
                                                                        aria-label="icon-button with a menu">
                                                                        <svg xmlns="http://www.w3.org/2000/svg"
                                                                            class="w-4 " fill="none"
                                                                            viewBox="0 0 24 24" stroke="currentColor">
                                                                            <path stroke-linecap="round"
                                                                                stroke-linejoin="round" stroke-width="2"
                                                                                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                                                                        </svg>
                                                                    </button>

                                                                    <mat-menu #menu="matMenu"
                                                                        class="font-normal  ">
                                                                        <a aria-labelledby="Link to lesson edit page"
                                                                            routerLink="/cours/{{course|slugify}}/{{lesson|slugify}}/edit"
                                                                            class="flex items-end gap-3 px-4 py-2   text-sm transition-all duration-200">
                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                fill="none" viewBox="0 0 24 24"
                                                                                stroke-width="1.5" stroke="currentColor"
                                                                                class="w-5 h-5">
                                                                                <path stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                                            </svg>

                                                                            <span>Modifier la leçon</span>
                                                                        </a>
                                                                        <button
                                                                            (click)="openLessonDeleteDialog(lesson?.id)"
                                                                            aria-labelledby="Delete article button"
                                                                            class="flex items-end gap-3 w-full text-left px-4 py-2   text-sm transition-all duration-200">
                                                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                                                fill="none" viewBox="0 0 24 24"
                                                                                stroke-width="1.5" stroke="currentColor"
                                                                                class="w-5 h-5">
                                                                                <path stroke-linecap="round"
                                                                                    stroke-linejoin="round"
                                                                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                                            </svg>
                                                                            <span>Supprimer cette leçon</span>
                                                                        </button>
                                                                    </mat-menu>
                                                                </ng-container>

                                                                <span *ngIf="durations.length"
                                                                    [ngClass]="{'!  !opacity-50': !lesson?.free && !canAccessCourse}"
                                                                    class="lesson_duration rounded-md p-1  text-xs  font-normale">
                                                                    <!-- {{durations[i][j]}} -->
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </li>
                                            </ng-container>
                                        </ul>
                                    </div>

                                </li>
                            </cdk-accordion-item>

                        </ul>

                    </div>

                </cdk-accordion>

            </div>
        </ng-container>

        <ng-container *ngIf="loading" class="articleContentSkeletonLoader">
            <ngx-skeleton-loader class="block" count="40" appearance="line" [theme]="{ 
                                                                'border-radius': '5px',
                                                                    'height.px': 50,
                                                                    'width.%': 100
                                                                }">
            </ngx-skeleton-loader>
        </ng-container>
    </div>
</div>