.scrollbar::-webkit-scrollbar {
  height: 0.175rem;
  width: 0.175rem;
}

.scrollbar::-webkit-scrollbar-thumb {
  @apply bg-primary-500 rounded-sm;
}

.scrollbar::-webkit-scrollbar-track {
  @apply bg-primary-100;
}

.sidebar_curriculum {
  scroll-behavior: smooth;
}
