<article class="article-card lg:grid grid-cols-3 gap-6 group">
    <a aria-labelledby="Link article detail page" routerLink="/articles/{{article | slugify}}"
        class="article-preview hover:opacity-75">
        <div class="aspect-w-3 aspect-h-2 shadow-lg rounded-lg overflow-hidden">
            <app-image [classes]="'object-cover transition-all duration-200'"
                [sourceUrl]="article?.thumbnail!" [alt]="article?.title!">
            </app-image>
        </div>
    </a>

    <div class="col-span-2 article-text lg:flex flex-col justify-between mt-4 lg:mt-0">

        <div class="flex justify-between items-start">
            <div class="article-tags-container flex flex-wrap items-center gap-1">
                <a *ngFor="let tag of article?.tags" routerLink='/articles'
                    [queryParams]="{tag:tag.name}"
                    class="tag-item flex items-center space-x-2 group">
                    <span
                        class="inline-flex text-skin-inverted items-center leading-none px-2.5 py-1.5 text-sm font-semibold rounded-full border border-skin-borderBold">
                        <svg [ngStyle]="{'color': tag.colorCode}" class="mr-1 h-2 w-2"
                            fill="currentColor" viewBox="0 0 8 8">
                            <circle cx="4" cy="4" r="3"></circle>
                        </svg>
                        <span class="hover:text-primary-500">
                            {{tag.name}}
                        </span>

                    </span>
                </a>

            </div>

            <div *ngIf="authService.currentUsr as currentUsr">
                <div *ngIf="isAuthor(currentUsr, article) || authService.isAdmin">
                    <button [matMenuTriggerFor]="menu"
                        class="rounded-full p-2 opacity-0 group-hover:opacity-100 hover:bg-skin-link transition-all duration-500"
                        aria-label="icon-button with a menu">
                        <svg xmlns="http://www.w3.org/2000/svg" class="w-4 text-secondary"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                stroke-width="2"
                                d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                        </svg>
                    </button>

                    <mat-menu #menu="matMenu" class="font-normal text-skin-base bg-skin-bg">
                        <a aria-labelledby="Link to article edit page" routerLink="/articles/{{article|slugify}}/edit"
                            class="flex items-end gap-3 px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-sm transition-all duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                            </svg>
                    
                            <span>{{ 'articleDetail.edit' | translate }}</span>
                        </a>
                        <button (click)="openArticleDeleteDialog(article?.id)" aria-labelledby="Delete article button"
                            class="flex items-end gap-3 w-full text-left px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-sm transition-all duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                class="w-5 h-5">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                    d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                            </svg>
                            <span>{{ 'articleDetail.delete' | translate }}</span>
                        </button>
                    </mat-menu>
                </div>
            </div>
        </div>

        <div class="mt-2">
            <a aria-labelledby="Link to about page" routerLink="/articles/{{article|slugify}}"
                class="article-title">
                <h4
                    class="article-title text-lg lg:text-2xl inline-block leading-6 font-semibold text-skin-inverted transition-all duration-200 hover:text-primary-500">
                    {{capitalize(article?.title!)}}
                </h4>
            </a>

            <p
                class="article-description mt-1 text-sm lg:text-base tracking-wide font-light text-skin-text leading-5 line-clamp-2">
                <ng-container *ngIf="article?.summary">{{article?.summary}}</ng-container>
            </p>

            <div class="article-author mt-3 flex items-center">
                <div class="author-image flex-shrink-0">
                    <a aria-labelledby="Link to author profile"
                        [routerLink]="authService?.currentUsr?.id == article?.author?.id ? ['/user/profile'] : ['/user/' + article?.author?.id]">
                        <app-image [classes]="'h-10 w-10 rounded-full'"
                            [sourceUrl]="article.author?.profilePicture!"
                            [alt]="article?.author?.fullName!">
                        </app-image>
                    </a>
                </div>

                <div class="author-text ml-3">
                    <p class="text-sm font-semibold text-skin-inverted">
                        <a aria-labelledby="Link to about page"
                            [routerLink]="authService?.currentUsr?.id == article?.author?.id ? ['/user/profile'] : ['/user/' + article?.author?.id]"
                            class="hover:underline">
                            {{article?.author?.fullName}}
                        </a>
                    </p>
                    <div class="flex space-x-1 text-sm text-skin-muted">
                        <time [dateTime]="article?.publishedAt | date">{{article?.publishedAt |
                            date}}</time>
                        <span aria-hidden="true">·</span>
                        <span>
                            {{article?.readingTime}}{{ 'articles.ofReadTime' | translate}}
                        </span>
                    </div>
                </div>

                <div
                    class="reactions-total flex items-center justify-end text-skin-inverted gap-2 flex-1 self-end text-right text-sm font-semibold">
                    <span class="inline-flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="inline w-[18px] text-accent-300" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                        </svg>
                        <span>{{nFormater(article.viewsCount)}}</span>
                    </span>

                    <span class="inline-flex items-center gap-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="inline w-4 text-accent-300" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
                        </svg>
                        <span>{{nFormater(article?.reactions?.length)}}</span>
                    </span>
                </div>
            </div>
        </div>
    </div>

</article>
