<main class="articles-list-container site-container py-5">
    <div class="max-w-2xl mx-auto">
        <div class="main-side-container">
            <div class="admin-dashboard-navigation-btns flex lg:hidden mt-2 sm:mt-8">
                <button aria-label="Navigate back button" (click)="navigate.back()"
                    class="flex items-center gap-1 font-semibold">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="text-primary-500"
                        data-supported-dps="24x24" fill="currentColor" width="24" height="24" focusable="false">
                        <path d="M9 4l-4.87 7H22v2H4.13L9 20H6.56L1 12l5.56-8z"></path>
                    </svg>
                    <span class="text-primary-500 hidden text-base">
                        {{'adminDashboard.backToProfileText' | translate}}
                    </span>
                </button>

                <div class="flex-1">
                    <h1 class="text-primary-500 font-semibold text-xl sm:text-2xl text-center">
                        {{'profile.allAdminArticles' | translate}}
                    </h1>
                </div>
            </div>


            <div class="tabs-wrapper mt-8 border-b border-skin-border">
                <nav class="relative flex space-x-8 -mb-[2px]" aria-label="Tabs">
                    <button type="button" aria-current="page" (click)="sortBy(PUBLISHED)"
                        aria-labelledby="Toggle to published articles tab"
                        [ngClass]="activePage === PUBLISHED ? 'active-tab' : ''"
                        class="text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'adminDashboard.published' | translate}}</span>
                    </button>

                    <button type=" button" aria-current="false" (click)="sortBy(DRAFT)"
                        aria-labelledby="Toggle to draft articles tab"
                        [ngClass]="activePage === DRAFT ? 'active-tab' : ''"
                        class="text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'adminDashboard.draft' | translate}}</span>
                    </button>

                    <button type="button" aria-current="false" (click)="sortBy(IN_REVIEW)"
                        aria-labelledby="Toggle to in-review articles tab"
                        [ngClass]="activePage === IN_REVIEW ? 'active-tab' : ''"
                        class="text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'adminDashboard.inReview' | translate}}</span>
                    </button>
                </nav>
            </div>

            <div class="articles-wrapper articles-scrollable-list-panel no-scrollbar py-12 space-y-12 lg:space-y-11 max-w-lg mx-auto lg:max-w-none min-h-screen"
                infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

                <div class="flex justify-center items-center h-full" *appShellRender>
                    <svg class="w-10 h-10 animate-spin" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                        preserveAspectRatio="xMidYMid">
                        <circle cx="50" cy="50" fill="none" stroke="#15b2bc" stroke-width="10" r="35"
                            stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                            style="animation-play-state:paused"></circle>
                    </svg>
                </div>

                <ng-template [ngIf]="articles" *appShellNoRender>
                    <div *ngFor="let article of articles">
                        <app-articles-card [article]="article"></app-articles-card>
                    </div>
                </ng-template>

                <ng-template [ngIf]="loading">
                    <div *ngFor="let elt of [].constructor(pageItemsLimit)">
                        <div class="skeleton-container lg:grid grid-cols-3 gap-6 items-start">
                            <div class="aspect-w-3 aspect-h-2">
                                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                    'border-radius': '8px',
                                     'height.%': 100,
                                     'width.%': 100
                                    }">
                                </ngx-skeleton-loader>
                            </div>

                            <div class="col-span-2 mt-4 lg:mt-0">
                                <div class="tags-container flex space-x-3">
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                    'border-radius': '9999px',
                                        height: '30px',
                                        width: '100px',
                                        display: 'block'
                                    }">
                                    </ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                        'border-radius': '9999px',
                                            height: '30px',
                                            width: '100px',
                                            display: 'block'
                                        }">
                                    </ngx-skeleton-loader>
                                </div>

                                <div class="content-container mt-2">
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                    'border-radius': '5px',
                                        height: '40px',
                                        display: 'block'
                                    }">
                                    </ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="2" appearance="line" [theme]="{ 
                                            'border-radius': '5px',
                                                height: '15px',
                                                display: 'block'
                                            }">
                                    </ngx-skeleton-loader>

                                    <div class="flex items-center space-x-2">
                                        <div class="">
                                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '9999px',
                                                'width.px': 50,
                                                'height.px': 50
                                            }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="flex-1">
                                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '5px',
                                                height: '10px',
                                                display: 'block'
                                            }">
                                            </ngx-skeleton-loader>
                                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '5px',
                                                height: '10px',
                                                 display: 'block'
                                            }">
                                            </ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <ng-template [ngIf]="errorMessage && articles?.length === 0">
                    <div class="flex flex-col justify-center items-center h-96 space-y-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-primary-500" fill="currentColor"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
                        </svg>
                        <div class="text-sm font-semibold text-skin-base">{{errorMessage}}</div>
                    </div>
                </ng-template>

                <!-- loadingMorespinner -->
                <div *ngIf="loadingMore" class="flex justify-center py-5">
                    <svg class="w-10 h-10 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                        preserveAspectRatio="xMidYMid">
                        <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                            stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                            style="animation-play-state:paused"></circle>
                    </svg>
                </div>

                <!-- Alert no more Articles -->
                <!-- <div *ngIf="notEmptyArticles && !loadingMore" class="py-5">
                    <div class="flex justify-center">
                        <div class="text-skin-base text-sm font-bold">{{'adminDashboard.noMoreArticles' | translate}}
                        </div>
                    </div>
                </div> -->
            </div>

        </div>
    </div>

</main>