progress {
  @apply border border-primary-500 rounded-lg overflow-hidden;
}
progress::-webkit-progress-bar {
  @apply bg-primary-100;
}
progress::-webkit-progress-value {
  @apply bg-primary-500;
}
progress::-moz-progress-bar {
}

@media (min-width: 64em) and (max-width: 130em) {
  .lesson_content {
    @apply w-[calc(100%-350px)] m-0 ml-auto;
  }
}
