<div class="reactions py-3 lg:pl-2 border-y border-skin-border">
    <div *ngIf="!loading && (obj.status === 'PUBLISHED'); else loadingSkeleton"
        class="reactions-container flex flex-wrap justify-center lg:justify-start gap-3">
        <button *ngFor="let reaction of typesOfReactions" (click)="sendReactionType(reaction.action)"
            class="group flex items-center justify-center transition-all duration-300"
            attr.aria-label="{{reaction.action}} button">

            <div
                class="reaction-wrapper flex items-center space-x-1 group-hover:-translate-y-2 transition-all ease-in duration-200">
                <ng-container>
                    <div class="group-hover:scale-125 transition-all ease-in duration-200">
                        {{reaction.emoji}}
                    </div>
                    <div class="text-sm font-semibold text-primary-500">
                        {{reactionCounts[reaction.action]}}
                    </div>
                </ng-container>
            </div>

        </button>
    </div>

    <ng-template #loadingSkeleton>
        <ngx-skeleton-loader class="space-x-2" count="4" appearance="line" [theme]="{ 
                                        'border-radius': '5px',
                                            height: '20px',
                                            width: '20px'
                                        }">
        </ngx-skeleton-loader>
    </ng-template>

    <div *ngIf="!loading && (obj.status !== 'PUBLISHED')" class="text-sm font-medium px-4 py-2 text-secondary">
        {{ 'course.publishToReactText' | translate }}
    </div>
</div>