<main class="relative py-10 max-w-7xl mx-auto">
    <div class="login-content-wrapper flex items-center justify-center min-h-full">
        <div class="max-w-md w-full space-y-8">
            <div>
                <h2 class="text-center text-3xl font-extrabold text-skin-inverted font-mono">
                    Se connecter à son compte
                </h2>
            </div>

            <form class="space-y-6">
                <div class="mt-5"></div>
                <div class="rounded-md shadow-sm space-y-4">
                    <div>
                        <label for="email-address" class="sr-only">Adresse E-mail</label>
                        <div class="">
                            <div class="relative ">
                                <input name="email" type="email" id="email"
                                    class="shadow-sm focus:ring-primary-500 focus:border-x-primary-500 block w-full placeholder-skin-muted focus:outline-none focus:placeholder-skin-muted font-normal text-skin-base sm:text-sm border-skin-border rounded-md"
                                    autocomplete="email" required placeholder="Adresse E-mail">
                            </div>
                        </div>
                    </div>
                    <div>
                        <label for="password" class="sr-only">Mot de passe</label>
                        <div class="">
                            <div class="relative ">
                                <input name="password" type="password" id="password"
                                    class="shadow-sm focus:ring-primary-500 focus:border-x-primary-500 block w-full placeholder-skin-muted focus:outline-none focus:placeholder-skin-muted font-normal text-skin-base sm:text-sm border-skin-border rounded-md"
                                    autocomplete="current-password" required placeholder="Mot de passe">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <input id="remember_me" name="remember_me" type="checkbox"
                            class="h-4 w-4 mr-2 text-green-600 bg-skin-input focus:ring-primary-500 border-skin-border rounded">
                        <label for="remember_me" class="ml-2 block text-sm text-skin-base font-normal cursor-pointer">
                            Se souvenir de moi
                        </label>
                    </div>
                    <div class="text-sm">
                        <a href="#" class="font-medium text-green-600 hover:text-green-500">
                            Mot de passe oublié?
                        </a>
                    </div>
                </div>

                <div>
                    <button type="submit"
                        class="button group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary-500 hover:bg-primary-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                        <span class="lock-btn absolute flex items-center pl-3">
                            <svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"
                                fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        Se connecter
                    </button>
                </div>
            </form>

            <div>
                <div class="relative mt-5">
                    <div class="absolute inset-0 flex items-center">
                        <div class="w-full border-t border-skin-base"></div>
                    </div>
                    <div class="relative flex justify-center text-sm">
                        <span class="px-2 bg-skin-body text-skin-base font-normal">
                            Ou continuer avec
                        </span>
                    </div>
                </div>
                <div class="mt-6 grid grid-cols-2 gap-2">
                    <div>
                        <a href="#"
                            class="button inline-flex justify-center py-2 px-4 border border-skin-base rounded-md shadow-sm bg-skin-button text-sm text-skin-base hover:bg-skin-button-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 w-full font-normal">
                            <span class="sr-only">Continuer avec Github</span>
                            <svg class="w-5 h-5 mr-2 -ml-1" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M12 2C6.477 2 2 6.484 2 12.017c0 4.425 2.865 8.18 6.839 9.504.5.092.682-.217.682-.483 0-.237-.008-.868-.013-1.703-2.782.605-3.369-1.343-3.369-1.343-.454-1.158-1.11-1.466-1.11-1.466-.908-.62.069-.608.069-.608 1.003.07 1.531 1.032 1.531 1.032.892 1.53 2.341 1.088 2.91.832.092-.647.35-1.088.636-1.338-2.22-.253-4.555-1.113-4.555-4.951 0-1.093.39-1.988 1.029-2.688-.103-.253-.446-1.272.098-2.65 0 0 .84-.27 2.75 1.026A9.564 9.564 0 0112 6.844c.85.004 1.705.115 2.504.337 1.909-1.296 2.747-1.027 2.747-1.027.546 1.379.202 2.398.1 2.651.64.7 1.028 1.595 1.028 2.688 0 3.848-2.339 4.695-4.566 4.943.359.309.678.92.678 1.855 0 1.338-.012 2.419-.012 2.747 0 .268.18.58.688.482A10.019 10.019 0 0022 12.017C22 6.484 17.522 2 12 2z"
                                    clip-rule="evenodd"></path>
                            </svg>
                            Github
                        </a>
                    </div>
                    <div>
                        <a href="#"
                            class="button inline-flex justify-center py-2 px-4 border border-skin-base rounded-md shadow-sm bg-skin-button text-sm text-skin-base hover:bg-skin-button-hover focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500 w-full font-normal">
                            <span class="sr-only">Continuer avec Twitter</span>
                            <svg class="h-5 w-5 mr-2 -ml-1 rounded-md" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 32 32">
                                <path d="M28.16 32H2.475V20.58H5.32v8.575h19.956V20.58h2.884z" fill="currentColor" />
                                <path
                                    d="M8.477 19.8l13.993 2.923.585-2.806-13.993-2.923zm1.832-6.704l12.94 6.04 1.208-2.572-12.94-6.08zm3.586-6.353l10.99 9.12 1.832-2.183-10.99-9.12zM20.99 0l-2.3 1.715 8.536 11.46 2.3-1.715zM8.166 26.27H22.43v-2.845H8.166v2.845z"
                                    fill="currentColor" />
                            </svg>
                            StackOverflow
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>