<section class="">
    <div class="px-4 mx-auto max-w-screen-xl lg:px-6">
        <div class="mx-auto max-w-screen-md text-center mb-8 lg:mb-12">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-secondary">Nos offres</h2>
            <p class="mb-5 font-light text-gray-400 sm:text-xl">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores, provident! Eum vero 
                dicta aliquid molestiae praesentium laborum, voluptates tempore officia, 
            </p>
        </div>

        <div class="space-y-8 lg:grid lg:grid-cols-3 sm:gap-6 xl:gap-10 lg:space-y-0">

            <!-- Pricing Card -->
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-secondary bg-white rounded-xl shadow  xl:p-8  ">
                <h3 class="mb-4 text-2xl font-semibold">Hebdo (7 jours)</h3>
                <p class="font-light text-gray-500 sm:text-lg ">Meilleure option pour un usage découverte</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">0.8€</span>
                    <span class="text-gray-500">/sem</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-600 " fill="currentColor"
                            viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Messages illimités</span>
                    </li>
                </ul>
                <a href="#"
                    class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-200">
                    Essayez gratuitement <br>
                    Mettez à niveau plus tard
                </a>
            </div>

            <!-- Pricing Card -->
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-secondary bg-white rounded-xl border-2 border-primary-600 shadow  xl:p-8  ">
                <h3 class="mb-4 text-2xl font-semibold">Mensuel (30 jours)</h3>
                <p class="font-light text-gray-500 sm:text-lg ">Pertinent pour une utilisation quotidienne.</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">3.1€</span>
                    <span class="text-gray-500 " >/mois</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-600 " fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Messages illimités</span>
                    </li>
                </ul>
                <a href="#"
                    class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-200">
                    Essayez gratuitement <br>
                    Mettez à niveau plus tard
                </a>
            </div>

            <!-- Pricing Card -->
            <div
                class="flex flex-col p-6 mx-auto max-w-lg text-center text-secondary bg-white rounded-xl shadow  xl:p-8  ">
                <h3 class="mb-4 text-2xl font-semibold">Annuel (365 jours)</h3>
                <p class="font-light text-gray-500 sm:text-lg ">Idéal pour les utilisations à grande échelle</p>
                <div class="flex justify-center items-baseline my-8">
                    <span class="mr-2 text-5xl font-extrabold">37.2€</span>
                    <span class="text-gray-500 ">/an</span>
                </div>
                <!-- List -->
                <ul role="list" class="mb-8 space-y-4 text-left">
                    <li class="flex items-center space-x-3">
                        <!-- Icon -->
                        <svg class="flex-shrink-0 w-5 h-5 text-primary-600 " fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd"
                                d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z"
                                clip-rule="evenodd"></path>
                        </svg>
                        <span>Messages illimités</span>
                    </li>
                </ul>
                <a href="#"
                    class="text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:ring-primary-200 font-medium rounded-lg text-sm px-5 py-2.5 text-center transition-all duration-200">
                    Essayez gratuitement <br>
                    Mettez à niveau plus tard
                </a>
            </div>

        </div>
    </div>
</section>