.header,
.header-container {
  @apply bg-transparent;
}

.header.transparent,
.header.transparent .header-container {
  @apply !bg-transparent;
}

.header {
  @apply sticky top-0 shadow-sm z-40;
}

.header.transparent {
  @apply !relative shadow-none;
}

.header-container {
  max-width: 95rem;
  @apply mx-auto !px-4 xl:!px-[5%] flex justify-between;
}

.header .navLink {
  @apply hidden lg:block mx-4 last:mr-0  transition-all duration-200;
}

.header .navLink div {
  @apply text-base font-normal font-ubuntu;
}

::ng-deep .mat-progress-bar-fill::after {
  @apply !bg-white;
}

::ng-deep .mat-progress-bar-buffer {
  @apply !bg-[#e4e8eb];
}
