<div class="">
    <div *ngIf="!editMode" class="profile-content">
        <div class="user-credentials flex flex-col space-y-4 px-4 py-6 rounded-lg  shadow-md">
            <nav class="user-credentials-nav flex gap-2 items-center">
                <h2 class="text-xl sm:text-3xl  font-bold">Profil:</h2>
                <div class="edit-action-btn">
                    <button aria-labelledby="Link to about page" (click)="edit()"
                        class="inline-flex group items-center justify-center h-10 w-10 sm:h-14 sm:w-14 p-1 hover:shadow-sm rounded-full   transition-all duration-200">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24" fill="currentColor"
                            class="" width="24" height="24" focusable="false">
                            <path
                                d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                            </path>
                        </svg>
                    </button>
                </div>
            </nav>
    
            <div class="full-name text-base">
                <label class="">Nom</label>
                <div class="">{{data.name}}</div>
            </div>
            
            <div class="full-name text-base">
                <label class="">Prénom</label>
                <div class="">{{data.prename}}</div>
            </div>

            <div class="full-name text-base">
                <label class="">Téléphone</label>
                <div class="">{{data.phone}}</div>
            </div>

            <div class="full-name text-base">
                <label class="">Sexe</label>
                <div class="">{{data.gender}}</div>
            </div>

            <div class="full-name text-base">
                <label class="">Ville</label>
                <div class="">{{data.city}}</div>
            </div>

            <div class="full-name text-base">
                <label class="">Statut</label>
                <div class="">{{data.statut}}</div>
            </div>

            <div class="full-name text-base">
                <label class="">Domaine</label>
                <div class="">{{data.domain}}</div>
            </div>
            
        </div>
    </div>

    <div *ngIf="editMode">
        <form [formGroup]="form" (ngSubmit)="save()" class="space-y-4">
            <div class="profile-edit-content flex flex-col space-y-4 px-4 py-6 rounded-lg  shadow-md">
                <div>
                    <label for="name" class="block text-sm font-semibold leading-5 ">
                        Nom
                    </label>
                    <div class="mt-2">
                        <div class="relative ">
                            <input name="name" type="text" id="name" formControlName="name" class="" required
                                placeholder="Nom">
                        </div>
                        <div *ngIf="name?.invalid && name?.dirty" class="">
                            <div *ngIf="name?.errors?.['required']" class="mt-1 text-xs sm:text-sm text-error italic">
                                {{'profileEdit.missingfullName' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="prename" class="block text-sm font-semibold leading-5 ">
                        Prénom
                    </label>
                    <div class="mt-2">
                        <div class="relative ">
                            <input name="prename" type="text" id="prename" formControlName="prename" class="" placeholder="Prénom">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="phone" class="block text-sm font-semibold leading-5 ">
                        Téléphone
                    </label>
                    <div class="mt-2">
                        <div class="relative ">
                            <input name="phone" type="text" id="phone" formControlName="phone" class="" placeholder="Numéro Téléphone">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="password" class="block text-sm font-semibold leading-5 ">
                        Mot de passe
                    </label>
                    <div class="mt-2">
                        <div class="relative ">
                            <input name="password" type="{{ passwordVisible ? 'text' : 'password' }}" id="password" formControlName="password" class="" placeholder="••••••">
                            <button type="button" class="eye-btn group absolute top-2.5 right-2.5" (click)="togglePasswordVisibility()">
                                <svg *ngIf="!passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="h-5 w-5  ">
                                    <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                    <path fill-rule="evenodd"
                                        d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                                        clip-rule="evenodd" />
                                </svg>
                            
                                <svg *ngIf="passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                    class="h-5 w-5  ">
                                    <path
                                        d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                                    <path
                                        d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                                    <path
                                        d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="gender" class="block text-sm font-semibold leading-5 ">
                        Sexe
                    </label>
                    <div class="mt-2">
                        <div class="flex gap-3">
                            <label class="flex items-center space-x-2">
                                <input type="radio" formControlName="gender" value="M" class=" form-radio ">
                                <span class="">Homme</span>
                            </label>
                            <label class="flex items-center space-x-2">
                                <input type="radio" formControlName="gender" value="F" class=" form-radio ">
                                <span class="">Femme</span>
                            </label>
                        </div>
                    </div>
                </div>

                <div>
                    <label for="city" class="block text-sm font-semibold leading-5 ">
                        Ville de résidence
                    </label>
                    <div class="mt-2">
                        <div class="relative ">
                            <input name="city" type="text" id="city" formControlName="city" class="" placeholder="ville">
                        </div>
                    </div>
                </div>

                <div>
                    <label for="statut" class="block text-sm font-semibold leading-5 ">
                        Statut
                    </label>
                    <div class="mt-2">
                        <select formControlName="statut"
                            class="block appearance-none w-full py-2 px-3 border border-gray-300  rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                            <option value="" disabled selected>Sélectionnez une option</option>
                            <option value="Entrepreneur">Entrepreneur</option>
                            <option value="Élève">Élève</option>
                            <option value="Étudiant">Étudiant</option>
                            <option value="Employé">Employé</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </div>
                </div>

                <div>
                    <label for="domain" class="block text-sm font-semibold leading-5 ">
                        Domaine
                    </label>
                    <div class="mt-2">
                        <select formControlName="domain"
                            class="block w-full appearance-none py-2 px-3 border border-gray-300  rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                            <option value="" disabled selected>Sélectionnez une option</option>
                            <option value="Agriculture">Agriculture</option>
                            <option value="Éducation">Éducation</option>
                            <option value="Tech">Tech</option>
                            <option value="Finance">Finance</option>
                            <option value="Construction">Construction</option>
                            <option value="Mode et beauté">Mode et beauté</option>
                            <option value="Santé">Santé</option>
                            <option value="Sport">Sport</option>
                            <option value="Autre">Autre</option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="flex justify-end gap-5 mt-10">
                <button type="button" class="button group shadow-md font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md    transition-all duration-200" (click)="cancel()">Annuler</button>

                <button *ngIf="form.valid" type="submit" [disabled]="saving" [ngClass]="{'opacity-50': saving}"
                    aria-labelledby="Update profile button"
                    class="button group shadow-md font-semibold relative w-full flex justify-center space-x-2 py-2 px-4 border border-transparent text-sm rounded-md    focus:outline-none">
                    <svg *ngIf="saving" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                        preserveAspectRatio="xMidYMid">
                        <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                            stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                            style="animation-play-state:paused"></circle>
                    </svg>
                    <span>{{'profileEdit.updateBtn' | translate}}</span>
                </button>
            
                <button *ngIf="form.invalid" [disabled]="form.invalid || saving" aria-labelledby="Update profile button"
                    class="button group shadow-md font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md   bg-opacity-20">
                    {{'profileEdit.updateBtn' | translate}}
                </button>
            </div>
        </form>
    </div>
</div>

