<main class="max-w-xl mx-auto">
    <div *ngIf="sendingCode" class="flex gap-2 items-center text-skin-base">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
            class="w-6 h-6 text-primary-500 animate-spin">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
        </svg>
        <h2 class="block">Demande d'un SMS en cours...</h2>
    </div>

    <div *ngIf="(verificationId$ | async) && confirmMode" class="phoneConfirm">
        <app-bot-phone-verification 
            [phone]="userNumber" 
            (confirmMode)="updateConfirmModeValue($event)"
            (signupMode)="updateSignupModeValue($event)">
        </app-bot-phone-verification>
    </div>

    <div *ngIf="signupMode" class="signup">

        <h2 class="text-2xl text-primary-500 font-medium mb-4 text-center">Remplissez vos informations manquantes en 3 minutes</h2>

        <div *ngIf="step === 1">
            <form [formGroup]="form" (ngSubmit)="nextStep()" class="space-y-4">
                <div class="profile-edit-content flex flex-col space-y-4 px-4 py-6 rounded-lg bg-skin-bgMuted shadow-md">
                    <div>
                        <label for="name" class="block text-sm font-semibold leading-5 text-skin-muted">
                            Nom
                        </label>
                        <div class="mt-2">
                            <div class="relative ">
                                <input name="name" type="text" id="name" formControlName="name" class="" required placeholder="">
                            </div>
                            <div *ngIf="name?.invalid && name?.dirty" class="">
                                <div *ngIf="name?.errors?.['required']" class="mt-1 text-xs sm:text-sm text-error italic">
                                    {{'profileEdit.missingfullName' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
            
                    <div>
                        <label for="prename" class="block text-sm font-semibold leading-5 text-skin-muted">
                            Prénom
                        </label>
                        <div class="mt-2">
                            <div class="relative ">
                                <input name="prename" type="text" id="prename" formControlName="prename" class=""
                                    placeholder="">
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="gender" class="block text-sm font-semibold leading-5 text-skin-muted">
                            Sexe
                        </label>
                        <div class="mt-2">
                            <div class="flex gap-3">
                                <label class="flex items-center space-x-2">
                                    <input type="radio" formControlName="gender" value="M"
                                        class="text-primary-500 form-radio focus:ring-primary-500">
                                    <span class="text-skin-base">Homme</span>
                                </label>
                                <label class="flex items-center space-x-2">
                                    <input type="radio" formControlName="gender" value="F"
                                        class="text-primary-500 form-radio focus:ring-primtext-primary-500">
                                    <span class="text-skin-base">Femme</span>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="city" class="block text-sm font-semibold leading-5 text-skin-muted">
                            Ville de résidence
                        </label>
                        <div class="mt-2">
                            <div class="relative ">
                                <input name="city" type="text" id="city" formControlName="city" class="" placeholder="">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-end gap-5 mt-10">
                    <button type="button"
                        class="button group shadow-md font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-skin-base bg-skin-card hover:bg-skin-cardMuted transition-all duration-200"
                        (click)="cancel()">Annuler</button>

                    <button *ngIf="name.valid" type="submit" [disabled]="saving" [ngClass]="{'opacity-50': saving}"
                        aria-labelledby="Update profile button"
                        class="button group shadow-md font-semibold relative w-full flex justify-center space-x-2 py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 hover:bg-primary-500 focus:outline-none">
                        <svg *ngIf="saving" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                            preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                                style="animation-play-state:paused"></circle>
                        </svg>
                        <span>Suivant</span>
                    </button>
                
                    <button *ngIf="name.invalid" [disabled]="name.invalid || saving" aria-labelledby="Update profile button"
                        class="button group shadow-md font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 bg-opacity-20">
                        Suivant
                    </button>
                </div>
            </form>
        </div>

        <div *ngIf="step === 2">
            <form [formGroup]="form" (ngSubmit)="signup()" class="space-y-4">
                <div class="profile-edit-content flex flex-col space-y-4 px-4 py-6 rounded-lg bg-skin-bgMuted shadow-md">
                    <div>
                        <label for="statut" class="block text-sm font-semibold leading-5 text-skin-muted">
                            Statut
                        </label>
                        <div class="mt-2">
                            <select formControlName="statut"
                                class="block appearance-none w-full py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                                <option value="" disabled selected>Sélectionnez une option</option>
                                <option value="Élève">Entrepreneur</option>
                                <option value="Élève">Élève</option>
                                <option value="Étudiant">Étudiant</option>
                                <option value="Employé">Employé</option>
                                <option value="Autre">Autre</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="domain" class="block text-sm font-semibold leading-5 text-skin-muted">
                            Domaine
                        </label>
                        <div class="mt-2">
                            <select formControlName="domain"
                                class="block w-full appearance-none py-2 px-3 border border-gray-300 bg-white rounded-md shadow-sm focus:outline-none focus:ring-indigo-500 focus:border-indigo-500">
                                <option value="" disabled selected>Sélectionnez une option</option>
                                <option value="Agriculture">Agriculture</option>
                                <option value="Éducation">Éducation</option>
                                <option value="Tech">Tech</option>
                                <option value="Finance">Finance</option>
                                <option value="Construction">Construction</option>
                                <option value="Mode et beauté">Mode et beauté</option>
                                <option value="Santé">Santé</option>
                                <option value="Sport">Sport</option>
                                <option value="Autre">Autre</option>
                            </select>
                        </div>
                    </div>

                    <div>
                        <label for="password" class="block text-sm font-semibold leading-5 text-skin-muted">
                            Mot de passe
                        </label>
                        <div class="mt-2">
                            <div class="relative ">
                                <input name="password" type="{{ passwordVisible ? 'text' : 'password' }}" id="password" formControlName="password"
                                    class="" placeholder="••••••">
                                <button type="button" class="eye-btn group absolute top-2.5 right-2.5" (click)="togglePasswordVisibility()">
                                    <svg *ngIf="!passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="h-5 w-5 text-skin-borderBold group-hover:text-primary-500">
                                        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                                        <path fill-rule="evenodd"
                                            d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                                            clip-rule="evenodd" />
                                    </svg>
                            
                                    <svg *ngIf="passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                                        class="h-5 w-5 text-skin-borderBold group-hover:text-primary-500">
                                        <path
                                            d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                                        <path
                                            d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                                        <path
                                            d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div *ngIf="password?.invalid && password?.dirty" class="">
                            <div *ngIf="password?.errors?.['required']" class="mt-1 text-xs sm:text-sm text-error italic">
                                {{'signup.missingPassword' | translate}}
                            </div>
                            <div *ngIf="password?.errors?.['minlength']" class="mt-1 text-xs sm:text-sm text-error italic">
                                {{'signup.invalidPasswordLenght' | translate}}
                            </div>
                            <div *ngIf="password?.invalid" class="mt-1 text-xs sm:text-sm text-error italic">
                                {{'signup.invalidPassword' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="flex justify-end gap-5 mt-10">
                    <button type="button"
                        class="button group shadow-md font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-skin-base bg-skin-card hover:bg-skin-cardMuted transition-all duration-200"
                        (click)="back()">Retour</button>

                    <button *ngIf="form.valid" type="submit" [disabled]="saving" [ngClass]="{'opacity-50': saving}"
                        aria-labelledby="Update profile button"
                        class="button group shadow-md font-semibold relative w-full flex justify-center space-x-2 py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 hover:bg-primary-500 focus:outline-none">
                        <svg *ngIf="saving" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                            preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                                style="animation-play-state:paused"></circle>
                        </svg>
                        <span>{{'profileEdit.updateBtn' | translate}}</span>
                    </button>
                
                    <button *ngIf="form.invalid" [disabled]="form.invalid || saving" aria-labelledby="Update profile button"
                        class="button group shadow-md font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 bg-opacity-20">
                        <span>{{'profileEdit.updateBtn' | translate}}</span>
                    </button>
                </div>
            </form>
        </div>

    </div>
</main>

