<main class="bg-white pb-5">
    <div class="site-container lg:h-full grid grid-cols-1 lg:grid-cols-12 gap-5 lg:gap-0 items-center">

        <div class="col-span-6 lg:order-2">
            <app-image [classes]="'object-contain max-w-[300px] lg:max-w-full m-auto'"
                [sourceUrl]="'https://ik.imagekit.io/lfegvix1p/paiement-echec_b1GeTqsPI.jpg?updatedAt=1679080157734'"></app-image>
        </div>

        <div class="col-span-6 w-full text-center lg:text-left lg:max-w-xl lg:ml-auto pt-5">
            <h1 class="text-4xl lg:text-5xl font-light text-error mb-6 lg:mb-16">Paiement echoué!</h1>
            <div>
                <p class="flex flex-col gap-4 text-skin-base">
                    <span>Désolé, nous avons eu un problème pour confirmer votre paiement.</span>
                    <span>Veuillez réessayer.</span>
                </p>

                <div class="flex flex-col lg:flex-row gap-3 lg:gap-5 mt-10">
                    <a routerLink="/cours" class="px-4 py-3 rounded-md font-light text-white bg-primary-500 hover:bg-primary-600 transition-all duration-200">Revisitez la liste des formations</a>
                    <button class="px-4 py-3 rounded-md font-light text-white bg-primary-500 hover:bg-primary-600 transition-all duration-200">Continuez votre achat</button>
                </div>
            </div>
        </div>

    </div>
</main>