apiVersion: apps/v1
kind: Deployment
metadata:
  namespace: zerofiltretech-${env_name}
  name: zerofiltretech-blog-front-${env_name}
spec:
  minReadySeconds: 30
  progressDeadlineSeconds: 120
  replicas: 1
  selector:
    matchLabels:
      app: zerofiltretech-blog-front-${env_name}
  template:
    metadata:
      labels:
        app: zerofiltretech-blog-front-${env_name}
    spec:
      containers:
        - name: zerofiltretech-blog-front-${env_name}
          image: imzerofiltre/zerofiltretech-blog-front:0.0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 4000
          env:
            - name: OVH_AUTH_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: zerofiltre-blog-front
                  key: ovh_auth_password

            - name: GITHUB_CLIENT_ID
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: github_client_id

            - name: API_BASE_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: api_base_url

            - name: BLOG_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: blog_url

            - name: OVH_SERVER_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: ovh_server_url

            - name: OVH_AUTH_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: ovh_auth_url

            - name: OVH_AUTH_NAME
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: ovh_auth_name

            - name: STACK_OVERFLOW_CLIENT_ID
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: stack_overflow_client_id

            - name: STACK_OVERFLOW_REDIRECT_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: stack_overflow_redirect_url

            - name: GITHUB_REDIRECT_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: github_redirect_url

            - name: SERVICES_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: services_url

            - name: COURSES_URL
              valueFrom:
                configMapKeyRef:
                  name: zerofiltre-blog-front
                  key: courses_url
          livenessProbe:
            httpGet:
              path: /
              port: 4000
            initialDelaySeconds: 3
            periodSeconds: 3
---
apiVersion: v1
kind: Service
metadata:
  namespace: zerofiltretech-${env_name}
  name: zerofiltretech-blog-front-${env_name}
spec:
  ports:
    - protocol: TCP
      port: 80
      targetPort: 4000
  selector:
    app: zerofiltretech-blog-front-${env_name}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  namespace: zerofiltretech-${env_name}
  name: zerofiltretech-blog-front-${env_name}
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
    # add an annotation indicating the issuer to use.
    cert-manager.io/cluster-issuer: letsencrypt-prod
spec:
  rules:
    - host: "${env_name}.zerofiltre.tech"
      http:
        paths:
          - path: /
            backend:
              serviceName: zerofiltretech-blog-front-${env_name}
              servicePort: 80
  tls: # < placing a host in the TLS config will indicate a certificate should be created
    - hosts:
        - "${env_name}.zerofiltre.tech"
      secretName: blog-front-zerofiltre-ingress-cert # < cert-manager will store the created certificate in this secret.
