<div class="flex items-center justify-center h-[89vh] bg-gray-100">
  <div class="relative -top-[10%]">
    <div *ngIf="loading" class="text-center">
      <p class="text-gray-600 text-lg animate-pulse">Traitement de votre demande...</p>
    </div>
  
    <div *ngIf="!loading" class="bg-white p-8 rounded-2xl shadow-lg text-center">
      <div *ngIf="success" class="flex flex-col items-center space-y-4">
        <svg class="w-16 h-16 text-primary-500 animate-bounce" fill="none" stroke="currentColor" stroke-width="2"
             viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"/>
        </svg>
        <h2 class="text-2xl font-semibold text-primary-600">Succès !</h2>
        <p class="text-gray-600">{{ message }}</p>
      </div>
  
      <div *ngIf="!success" class="flex flex-col items-center space-y-4">
        <svg class="w-16 h-16 text-red-500 animate-shake" fill="none" stroke="currentColor" stroke-width="2"
             viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
        </svg>
        <h2 class="text-2xl font-semibold text-red-600">Échec</h2>
        <p class="text-gray-600">{{ message }}</p>
      </div>
    </div>
  </div>
</div>