<main class="site-container py-10 lg:py-16">
    <nav class="profile-top-nav flex items-center justify-between max-w-xl mx-auto">
        <div class="profile-navigation flex gap-[5.2rem] w-full items-center">
            <a aria-labelledby="Link to about page" routerLink="/articles"
                class="group hidden lg:flex items-center gap-3 font-semibold relative top-[7px]">
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                    class="text-primary-500 group-hover:text-primary-300 w-[18px]" data-supported-dps="24x24"
                    fill="currentColor" width="24" height="24" focusable="false">
                    <path d="M9 4l-4.87 7H22v2H4.13L9 20H6.56L1 12l5.56-8z"></path>
                </svg>
                <span class="text-primary-500 group-hover:text-primary-300 text-sm">
                    {{'profile.allArticles' | translate}}
                </span>
            </a>

            <h1 class="flex-1 -mb-2.5 text-primary-500 font-semibold text-xl sm:text-2xl">
                {{'profile.title' | translate}}
                <span *ngIf="authService.isAdmin" class="text-sm">(Admin)</span>
            </h1>

        </div>

        <div class="profile-menu flex items-center lg:hidden">
            <button [matMenuTriggerFor]="menu" class="text-secondary" aria-label="icon-button with a menu">
                <svg xmlns="http://www.w3.org/2000/svg" class="w-6 h-6" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor" stroke-width="2">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M5 12h.01M12 12h.01M19 12h.01M6 12a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0zm7 0a1 1 0 11-2 0 1 1 0 012 0z" />
                </svg>
            </button>

            <mat-menu #menu="matMenu" class="mt-2 text-skin-base font-semibold">
                <a aria-labelledby="Link to about page" routerLink="/articles"
                    class="block px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-xs transition-all duration-200">
                    <span>{{'profile.allArticles' | translate}}</span>
                </a>
                <a aria-labelledby="Link to about page" routerLink="/user/dashboard"
                    class="block px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-xs transition-all duration-200">
                    <span>{{'profile.myArticles' | translate}}</span>
                </a>
                <a aria-labelledby="Link to about page" *ngIf="authService?.isAdmin" routerLink="/user/dashboard/admin"
                    class="block px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-xs transition-all duration-200">
                    <span>{{'profile.allAdminArticles' | translate}}</span>
                </a>
                <a aria-labelledby="Link to about page" routerLink="edit"
                    class="hidden px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-xs transition-all duration-200">
                    <span>{{'profile.editMyInfos' | translate}}</span>
                </a>
            </mat-menu>
        </div>
    </nav>

    <div *ngIf="authService.currentUsr as loggedUser" class="profile-container max-w-xl mx-auto mt-10 sm:mt-20">
        <div class="profile-header flex items-center justify-between">
            <div class="header-infos flex items-center gap-4">
                <div
                    class="image-wrapper relative border border-skin-bgMuted rounded-full h-20 w-20 sm:h-36 sm:w-36 shadow-lg">

                    <app-image *ngIf="loggedUser?.profilePicture" [classes]="'w-full h-full object-cover rounded-full'"
                        [sourceUrl]="loggedUser?.profilePicture" [alt]="loggedUser?.fullName!">
                    </app-image>

                    <ng-container *ngIf="!loggedUser?.profilePicture">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="w-full h-full rounded-full p-2 border-2 bg-primary-500 border-primary-500 text-white fill-white"
                            fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z" />
                        </svg>
                    </ng-container>


                    <div
                        class="profile-image-edit-btn absolute top-1 right-0 sm:right-4 border-2 border-skin-bgMuted rounded-full w-5 h-5 bg-skin-card hover:bg-skin-cardMuted">
                        <button (click)="openProfileImageDeleteDialog()" aria-label="Edit profile button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                                fill="currentColor" stroke="currentColor" class=" w-full p-0.5 -mx-[2px] text-primary-500 hover:fill-primary-500 transition-all
                                    duration-200">
                                <path
                                    d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                                </path>
                            </svg>
                        </button>
                    </div>
                </div>

                <div class="user-text-wrapper flex flex-col gap-1 flex-1">
                    <span class="text-xl sm:text-2xl font-bold text-skin-base">{{loggedUser?.fullName}}</span>

                    <div class="account-verification-badge flex flex-wrap gap-1 items-center">
                        <span *ngIf="loggedUser?.active"
                            class="inline-block font-semibold px-2 py-0.5 text-xs text-skin-muted border-2 border-primary-500 rounded-lg">
                            {{'profile.verifiedBadgeText' | translate}}
                        </span>
                        <svg *ngIf="loggedUser?.active" xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 text-primary-500" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M2.166 4.999A11.954 11.954 0 0010 1.944 11.954 11.954 0 0017.834 5c.11.65.166 1.32.166 2.001 0 5.225-3.34 9.67-8 11.317C5.34 16.67 2 12.225 2 7c0-.682.057-1.35.166-2.001zm11.541 3.708a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z"
                                clip-rule="evenodd" />
                        </svg>

                        <span *ngIf="loggedUser && !loggedUser?.active"
                            class="inline-block font-semibold px-2 py-0.5 text-xs text-skin-muted border-2 border-yellow-400 rounded-lg">
                            {{'profile.notVerifiedBadgeText' | translate}}
                        </span>
                        <svg *ngIf="loggedUser && !loggedUser?.active" xmlns="http://www.w3.org/2000/svg"
                            class="h-6 w-6 text-yellow-400" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd"
                                d="M10 1.944A11.954 11.954 0 012.166 5C2.056 5.649 2 6.319 2 7c0 5.225 3.34 9.67 8 11.317C14.66 16.67 18 12.225 18 7c0-.682-.057-1.35-.166-2.001A11.954 11.954 0 0110 1.944zM11 14a1 1 0 11-2 0 1 1 0 012 0zm0-7a1 1 0 10-2 0v3a1 1 0 102 0V7z"
                                clip-rule="evenodd" />
                        </svg>
                        <button *ngIf="loggedUser && !loggedUser?.active"
                            (click)="resendConfirmationMail(loggedUser?.email)"
                            aria-labelledby="Resend account confirmation button"
                            class="sm:ml-2 mt-1 sm:mt-0 text-xs text-skin-muted hover:text-skin-base hover:underline">
                            {{'profile.resendConfirmationText' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="profile-content mt-10">
            <div class="user-credentials flex flex-col space-y-4 px-4 py-6 rounded-lg bg-skin-bgMuted shadow-md">
                <nav class="user-credentials-nav flex justify-between items-center">
                    <div class="text-xl sm:text-2xl text-skin-base font-bold">Infos</div>

                    <div class="edit-action-btn">
                        <a aria-labelledby="Link to about page" routerLink="edit"
                            class="inline-flex group items-center justify-center h-10 w-10 sm:h-14 sm:w-14 p-1 hover:shadow-sm rounded-full text-skin-base hover:bg-skin-border transition-all duration-200">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                                fill="currentColor" class="" width="24" height="24" focusable="false">
                                <path
                                    d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </nav>

                <div class="full-name text-base">
                    <label class="text-skin-muted">{{'profile.fullName' | translate}}</label>
                    <div class="text-skin-base">{{loggedUser?.fullName}}</div>
                </div>

                <div class="pseudo text-base">
                    <label class="text-skin-muted">{{'profile.pseudo' | translate}}</label>
                    <div class="text-skin-base">{{loggedUser?.pseudoName}}</div>
                </div>

                <div class="profession text-base">
                    <label class="text-skin-muted">{{'profile.profession' | translate}}</label>
                    <div class="text-skin-base">{{loggedUser?.profession}}</div>
                </div>

                <div class="email text-base">
                    <label class="text-skin-muted">{{'profile.email' | translate}}</label>
                    <div class="text-skin-base">{{loggedUser?.email}}</div>
                </div>

                <div class="flex justify-between items-center">
                    <div class="bio text-base">
                        <label class="text-skin-muted">{{'profile.bio' | translate}}</label>
                        <div class="text-skin-base">{{loggedUser?.bio}}</div>
                    </div>
                </div>

            </div>

            <div
                class="user-password flex justify-between items-center px-4 py-6 rounded-lg bg-skin-bgMuted shadow-md mt-5">
                <div class="password text-base">
                    <label class="text-skin-muted">{{'profile.password' | translate}}</label>
                    <div class="space-x-1">
                        <ng-container *ngFor="let elt of [].constructor(8)">
                            <span class="h-2 w-2 inline-block bg-skin-base rounded-full"></span>
                        </ng-container>
                    </div>
                </div>

                <button (click)="openPasswordEntryDialog()" aria-label="Edit password button"
                    class="inline-flex group items-center justify-center h-10 w-10 sm:h-14 sm:w-14 p-1 hover:shadow-sm rounded-full text-skin-base hover:bg-skin-border transition-all duration-200">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" data-supported-dps="24x24"
                        fill="currentColor" class="" width="24" height="24" focusable="false">
                        <path
                            d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                        </path>
                    </svg>
                </button>
            </div>

            <div class="action-btns flex justify-end  mt-12">
                <button (click)="openAccountDeleteDialog()" aria-labelledby="Delete account button"
                    class="px-4 py-2 shadow-lg text-white font-semibold text-xs sm:text-sm rounded-full bg-red-500 hover:bg-red-700 transition-all duration-200">
                    {{'profile.deleteMyAccount' | translate}}
                </button>
            </div>
        </div>
    </div>
</main>