h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

h1,
h3 {
  @apply text-primary-500;
}

h1 {
  @apply text-3xl lg:text-[40px] lg:leading-10 font-medium;
}

h2 {
  @apply text-xl lg:text-[1.7rem] lg:leading-10 font-light;
}

h3 {
  @apply text-2xl lg:text-3xl font-medium mb-12 relative after:absolute after:w-32 lg:after:w-20 after:h-1.5 after:bg-accent-400 after:-bottom-6 after:left-[calc(50%-4rem)] lg:after:left-0 after:rounded-sm;
  @apply text-center lg:text-left;
}

p {
  @apply text-lg lg:text-xl font-light !mb-5 last:!mb-0 text-center lg:text-left;
  /* @apply text-lg lg:text-lg font-normal !mb-5 last:!mb-0 text-center lg:text-left; */
}

.green-divider {
  @apply bg-primary-500 py-10 space-y-8;
}

/* SHAPE DIVIDERS */
.custom-shape-divider-top-1654551278 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-top-1654551278 svg {
  position: relative;
  display: block;
  width: calc(300% + 1.3px);
  height: 172px;
}

.custom-shape-divider-top-1654551278 .shape-fill {
  fill: red;
}

/* TRIANGLE */
.custom-shape-divider-top-1654600154 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-top-1654600154 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.custom-shape-divider-top-1654600154 .shape-fill {
  fill: greenyellow;
}

.green-divider p {
  @apply max-w-7xl mx-auto text-center text-white font-medium text-xl lg:text-2xl;
}

.master-class-section {
  @apply text-white;
}

.master-class-section h3 {
  @apply text-white after:bg-primary-500;
}

h3.master-class-title {
  @apply text-4xl;
}

h3.lesson-group-title {
  @apply text-xl lg:text-2xl mb-10 after:left-0 text-left font-bold;
}

.master-class-section h4 {
  @apply text-lg uppercase font-medium;
}

.master-class-section ol {
  @apply pl-10 mt-5 space-y-2;
}

.master-class-section li {
  @apply text-lg lg:text-xl font-light;
  /* @apply text-lg lg:text-lg font-light; */
}

/* ol auto increment */
ol {
  list-style: none;
  counter-reset: item;
}

ol > li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
  /* font-weight: 300; */
}
