<main class="text-skin-text">
    <section class="py-8 lg:py-14">
        <div class="page-title site-container text-center mb-2 space-y-5">
            <h1>Mettez (enfin) en place le DDD</h1>
            <h2>Apprenez et implémentez les modèles de conception simples pour satisfaire
                des besoins complexes</h2>
        </div>

        <section class="why-section mt-16 site-container flex flex-col gap-10 lg:grid grid-cols-7">
            <div class="why-text order-2 lg:order-none col-span-5">
                <h3>Pourquoi choisir les modèles du DDD pour développer un logiciel ?</h3>

                <p>Le but d’un logiciel est de satisfaire au maximum le besoin du client.</p>
                <p>Le DDD (Domain-Driven Design) , en français, conception orientée par le métier, propose un ensemble
                    de
                    pratiques et méthodes aidant les concepteurs logiciels à se focaliser plus facilement, sur la
                    conception
                    d’une solution qui s’aligne aux besoins fonctionnels.
                </p>
                <p> L’application de ces méthodes intensifie la collaboration des experts métiers et techniques;
                    facilitant
                    ainsi la compréhension du problème et la mise en place de la résolution.
                </p>
                <p>
                    De plus, ces méthodes poussent les concepteurs à intégrer plus naturellement l’architecture en
                    microservices, facteur capital de l’extensibilité d’un produit logiciel.
                </p>
                <p>
                    Tout ceci fait du DDD <b>une philosophie de conception pour réaliser de puissantes solutions pour le
                        métier et par le métier</b>. Et ce, en ayant un produit parfaitement extensible.
                </p>
            </div>

            <div
                class="why-image order-1 lg:order-none shadow-lg rounded-lg overflow-hidden col-span-2 aspect-w-5 aspect-h-3">
                <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>
        </section>
    </section>

    <section class="py-8 lg:py-14 bg-white learn-section">
        <div class="site-container flex flex-col gap-10 lg:grid grid-cols-7">
            <div class="learn-image lg:ml-10 shadow-lg rounded-lg overflow-hidden col-span-2 aspect-w-5 aspect-h-3">
                <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>

            <div class="learn-text col-span-5">
                <h3>Apprenez le DDD par la pratique</h3>

                <p>
                    La philosophie DDD a été présentée au monde il y a plus de 15 ans. Cependant, sa perception demeure
                    encore beaucoup trop théorique, sinon mal appliquée, d’où sa faible adoption.
                </p>
                <p>
                    La philosophie DDD a été présentée au monde il y a plus de 15 ans. Cependant, sa perception demeure
                    encore beaucoup trop théorique, sinon mal appliquée, d’où sa faible adoption.
                </p>
                <p>
                    Bien sûr, nous allons commencer par présenter les grandes catégories de méthodes proposées par le
                    DDD,
                    puis, en sélectionner quelques-unes, pour rapidement les mettre en pratique en construisant une
                    application de qualité, servant un métier délicat.
                </p>
            </div>
        </div>
    </section>

    <section class="py-12"></section>
    <section class="py-12"></section>
    <section class="py-12"></section>
</main>