<main class="text-skin-art">
    <section class="py-8 lg:py-14">
        <div class="page-title site-container text-center space-y-5 lg:max-w-7xl mx-auto">
            <h1>Mettez (enfin) en place le DDD</h1>
            <h2>Apprenez et implémentez les modèles de conception simples pour satisfaire
                des besoins complexes</h2>
        </div>

        <section class="why-section mt-12 lg:mt-20 site-container flex flex-col lg:flex-row justify-between">
            <div
                class="why-text order-2 lg:order-none lg:basis-1/2 xl:basis-2/3 text-center lg:text-left flex flex-col lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pr-4">
                <h3>Pourquoi choisir les modèles du DDD pour développer un logiciel?</h3>

                <p>Le but d’un logiciel est de satisfaire au maximum le besoin du client.</p>
                <p>Le DDD (Domain-Driven Design) , en français, conception orientée par le métier, propose un ensemble
                    de
                    pratiques et méthodes aidant les concepteurs logiciels à se focaliser plus facilement, sur la
                    conception
                    d’une solution qui s’aligne aux besoins fonctionnels.
                </p>
                <p> L’application de ces méthodes intensifie la collaboration des experts métiers et techniques;
                    facilitant
                    ainsi la compréhension du problème et la mise en place de la résolution.
                </p>
                <p>
                    De plus, ces méthodes poussent les concepteurs à intégrer plus naturellement l’architecture en
                    microservices, facteur capital de l’extensibilité d’un produit logiciel.
                </p>
                <p>
                    Tout ceci fait du DDD <b>une philosophie de conception pour réaliser de puissantes solutions pour le
                        métier et par le métier</b>. Et ce, en ayant un produit parfaitement extensible.
                </p>

                <a href="https://sso.teachable.com/secure/1336335/checkout/4117601/mettez-enfin-en-place-le-ddd"
                    class="mt-5 w-fit mx-auto lg:mx-0 flex items-center justify-center gap-2 px-4 py-2.5 rounded-md shadow-sm bg-primary-500 text-white font-semibold hover:bg-primary-700 transition-all duration-300">
                    <span class="text-center">{{'ddd.buyButtonText' | translate}}</span>

                    <span class="mt-1">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden md:block" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                        </svg>
                    </span>
                </a>
            </div>

            <div class="why-image m-auto order-1 lg:order-none lg:basis-1/2 xl:basis-1/3">
                <app-image [classes]="'m-auto object-contain w-auto sm:max-w-[50%] lg:max-w-full'"
                    [sourceUrl]="whySectionImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>
        </section>
    </section>

    <section class="py-8 lg:py-14 bg-white learn-section">
        <div class="site-container flex flex-col lg:flex-row justify-between">
            <div class="learn-image lg:basis-1/2 xl:basis-1/3">
                <app-image [classes]="'m-auto object-contain w-auto sm:max-w-[50%] lg:max-w-full'"
                    [sourceUrl]="learnSectionImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>

            <div
                class="learn-text lg:basis-1/2 xl:basis-2/3 text-center lg:text-left flex flex-col lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pl-4">
                <h3>Apprenez le DDD par la pratique</h3>

                <p>
                    La philosophie DDD a été présentée au monde il y a plus de 15 ans. Cependant, sa perception demeure
                    encore beaucoup trop théorique, sinon mal appliquée, d’où sa faible adoption.
                </p>
                <p>
                    Pour en saisir la quintessence, il faut se lancer dans une phase de réapprentissage avec application
                    à des projets et besoins du monde réel. C’est ce que je vous propose pour ce parcours.
                </p>
                <p>
                    Bien sûr, nous allons commencer par présenter les grandes catégories de méthodes proposées par le
                    DDD,
                    puis, en sélectionner quelques-unes, pour rapidement les mettre en pratique en construisant une
                    application de qualité, servant un métier délicat.
                </p>
            </div>
        </div>
    </section>

    <section class="practical-video-secttion py-8 lg:py-14 bg-white">
        <div class="site-container flex flex-col items-center">
            <iframe class="w-full lg:w-3/4 lg:h-[500px] rounded-[5px]" width="560" height="315"
                src="https://www.youtube.com/embed/4awWlKVZ1Hk" title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
            </iframe>

            <a href="https://sso.teachable.com/secure/1336335/checkout/4117601/mettez-enfin-en-place-le-ddd"
                class="mt-8 lg:mt-14 w-fit flex items-center justify-center gap-2 px-4 py-2.5 rounded-md shadow-sm bg-primary-500 text-white font-semibold hover:bg-primary-700 transition-all duration-300">
                <span class="text-center">{{'ddd.buyButtonText' | translate}}</span>

                <span class="mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden md:block" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </span>
            </a>
        </div>
    </section>

    <section class="py-8 lg:py-14 step-by-step-section relative">
        <div class="site-container flex flex-col lg:flex-row justify-between">
            <div
                class="step-by-step-text lg:basis-1/2 xl:basis-2/3 text-center lg:text-left flex flex-col lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pr-4">
                <h3>Implémentez les méthodes du DDD étape par étapes</h3>

                <p>
                    Durant chaque module, vous réalisez un livrable.
                </p>
                <p>
                    Les leçons débutent par de la théorie suivie d’exercices pratiques qui participent, peu à peu, à la
                    réalisation du livrable.
                </p>
                <p>
                    À la fin des 3 modules, vous aurez alors 3 livrables qui forment ensemble la pièce maîtresse de
                    votre maîtrise du DDD.
                </p>
            </div>

            <div class="step-by-step-image hidden lg:block lg:basis-1/2 xl:basis-1/3">
                <app-image [classes]="'m-auto object-contain w-auto sm:max-w-[50%] lg:max-w-[350px]'"
                    [sourceUrl]="stepSectionImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>
        </div>
    </section>

    <div class="green-divider triangle">
        <div class="site-container">
            <p class="!max-w-7xl !mx-auto !font-semibold !text-xl !text-center text-white">La pratique de codage réelle
                à
                travers un
                projet du monde
                réel est la meilleure façon d'apprendre un concept
                complexe tel que le DDD
            </p>
        </div>
    </div>

    <section class="py-8 lg:py-14 bg-white practice-section -mt-5">
        <div class="site-container flex flex-col lg:flex-row justify-between">
            <div
                class="step-by-step-text lg:basis-1/2 xl:basis-2/3 text-center lg:text-left flex flex-col lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pr-4">
                <h3>Le DDD c’est aussi du code</h3>

                <p>
                    <b>Mon nom est Philippe, Ingénieur logiciel passionné</b>. Je programme depuis plus de 10 ans déjà
                    et je
                    serai
                    votre instructeur tout au long de ce parcours.
                </p>
                <p>
                    Nous aurons tout naturellement des parties pratiques nécessitant du code. Notamment pour développer
                    des micro-services, alignés à une architecture hexagonale.
                </p>
            </div>

            <div class="practice-image m-auto hidden lg:block lg:basis-1/2 xl:basis-1/3">
                <app-image [classes]="'m-auto object-contain w-auto sm:max-w-[50%] lg:max-w-[250px]'"
                    [sourceUrl]="practiceSectionImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>
        </div>
    </section>


    <section class="pt-16 pb-10 lg:pb-16 master-class-section relative">
        <div class="custom-shape-divider-top-1654551278 relative">
            <svg class="" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120"
                preserveAspectRatio="none">
                <path
                    d="M985.66,92.83C906.67,72,823.78,31,743.84,14.19c-82.26-17.34-168.06-16.33-250.45.39-57.84,11.73-114,31.07-172,41.86A600.21,600.21,0,0,1,0,27.35V120H1200V95.8C1132.19,118.92,1055.71,111.31,985.66,92.83Z"
                    class="shape-fill"></path>
            </svg>
            <p
                class="max-w-7xl mx-auto text-white absolute rotate-180 top-[60%] md:top-[69%] inset-x-0 !font-semibold !text-xl !text-center">
                Ce cours est axé sur les bases du DDD.
                Celles-ci sont essentielles pour aller de l'avant, comprendre les aspects les plus avancés et
                créer des systèmes plus complexes
            </p>
        </div>

        <div class="site-container pt-60">
            <div class="flex flex-col lg:flex-row justify-between">
                <div
                    class="master-class-text lg:basis-1/2 xl:basis-2/3 text-center lg:text-left flex flex-col lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pr-4">
                    <h3 class="master-class-title">Qu’allez-vous apprendre ?</h3>

                    <p>
                        Si je me suis continuellement intéressé au DDD, c’est parce que j’ai eu un très bon instructeur.
                        J’utiliserai donc la même méthode par laquelle j’ai appris pour vous passer l’essentiel des
                        éléments
                        dont vous aurez besoin pour enfin appliquer le DDD correctement à un vrai projet.
                    </p>
                </div>

                <div
                    class="master-class-image flex flex-col justify-center gap-5 m-auto lg:basis-1/2 xl:basis-1/3 mt-12 lg:mt-0">
                    <app-image [classes]="'m-auto object-contain w-auto max-w-[75%] sm:max-w-[50%] lg:max-w-[250px]'"
                        [sourceUrl]="masterSectionImage"
                        [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                    </app-image>
                </div>
            </div>

            <div class="course-lessons-grid mt-12 lg:mt-20 grid lg:grid-cols-6 gap-y-8 max-w-6xl">

                <section class="lessons-group col-span-3 flex gap-2 flex-start">
                    <div class="group-image overflow-hidden hidden lg:block h-16 w-16">
                        <app-image [classes]="'object-cover'" [sourceUrl]="lessonGroupImage1"
                            [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                        </app-image>
                    </div>
                    <div class="group-text pt-1 flex-1">
                        <h3 class="lesson-group-title">1. Bien démarrer avec le Domain-Driven Design (DDD)</h3>
                        <h4 class="nber-of-lessons">3 Leçons</h4>
                        <ol class="group-lessons-list">
                            <li>Qu’est-ce que le DDD en réalité ?</li>
                            <li>Dois-je appliquer le DDD ? 2 sous-leçons</li>
                        </ol>
                    </div>
                </section>

                <section class="lessons-group col-span-3 flex gap-2 flex-start">
                    <div class="group-image overflow-hidden hidden lg:block h-16 w-16">
                        <app-image [classes]="'object-cover'" [sourceUrl]="lessonGroupImage2"
                            [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                        </app-image>
                    </div>
                    <div class="group-text pt-1 flex-1">
                        <h3 class="lesson-group-title">2. Utilisez les patterns stratégiques du DDD pour distiller le
                            besoin métier</h3>
                        <h4 class="nber-of-lessons">11 Leçons</h4>
                        <ol class="group-lessons-list">
                            <li>Le rôle des patterns stratégiques</li>
                            <li>Posez des questions puissantes pour mieux comprendre le besoin</li>
                            <li>Enrichissez le besoin métier grâce aux questions puissantes</li>
                            <li>Réalisez l’ ”Event Storming” afin d’extraire le concentré du besoin métier: 5
                                sous-leçons</li>
                            <li>Isolez les besoins métier avec les “Bounded Context” en respectant un lexique
                                compréhensible de tous: “Ubiquitous Language”</li>
                            <li>Esquissez une architecture hexagonale pour chaque bounded context</li>
                            <li>Faites le bon choix d’architecture entre les bounded contexts: “Context Mapping”</li>
                        </ol>
                    </div>
                </section>

                <section class="lessons-group col-span-3 flex gap-2 flex-start">
                    <div class="group-image overflow-hidden hidden lg:block h-16 w-16">
                        <app-image [classes]="'object-cover'" [sourceUrl]="lessonGroupImage3"
                            [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                        </app-image>
                    </div>
                    <div class="group-text pt-1 flex-1">
                        <h3 class="lesson-group-title">
                            3. Mettez en pratique les modèles de conception tactiques du DDD
                        </h3>
                        <h4 class="nber-of-lessons">11 Leçons</h4>
                        <ol class="group-lessons-list">
                            <li>Le rôle des patterns tactiques</li>
                            <li>Utilisez pas à pas les agrégats pour déterminer ce qu’il faut coder au sein des
                                “bounded-context” : 2 sous-leçons</li>
                            <li>Installez les outils et prérequis</li>
                            <!-- <li>Construisez pas à pas les agrégats du modèle de domaine au sein des “bounded contexts”
                            </li> -->
                            <li>Implémenter , via le TDD les besoins métiers dans les bounded contexts</li>

                            <li>pour Implémenter la complexité technique sans polluer le domaine : 4 sous-leçons</li>
                            <li>Tester de bout en bout</li>
                        </ol>
                    </div>
                </section>
            </div>

            <a href="https://sso.teachable.com/secure/1336335/checkout/4117601/mettez-enfin-en-place-le-ddd"
                class="w-fit mt-10 mx-auto flex items-center justify-center gap-2 px-4 py-2.5 rounded-md shadow-sm bg-primary-500 text-white font-semibold hover:bg-primary-700 transition-all duration-300">
                <span class="text-center">{{'ddd.buyButtonText' | translate}}</span>

                <span class="mt-1">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden md:block" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" stroke-width="1.5">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                    </svg>
                </span>
            </a>
        </div>
    </section>
</main>