<main class="text-skin-text">
    <!-- bg-[#F4F4F4] -->
    <!-- section -mt-24 -->
    <!-- page-title mt-32 -->
    <section class="py-8 lg:py-14">
        <div class="page-title site-container text-center space-y-5 lg:max-w-7xl mx-auto">
            <h1>Mettez (enfin) en place le DDD</h1>
            <h2>Apprenez et implémentez les modèles de conception simples pour satisfaire
                des besoins complexes</h2>
        </div>

        <section class="why-section mt-12 lg:mt-20 site-container flex flex-col gap-5 lg:grid grid-cols-10">
            <div class="why-text order-2 lg:order-none col-span-7">
                <h3>Pourquoi choisir les modèles du DDD pour développer un logiciel?</h3>

                <p>Le but d’un logiciel est de satisfaire au maximum le besoin du client.</p>
                <p>Le DDD (Domain-Driven Design) , en français, conception orientée par le métier, propose un ensemble
                    de
                    pratiques et méthodes aidant les concepteurs logiciels à se focaliser plus facilement, sur la
                    conception
                    d’une solution qui s’aligne aux besoins fonctionnels.
                </p>
                <p> L’application de ces méthodes intensifie la collaboration des experts métiers et techniques;
                    facilitant
                    ainsi la compréhension du problème et la mise en place de la résolution.
                </p>
                <p>
                    De plus, ces méthodes poussent les concepteurs à intégrer plus naturellement l’architecture en
                    microservices, facteur capital de l’extensibilité d’un produit logiciel.
                </p>
                <p>
                    Tout ceci fait du DDD <b>une philosophie de conception pour réaliser de puissantes solutions pour le
                        métier et par le métier</b>. Et ce, en ayant un produit parfaitement extensible.
                </p>
            </div>

            <div
                class="why-image order-1 lg:order-none shadow-lg rounded-lg overflow-hidden col-span-3 aspect-w-5 aspect-h-3">
                <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>
        </section>
    </section>

    <section class="py-8 lg:py-14 bg-white learn-section">
        <div class="site-container flex flex-col gap-5 lg:grid grid-cols-10">
            <div class="learn-image lg:ml-10 shadow-lg rounded-lg overflow-hidden col-span-3 aspect-w-5 aspect-h-3">
                <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>

            <div class="learn-text col-span-7">
                <h3>Apprenez le DDD par la pratique</h3>

                <p>
                    La philosophie DDD a été présentée au monde il y a plus de 15 ans. Cependant, sa perception demeure
                    encore beaucoup trop théorique, sinon mal appliquée, d’où sa faible adoption.
                </p>
                <p>
                    La philosophie DDD a été présentée au monde il y a plus de 15 ans. Cependant, sa perception demeure
                    encore beaucoup trop théorique, sinon mal appliquée, d’où sa faible adoption.
                </p>
                <p>
                    Bien sûr, nous allons commencer par présenter les grandes catégories de méthodes proposées par le
                    DDD,
                    puis, en sélectionner quelques-unes, pour rapidement les mettre en pratique en construisant une
                    application de qualité, servant un métier délicat.
                </p>
            </div>
        </div>
    </section>

    <section class="py-8 lg:py-14 step-by-step-section">
        <div class="site-container flex flex-col gap-5 lg:grid grid-cols-10">
            <div class="step-by-step-text col-span-7">
                <h3>Implémentez les méthodes du DDD étape par étapes</h3>

                <p>
                    Durant chaque module, vous réalisez un livrable.
                </p>
                <p>
                    Les leçons débutent par de la théorie suivie d’exercices pratiques qui participent, peu à peu, à la
                    réalisation du livrable.
                </p>
                <p>
                    À la fin des 4 modules, vous aurez alors 4 livrables qui forment ensemble la pièce maîtresse de
                    votre maîtrise du DDD.
                </p>
            </div>

            <div
                class="step-by-step-image hidden lg:block shadow-lg rounded-lg overflow-hidden col-span-3 aspect-w-5 aspect-h-3">
                <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>
        </div>
    </section>

    <div class="green-divider triangle">
        <div class="site-container">
            <p>La pratique de codage réelle à travers un
                projet du monde
                réel est la meilleure façon d'apprendre un concept
                complexe tel que le DDD
            </p>
        </div>
    </div>

    <section class="py-8 lg:py-14 bg-white practice-section">
        <div class="site-container flex flex-col gap-5 lg:grid grid-cols-10">
            <div class="step-by-step-text col-span-7">
                <h3>Le DDD c’est aussi du code</h3>

                <p>
                    <b>Mon nom est Philippe, Ingénieur logiciel passionné</b>. Je code depuis plus de 10 ans déjà et je
                    serai
                    votre instructeur tout au long de ce parcours.
                </p>
                <p>
                    Nous aurons tout naturellement des parties pratiques nécessitant du code. Notamment pour développer
                    des micro-services, alignés à une architecture hexagonale.
                </p>
            </div>

            <div
                class="practice-image hidden lg:block shadow-lg rounded-lg overflow-hidden col-span-3 aspect-w-5 aspect-h-3">
                <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                    [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                </app-image>
            </div>
        </div>
    </section>

    <div class="green-divider ovale">
        <div class="site-container">
            <p>
                Ce cours est axé sur les bases du DDD.
                Celles-ci sont essentielles pour aller de l'avant, comprendre les aspects les plus avancés et
                créer des systèmes plus complexes
            </p>
        </div>
    </div>

    <section class="pt-16 pb-10 lg:pt-32 bg-[#525E74] master-class-section">
        <div class="site-container">
            <div class="flex flex-col gap-5 lg:grid grid-cols-10">
                <div class="master-class-text col-span-7">
                    <h3 class="master-class-title">Qu’allez-vous apprendre ?</h3>

                    <p>
                        Si je me suis continuellement intéressé au DDD, c’est parce que j’ai eu un très bon instructeur.
                        J’utiliserai donc la même méthode par laquelle j’ai appris pour vous passer l’essentiel des
                        éléments
                        dont vous aurez besoin pour enfin appliquer le DDD correctement à un vrai projet.
                    </p>
                </div>

                <div class="master-class-image shadow-lg rounded-lg overflow-hidden col-span-3 aspect-w-5 aspect-h-3">
                    <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                        [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                    </app-image>
                </div>
            </div>

            <div class="course-lessons-grid mt-20 grid lg:grid-cols-6 gap-y-8 max-w-6xl">

                <section class="lessons-group col-span-3 flex gap-5 flex-start">
                    <div class="group-image shadow-lg rounded-lg overflow-hidden hidden lg:block h-16 w-16">
                        <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                            [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                        </app-image>
                    </div>
                    <div class="group-text flex-1">
                        <h3 class="lesson-group-title">1. Bien démarrer avec le Domain-Driven Design (DDD)</h3>
                        <h4 class="nber-of-lessons">2 Leçons</h4>
                        <ol class="group-lessons-list">
                            <li>Qu’est-ce que le DDD en réalité ?</li>
                            <li>Présentation du projet à réaliser</li>
                        </ol>
                    </div>
                </section>

                <section class="lessons-group lg:mt-0 col-span-3 flex gap-5 flex-start">
                    <div class="group-image shadow-lg rounded-lg overflow-hidden hidden lg:block h-16 w-16">
                        <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                            [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                        </app-image>
                    </div>
                    <div class="group-text flex-1">
                        <h3 class="lesson-group-title">2. Utilisez les patterns stratégiques du DDD pour distiller le
                            besoin métier</h3>
                        <h4 class="nber-of-lessons">6 Leçons</h4>
                        <ol class="group-lessons-list">
                            <li>Le rôles des patterns stratégiques</li>
                            <li>Poser des questions puissantes pour mieux comprendre le besoin</li>
                            <li>Réalisez l’ ”Event Storming” afin d’extraire le concentré du besoin métier</li>
                            <li>Isolez les besoins métier avec les “Bounded Context” en respectant un lexique
                                compréhensible de tous: “Ubiquitous Language”</li>
                            <li>Esquissez une architecture hexagonale pour chaque bounded context</li>
                            <li>Faites le bon choix d’intégration entre les bounded contexts: “Context Mapping”</li>
                        </ol>
                    </div>
                </section>

            </div>
        </div>
    </section>
</main>