<div mat-dialog-content>
    <mat-form-field>
        <input placeholder={{placeholder}} matInput [(ngModel)]="data.title" />
    </mat-form-field>
</div>
<div mat-dialog-actions class="space-x-3">
    <button
        class="px-3 py-1 border border-skin-border rounded-full shadow-sm bg-skin-card text-sm leading-5 font-semibold text-skin-base hover:bg-skin-cardMuted focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-body focus:ring-primary-500 transition-all duration-300"
        (click)="onNoClick()">Annuler</button>
    <button
        class="px-3 py-1 border border-skin-border rounded-full shadow-sm bg-primary-500 text-sm leading-5 font-semibold text-white hover:text-skin-base hover:bg-skin-cardMuted focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-body focus:ring-primary-500 transition-all duration-300"
        [mat-dialog-close]="data.title" cdkFocusInitial>
        Commencer
    </button>
</div>