<div *ngIf="loading; else popupContent">
    <svg class="w-20 h-20 animate-spin " xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
            stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
            style="animation-play-state:paused"></circle>
    </svg>
</div>

<ng-template #popupContent>
    <div class="content">
        <input name="title" id="title" required minlength="4"
            class="w-full bg-transparent border-b  !pb-2 focus:outline-none   text-xl sm:text-2xl lg:text-5xl font-semibold placeholder:font-extrabold placeholder:text-xl sm:placeholder:text-2xl lg:placeholder:text-5xl "
            placeholder="{{'articleEntryPopup.titlePlaceholder' | translate}}" [(ngModel)]="title" #name="ngModel"
            autocomplete="off" />

        <div *ngIf="name.invalid && name.dirty" class="">
            <div *ngIf="name.errors?.['required']" class="mt-2 text-xs sm:text-sm text-error italic">
                {{'articleEntryPopup.missingTitle' | translate}}
            </div>
            <div *ngIf="title.trim() && name.errors?.['minlength']" class="mt-2 text-xs sm:text-sm text-error italic">
                {{'articleEntryPopup.invalidTitleLenght' | translate}}
            </div>
        </div>

        <div *ngIf="title.length && !title.trim() && name.dirty" class="">
            <div class="mt-2 text-xs sm:text-sm text-error italic">
                Veuillez inserer un titre valide.
            </div>
        </div>

        <div class="mt-2 text-xs sm:text-sm  font-light italic space-x-2">
            <span>
                {{'articleEntryPopup.titleInfoText' | translate}}
            </span>
        </div>

        <div class="action-buttons flex space-x-1 sm:space-x-2 mt-4">
            <button aria-labelledby="cancel"
                class="px-4 py-2 border  rounded-full shadow-sm  text-sm leading-5 font-semibold   focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-body  transition-all duration-200"
                (click)="onNoClick()">
                {{'app.cancel' | translate}}
            </button>

            <div *ngIf="name.invalid || !title.trim(); else validBtn">
                <button aria-labelledby="create an article"
                    class="px-4 py-2 border  shadow-sm  opacity-[0.15] rounded-full text-sm  leading-5 font-semibold"
                    type="submit" disabled>
                    {{'articleEntryPopup.createBtn' | translate}}
                </button>
            </div>
            <ng-template #validBtn>
                <button type="submit" aria-labelledby="create an article" (click)="handleArticleInit()"
                    class="px-4 py-2 border  rounded-full shadow-sm  text-sm leading-5 font-semibold     focus:outline-none focus:ring-offset-2   transition-all duration-200">
                    {{'articleEntryPopup.createBtn' | translate}}
                </button>
            </ng-template>
        </div>
    </div>
</ng-template>