<main>
    <div class="site-container">
        <section class="lg:flex justify-center py-10">
            <div class="">
                <img src="https://ik.imagekit.io/lfegvix1p/404_6YF3GvxaN.svg?updatedAt=1681556373921" class="m-auto" alt="Page not found">
            </div>
            <div class="lg:pt-16 lg:pl-10 text-center lg:text-left">
                <h1 class="font-bold text-primary-600 text-9xl">404</h1>
                <p class="font-bold text-xl text-primary-600">Oops! page non trouvée.</p>
                <p class="text-skin-base">Nous ne pouvons trouver la page que vous avez demandé</p>
                <a aria-label="Link to home page" routerLink="/" class="mt-5 inline-block underline hover:text-primary-600 text-primary-500">Retourner
                    à
                    la
                    page d'acceuil
                </a>
            </div>
        </section>
    </div>
</main>