<main class="articles-list-container site-container py-5">
    <div class="max-w-2xl mx-auto">
        <div class="main-side-container">
            <div class="tabs-wrapper relative flex items-center justify-between lg:mt-8 border-b border-skin-border">
                <nav class="relative flex space-x-3 lg:space-x-8 -mb-[2px]" aria-label="Tabs">
                    <button type="button" (click)="sortByTab(PUBLISHED)" aria-current="page"
                        aria-labelledby="Toggle to published articles tab"
                        [ngClass]="activePage === PUBLISHED ? 'active-tab' : ''"
                        class="text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'dashboard.published' | translate}}</span>
                    </button>
                </nav>

                <div *ngIf="authService.canAccessAdminDashboard">
                    <button aria-label="Button to create a new company" (click)="openCompanyEntryDialog()" type="button">
                        <span class="sr-only">Nouvelle organisation</span>
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-10 w-10 text-white fill-primary-500 border-primary-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"
                                d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                    </button>
                </div>
            </div>

            <div class="articles-wrapper articles-scrollable-list-panel py-12 space-y-12 lg:space-y-11 min-h-screen"
                infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

                <app-loading-spinner *appShellRender></app-loading-spinner>

                <ng-template [ngIf]="companies" *appShellNoRender>
                    <div *ngFor="let company of companies; let i=index" class="space-y-11">
                        <app-company-card [company]="company" (onCompanyDeleteEvent)="fetchAllCompanies()"></app-company-card>
                    </div>
                </ng-template>

                <ng-template [ngIf]="loading">
                    <app-company-skeleton *ngFor="let elt of [].constructor(pageSize)"></app-company-skeleton>
                </ng-template>

                <app-no-companies *ngIf="noCompanyAvailable"></app-no-companies>

                <app-loading-spinner *ngIf="loadingMore" class="py-5"></app-loading-spinner>

            </div>
        </div>
    </div>

</main>