progress {
  @apply border border-primary-500 bg-primary-100 rounded-sm overflow-hidden shadow-md;
  border: none;
  -webkit-appearance: none;
}
progress::-moz-progress-bar {
  @apply bg-primary-500;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  @apply bg-primary-500;
}

.vimeo_video {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}

iframe {
  border: none;
}

.example-container {
  width: 100%;
  height: 100vh;
}
