progress {
  @apply border border-primary-500 bg-primary-50 bg-opacity-40 rounded-sm overflow-hidden shadow-md w-full lg:w-[calc(100%-394px)];
  border: none;
  -webkit-appearance: none;
}
progress::-moz-progress-bar {
  @apply bg-primary-500;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  @apply bg-primary-500;
}

.lesson_video_player {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}

iframe {
  border: none;
}

.sidebar-closed {
  @apply lg:w-[calc(100%-50px)]
}


.example-container {
  display: flex;
  flex-direction: column;
}

.example-sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
}

.example-is-mobile .example-sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}
