progress {
  @apply border border-primary-500 bg-primary-100 rounded-sm overflow-hidden shadow-md;
  border: none;
  -webkit-appearance: none;
}
progress::-moz-progress-bar {
  @apply bg-primary-500;
}
progress::-webkit-progress-bar {
  background: transparent;
}
progress::-webkit-progress-value {
  @apply bg-primary-500;
}

#lesson_video_player {
  position: relative;
  aspect-ratio: 16 / 9;
  width: 100%;
}

iframe {
  border: none;
}

.drawer-container {
  @apply w-full h-screen;
}

mat-sidenav {
  @apply lg:bg-transparent border-none;
}


