<div (click)="toggleSection()" class="relative flex border p-1" [@expandCollapse]="isOpen ? 'expanded' : 'collapsed'" *appShellNoRender>

    <div class="tagList-container order-2 flex flex-wrap gap-1.5">
        <ng-container *ngFor="let tag of tagList">
            <button (click)="filterByTag(tag.name)" type="button" aria-labelledby="A tag"
                [ngClass]="{'active-tag': activeTag == tag.name}"
                class="group flex items-center px-3 py-1 text-sm font-medium text-skin-inverted rounded-full border border-skin-border hover:bg-skin-card transition-all duration-200">
                <svg [ngStyle]="{'color': tag.colorCode}" class="mr-1 h-2 w-2" fill="currentColor" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3"></circle>
                </svg>
                <span class="truncate lowercase font-semibold group-hover:text-primary-500">{{tag?.name}}</span>
            </button>
        </ng-container>
    </div>

    <!-- <div class="absolute inset-x-0 bottom-0 bg-red-500 flex items-center justify-center">btn</div> -->
    <!-- <div class="absolute inset-y-0 left-0 bg-red-500 flex items-center justify-center">btn</div> -->
    <div class="bg-red-500 order-1 flex items-center justify-center">btn</div>

</div>