<!-- <ng-container *ngFor="let section of sections; let i = index">
    <section class="regular-section">
        <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
            <div class="text lg:col-span-8">
                <h3>{{section.title}}</h3>
                <app-markdown-preview [data]="section?.content"></app-markdown-preview>
            </div>

            <div class="image lg:col-span-4 self-center">
                <app-image [classes]="'w-full h-full max-w-[300px] lg:max-w-[350px] mx-auto object-contain'"
                    [sourceUrl]="section?.image" [alt]="section?.title">
                </app-image>
            </div>
        </div>
    </section>
</ng-container> -->


<cdk-accordion class="example-accordion">
    <ng-container *ngFor="let section of sections; let index = index">
        <cdk-accordion-item #accordionItem="cdkAccordionItem" class="example-accordion-item">
            <button class="example-accordion-item-header" [ngClass]="{'!bg-[#eee]' : accordionItem.expanded}" (click)="accordionItem.toggle()" tabindex="0"
                [attr.id]="'accordion-header-' + index" [attr.aria-expanded]="accordionItem.expanded"
                [attr.aria-controls]="'accordion-body-' + index">
                {{ section.title }}
                <span class="example-accordion-item-description hidden lg:block">
                    Cliquer pour {{ accordionItem.expanded ? 'fermer' : 'ouvrir' }}
                </span>

                <div *ngIf="accordionItem.expanded" class="lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-4 h-4 mt-[3px]">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M4.5 15.75l7.5-7.5 7.5 7.5" />
                    </svg>
                </div>
                <div *ngIf="!accordionItem.expanded" class="lg:hidden">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                        class="w-4 h-4 mt-[3px]">
                        <path stroke-linecap="round" stroke-linejoin="round"
                            d="M19.5 8.25l-7.5 7.5-7.5-7.5" />
                    </svg>
                </div>
            </button>

            <ng-container *ngIf="accordionItem.expanded">
                <div class="example-accordion-item-body" role="region"
                    [style.display]="accordionItem.expanded ? '' : 'none'" [attr.id]="'accordion-body-' + index"
                    [attr.aria-labelledby]="'accordion-header-' + index">
                    <div class="grid grid-cols-1 lg:grid-cols-12 gap-8">
                        <div class="text lg:col-span-8">
                            <h3>{{section.title}}</h3>
                            <app-markdown-preview [data]="section?.content"></app-markdown-preview>
                        </div>

                        <div class="image lg:col-span-4 self-center">
                            <app-image [classes]="'w-full h-full max-w-[300px] lg:max-w-[350px] mx-auto object-contain'"
                                [sourceUrl]="section?.image" [alt]="section?.title">
                            </app-image>
                        </div>
                    </div>
                </div>
            </ng-container>
        </cdk-accordion-item>
    </ng-container>
</cdk-accordion>