<div class="action-buttons mr-1 lg:!mt-0 flex gap-2 items-center justify-between">
    <ng-container *ngIf="showBtn">

        <ng-container *ngIf="form.invalid; else validBtn">
            <button [disabled]="form.invalid || loading" aria-labelledby="button to publish or submit an artticle"
                class="group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-full text-skin-white bg-primary-300 bg-opacity-20">
                <span *ngIf="(!isPublishing && isPublished) || authService.isAdmin">
                    {{ 'articleEntryEdit.publishBtn' | translate }}</span>
                <span *ngIf="!isPublishing && !isPublished && !authService.isAdmin">
                    {{ 'articleEntryEdit.submitBtn' | translate }}</span>
            </button>
        </ng-container>

        <ng-template #validBtn>
            <button type="submit" aria-labelledby="button to publish or submit an article" (click)="initPublish()"
                [disabled]="isSaving || isPublishing" [ngClass]="{'opacity-50': isSaving || isPublishing }"
                class="group font-semibold relative w-full flex justify-center gap-2 py-2 px-4 border border-transparent text-sm shadow-lg rounded-full text-skin-white bg-primary-300 hover:bg-primary-500 focus:outline-none transition-all duration-200">
                <span *ngIf="(!isPublishing && isPublished) || authService.isAdmin">
                    {{ 'articleEntryEdit.publishBtn' | translate }}
                </span>
                <span *ngIf="!isPublishing && !isPublished && !authService.isAdmin">
                    {{ 'articleEntryEdit.submitBtn' | translate }}
                </span>
                <svg *ngIf="isPublishing" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                    xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                    preserveAspectRatio="xMidYMid">
                    <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                        stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                        style="animation-play-state:paused">
                    </circle>
                </svg>
            </button>
        </ng-template>

    </ng-container>


    <button *ngIf="isSaving" class="relative group" aria-label="saving article">
        <svg class="w-6 h-6 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
            preserveAspectRatio="xMidYMid">
            <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                style="animation-play-state:paused">
            </circle>
        </svg>
        <span class="save-tooltip group-hover:scale-100">
            {{ 'articleEntryEdit.savingText' | translate }}
        </span>
    </button>

    <button *ngIf="isSaved && !isSaving" class="relative group" aria-label="successfully saved">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary-500" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
        </svg>
        <span class="save-tooltip group-hover:scale-100">
            {{ 'articleEntryEdit.saveSuccessText' | translate }}
        </span>
    </button>

    <button *ngIf="saveFailed && !isSaving" class="relative group" aria-label="saving failed">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-error" fill="none" viewBox="0 0 24 24"
            stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round"
                d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
        </svg>
        <span class="save-tooltip !bg-error group-hover:scale-100">
            {{ 'articleEntryEdit.saveFailedText' | translate }}
        </span>
    </button>
</div>