<div class="text-lg text-center p-10">Le tableau de bord est en cours de construction</div>
<!-- <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <mat-card *ngFor="let stat of stats" class="hover:shadow-lg transition-shadow">
        <mat-card-header>
            <mat-icon mat-card-avatar>{{stat.icon}}</mat-icon>
            <mat-card-title>{{stat.title}}</mat-card-title>
            <mat-card-subtitle>{{stat.subtitle}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="text-3xl font-bold text-center my-4">{{stat.value}}</p>
        </mat-card-content>
    </mat-card>
</div> -->