<main class="articles-list-container site-container lg:grid grid-cols-7 gap-10 lg:gap-20 py-5 lg:py-10 items-stretch">
    <main class="col-span-5">
        <div class="main-side-container max-w-xl mx-auto lg:max-w-none">
            <div class="tabs-wrapper relative flex items-center justify-between lg:mt-8 border-b border-skin-border">
                <nav class="relative flex space-x-3 lg:space-x-8 -mb-[2px]" aria-label="Tabs">
                    <button type="button" aria-current="page" (click)="sortBy(RECENT)"
                        aria-labelledby="Toggle to recent articles tab"
                        [ngClass]="activePage === RECENT ? 'active-tab' : ''"
                        class="text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm lg:text-base font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'articles.new' | translate}}</span>
                    </button>

                    <button type=" button" aria-current="false" (click)="sortBy(POPULAR)"
                        aria-labelledby="Toggle to pupular articles tab"
                        [ngClass]="activePage === POPULAR ? 'active-tab' : ''"
                        class="text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm lg:text-base font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'articles.famous' | translate}}</span>
                    </button>

                    <button type="button" aria-current="false" (click)="sortBy(TRENDING)"
                        aria-labelledby="Toggle to trending articles tab"
                        [ngClass]="activePage === TRENDING ? 'active-tab' : ''"
                        class="text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm lg:text-base font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'articles.modish' | translate}}</span>
                    </button>

                    <button type="button" aria-current="false" (click)="sortBy(TAGS)"
                        aria-labelledby="Toggle to the tag articles tab"
                        [ngClass]="activePage === TAGS ? 'active-tab' : ''"
                        class="lg:hidden relative text-skin-muted hover:text-skin-base hover:border-skin-border py-4 px-1 text-sm font-semibold border-b-4 border-transparent transition-all duration-200">
                        <span>{{'app.tags' | translate}}</span>
                    </button>
                </nav>

                <div *ngIf="openedTagsDropdown"
                    class="tagList-container lg:hidden flex flex-wrap justify-center absolute z-30 top-full gap-1.5 p-3 mt-4 max-h-[50vh] sm:max-h-[80vh] w-[85%] sm:w-[70%] bg-skin-bgMuted border shadow-2xl rounded-2xl overflow-y-scroll no-scrollbar">
                    <ng-container *ngFor="let tag of tagList">
                        <button (click)="sortByTag(tag.name)" type="button" aria-current="false" aria-labelledby="a tag"
                            [ngClass]="{'active-tag': activeTag == tag.name}"
                            class="group inline-flex items-center px-3 py-1 text-sm font-medium text-skin-inverted rounded-full border border-skin-border hover:bg-skin-card transition-all duration-200">
                            <svg [ngStyle]="{'color': tag.colorCode}" class="mr-1 h-2 w-2" fill="currentColor"
                                viewBox="0 0 8 8">
                                <circle cx="4" cy="4" r="3"></circle>
                            </svg>
                            <span
                                class="truncate lowercase font-semibold group-hover:text-primary-500">{{tag?.name}}</span>
                        </button>
                    </ng-container>
                </div>

                <div>
                    <button aria-label="Button to create a new article" (click)="openArticleEntryDialog()" type="button"
                        class="rounded-lg lg:shadow-lg lg:border lg:border-primary-500 lg:pl-0 lg:pr-2 flex lg:gap-0 items-center hover:shadow-md transition-all duration-300 lg:hover:bg-primary-100 lg:hover:bg-opacity-30">
                        <svg xmlns="http://www.w3.org/2000/svg"
                            class="h-10 w-10 text-white fill-primary-500 border-primary-500" fill="none"
                            viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="1.1"
                            d="M12 9v3m0 0v3m0-3h3m-3 0H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                        </svg>
                        <span class="hidden lg:inline text-primary-500">Rédiger</span>
                    </button>
                </div>
            </div>

            <div class="articles-wrapper articles-scrollable-list-panel py-12 space-y-12 lg:space-y-11 min-h-screen"
                infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">

                <div class="flex justify-center items-center min-h-[50vh]" *appShellRender>
                    <svg class="w-10 h-10 animate-spin" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                        preserveAspectRatio="xMidYMid">
                        <circle cx="50" cy="50" fill="none" stroke="#15b2bc" stroke-width="10" r="35"
                            stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                            style="animation-play-state:paused"></circle>
                    </svg>
                </div>

                <ng-template [ngIf]="articles" *appShellNoRender>
                    <div *ngFor="let article of articles; let i=index" class="space-y-11">
                        <div class="article-card lg:grid grid-cols-3 gap-6 group">
                            <a aria-labelledby="Link to about page" routerLink="/articles/{{article.id}}"
                                class="article-preview hover:opacity-75">
                                <div class="aspect-w-3 aspect-h-2 shadow-lg rounded-lg overflow-hidden">
                                    <app-image [classes]="'object-cover transition-all duration-200'"
                                        [sourceUrl]="article?.thumbnail!" [alt]="article?.title!">
                                    </app-image>
                                </div>
                            </a>

                            <div class="col-span-2 article-text lg:flex flex-col justify-between mt-4 lg:mt-0">

                                <div class="flex justify-between items-start">
                                    <div class="article-tags-container flex flex-wrap items-center gap-1">
                                        <a *ngFor="let tag of article?.tags" routerLink='/articles'
                                            [queryParams]="{tag:tag.name}"
                                            class="tag-item flex items-center space-x-2 group">
                                            <span
                                                class="inline-flex text-skin-inverted items-center leading-none px-2.5 py-1.5 text-sm font-semibold rounded-full border border-skin-borderBold">
                                                <svg [ngStyle]="{'color': tag.colorCode}" class="mr-1 h-2 w-2"
                                                    fill="currentColor" viewBox="0 0 8 8">
                                                    <circle cx="4" cy="4" r="3"></circle>
                                                </svg>
                                                <span class="hover:text-primary-500">
                                                    {{tag.name}}
                                                </span>

                                            </span>
                                        </a>

                                    </div>

                                    <div *ngIf="authService.currentUsr as currentUsr">
                                        <div *ngIf="isAuthor(currentUsr, article) || authService.isAdmin">
                                            <button [matMenuTriggerFor]="menu"
                                                class="rounded-full p-2 opacity-0 group-hover:opacity-100 hover:bg-skin-link transition-all duration-500"
                                                aria-label="icon-button with a menu">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-4 text-secondary"
                                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                                                </svg>
                                            </button>

                                            <mat-menu #menu="matMenu" class="font-normal text-skin-base bg-skin-bg">
                                                <a aria-labelledby="Link to article edit page" routerLink="{{article.id}}/edit"
                                                    class="flex items-end gap-3 px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-sm transition-all duration-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                    </svg>
                                            
                                                    <span>{{ 'articleDetail.edit' | translate }}</span>
                                                </a>
                                                <button (click)="openArticleDeleteDialog(article?.id)" aria-labelledby="Delete article button"
                                                    class="flex items-end gap-3 w-full text-left px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-sm transition-all duration-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                    <span>{{ 'articleDetail.delete' | translate }}</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </div>
                                </div>

                                <div class="mt-2">
                                    <a aria-labelledby="Link to about page" routerLink="/articles/{{article.id}}"
                                        class="article-title">
                                        <h4
                                            class="article-title text-lg lg:text-2xl inline-block leading-6 font-semibold text-skin-inverted transition-all duration-200 hover:text-primary-500">
                                            {{capitalize(article?.title!)}}
                                        </h4>
                                    </a>

                                    <p
                                        class="article-description mt-1 text-sm lg:text-base tracking-wide font-light text-skin-text leading-5 line-clamp-2">
                                        <ng-container *ngIf="article?.summary">{{article?.summary}}</ng-container>
                                    </p>

                                    <div class="article-author mt-3 flex items-center">
                                        <div class="author-image flex-shrink-0">
                                            <a aria-labelledby="Link to author profile"
                                                [routerLink]="authService?.currentUsr?.id == article?.author?.id ? ['/user/profile'] : ['/user/' + article?.author?.id]">
                                                <app-image [classes]="'h-10 w-10 rounded-full'"
                                                    [sourceUrl]="article.author?.profilePicture!"
                                                    [alt]="article?.author?.fullName!">
                                                </app-image>
                                            </a>
                                        </div>

                                        <div class="author-text ml-3">
                                            <p class="text-sm font-semibold text-skin-inverted">
                                                <a aria-labelledby="Link to about page"
                                                    [routerLink]="authService?.currentUsr?.id == article?.author?.id ? ['/user/profile'] : ['/user/' + article?.author?.id]"
                                                    class="hover:underline">
                                                    {{article?.author?.fullName}}
                                                </a>
                                            </p>
                                            <div class="flex space-x-1 text-sm text-skin-muted">
                                                <time [dateTime]="article?.publishedAt | date">{{article?.publishedAt |
                                                    date}}</time>
                                                <span aria-hidden="true">·</span>
                                                <span>
                                                    {{article?.readingTime}}{{ 'articles.ofReadTime' | translate}}
                                                </span>
                                            </div>
                                        </div>

                                        <div
                                            class="reactions-total flex items-center justify-end text-skin-inverted gap-2 flex-1 self-end text-right text-sm font-semibold">
                                            <span class="inline-flex items-center gap-1">
                                                <svg xmlns="http://www.w3.org/2000/svg"
                                                    class="inline w-[18px] text-accent-300" fill="none"
                                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M15 12a3 3 0 11-6 0 3 3 0 016 0z" />
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z" />
                                                </svg>
                                                <span>{{nFormater(article.viewsCount)}}</span>
                                            </span>

                                            <span class="inline-flex items-center gap-1">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="inline w-4 text-accent-300" viewBox="0 0 20 20" fill="currentColor">
                                                    <path fill-rule="evenodd" d="M11.3 1.046A1 1 0 0112 2v5h4a1 1 0 01.82 1.573l-7 10A1 1 0 018 18v-5H4a1 1 0 01-.82-1.573l7-10a1 1 0 011.12-.38z" clip-rule="evenodd" />
                                                </svg>
                                                <span>{{nFormater(article?.reactions?.length)}}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <!-- Sponsor Content into articles scroll -->
                        <ng-container *ngIf="(i+1)%3 === 0">
                            <div class="mt-11">
                                <app-ads-rectangle></app-ads-rectangle>
                            </div>
                        </ng-container>
                    </div>
                </ng-template>

                <ng-template [ngIf]="loading">
                    <div *ngFor="let elt of [].constructor(pageItemsLimit)">
                        <div class="skeleton-container lg:grid grid-cols-3 gap-6 items-start">
                            <div class="aspect-w-3 aspect-h-2">
                                <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                    'border-radius': '8px',
                                     'height.%': 100,
                                     'width.%': 100
                                    }">
                                </ngx-skeleton-loader>
                            </div>

                            <div class="col-span-2 mt-4 lg:mt-0">
                                <div class="tags-container flex space-x-3">
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                    'border-radius': '9999px',
                                        height: '30px',
                                        width: '100px',
                                        display: 'block'
                                    }">
                                    </ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                        'border-radius': '9999px',
                                            height: '30px',
                                            width: '100px',
                                            display: 'block'
                                        }">
                                    </ngx-skeleton-loader>
                                </div>

                                <div class="content-container mt-2">
                                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                    'border-radius': '5px',
                                        height: '40px',
                                        display: 'block'
                                    }">
                                    </ngx-skeleton-loader>
                                    <ngx-skeleton-loader count="2" appearance="line" [theme]="{ 
                                            'border-radius': '5px',
                                                height: '15px',
                                                display: 'block'
                                            }">
                                    </ngx-skeleton-loader>

                                    <div class="flex items-center space-x-2">
                                        <div class="">
                                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '9999px',
                                                'width.px': 50,
                                                'height.px': 50
                                            }">
                                            </ngx-skeleton-loader>
                                        </div>
                                        <div class="flex-1">
                                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '5px',
                                                height: '10px',
                                                display: 'block'
                                            }">
                                            </ngx-skeleton-loader>
                                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '5px',
                                                height: '10px',
                                                 display: 'block'
                                            }">
                                            </ngx-skeleton-loader>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <!-- No Content Found Message -->
                <ng-template [ngIf]="noArticlesAvailable">
                    <div class="flex flex-col justify-center items-center h-96 space-y-5">
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-20 w-20 text-primary-500" fill="currentColor"
                            viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M5 19a2 2 0 01-2-2V7a2 2 0 012-2h4l2 2h4a2 2 0 012 2v1M5 19h14a2 2 0 002-2v-5a2 2 0 00-2-2H9a2 2 0 00-2 2v5a2 2 0 01-2 2z" />
                        </svg>
                        <div class="text-sm font-semibold text-skin-base">
                            {{ 'articles.noArticlesAvailable' | translate }}
                        </div>
                    </div>
                </ng-template>

                <!-- Loading More Spinner -->
                <div *ngIf="loadingMore" class="flex justify-center py-5">
                    <svg class="w-10 h-10 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
                        preserveAspectRatio="xMidYMid">
                        <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                            stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                            style="animation-play-state:paused"></circle>
                    </svg>
                </div>

                <!-- Alert no more Articles -->
                <div *ngIf="!notEmptyArticles" class="py-5">
                    <div class="flex justify-center">
                        <div class="text-skin-base text-sm font-bold">{{ 'articles.noMoreArticles' | translate }}</div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <aside class="col-span-2 hidden lg:block space-y-6 lg:space-y-10">
        <div class="tags space-y-6">
            <span
                class="inline-flex items-center px-2 py-1 rounded-md text-sm font-medium bg-skin-link text-skin-base ">
                <svg class="mr-1.5 h-2 w-2 text-skin-base" fill="currentColor" viewBox="0 0 8 8">
                    <circle cx="4" cy="4" r="3"></circle>
                </svg>
                {{ 'articles.tagTitle' | translate }}
            </span>

            <div class="" aria-labelledby="article-tags">
                <ng-template [ngIf]="tagList">

                    <!-- <div class="tagList-container flex flex-wrap gap-1.5" *appShellNoRender>
                        <ng-container *ngFor="let tag of tagList">
                            <button (click)="sortByTag(tag.name)" type="button" aria-labelledby="A tag"
                                [ngClass]="{'active-tag': activeTag == tag.name}"
                                class="group inline-flex items-center px-3 py-1 text-sm font-medium text-skin-inverted rounded-full border border-skin-border hover:bg-skin-card transition-all duration-200">
                                <svg [ngStyle]="{'color': tag.colorCode}" class="mr-1 h-2 w-2" fill="currentColor"
                                    viewBox="0 0 8 8">
                                    <circle cx="4" cy="4" r="3"></circle>
                                </svg>
                                <span
                                    class="truncate lowercase font-semibold group-hover:text-primary-500">{{tag?.name}}</span>
                            </button>
                        </ng-container>
                    </div> -->

                    <app-collapsible-tags [tagList]="tagList" (activeTagEvent)="setActiveTag($event)" (filterEvent)="sortByTag(activeTag)"></app-collapsible-tags>

                </ng-template>

                <ng-template [ngIf]="loading && !tagList">
                    <div class="tags-skeleton-container">
                        <ngx-skeleton-loader class="flex space-x-1" count="3" appearance="line" [theme]="{ 
                                'border-radius': '9999px',
                                 width: '80px',
                                 height: '30px',
                                 display: 'block'
                                }">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader class="flex space-x-1" count="2" appearance="line" [theme]="{ 
                                'border-radius': '9999px',
                                 width: '100px',
                                 height: '30px',
                                 display: 'block'
                                }">
                        </ngx-skeleton-loader>
                    </div>
                </ng-template>
            </div>
        </div>

        <!-- Sponsor Content below tag list-->
        <div class="sticky top-28">
            <app-ads-square></app-ads-square>
        </div>

    </aside>
</main>