<div class="pb-5">
    <nav class="top-nav sm:flex sm:items-center justify-between mt-6">
        <div class="nav-links inline-flex space-x-3 font-semibold text-skin-base">
            <a routerLink="/" class="group flex items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg"
                    class="h-6 w-6 group-hover:-translate-x-1 text-primary-500 transition-all duration-300" fill="none"
                    viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M7 16l-4-4m0 0l4-4m-4 4h18" />
                </svg>
                <span class="text-primary-500">
                    Tous les articles
                </span>
            </a>
            <a routerLink="#dashboard" class="">
                <span>
                    Mes articles
                </span>
            </a>
        </div>

        <div class="action-buttons hidden lg:block space-x-1 sm:space-x-2">
            <div *ngIf="form.invalid; else validBtn" class="space-x-1 sm:space-x-2">
                <button
                    class="px-4 py-2 border border-primary-500 shadow-sm bg-primary-500 opacity-[0.15] rounded-full text-sm text-white leading-5 font-semibold"
                    type="submit" disabled>
                    Publier
                </button>
                <button type="submit" disabled
                    class="px-4 py-2 border border-skin-border shadow-sm bg-skin-card opacity-[0.15] rounded-full text-sm text-skin-base leading-5 font-semibold">
                    Sauvergarder
                </button>
            </div>
            <ng-template #validBtn>
                <button type="submit" (click)="publishArticle()"
                    class="px-4 py-2 border border-primary-500 rounded-full shadow-sm bg-primary-500 text-sm leading-5 font-semibold text-white hover:text-primary-500 hover:bg-skin-cardMuted hover:border-primary-500 focus:outline-none focus:ring-offset-2 focus:ring-primary-500 focus:border-skin-border transition-all duration-300">
                    publier
                </button>
                <button type="submit" (click)="saveArticle()"
                    class="px-4 py-2 border border-skin-border rounded-full shadow-sm bg-skin-card text-sm leading-5 font-semibold text-skin-base hover:bg-skin-cardMuted focus:outline-none transition-all duration-300">
                    Sauvergarder
                </button>
            </ng-template>
        </div>
    </nav>

    <form [formGroup]="form">
        <div class="article-data-container lg:grid grid-cols-10 gap-10 items-start mt-10 lg:mt-20">
            <aside class="col-span-2">
                <div class="left-side-container">
                    <label for="cover_photo" class="block text-sm font-semibold leading-5 text-skin-base">
                        Image de couverture
                    </label>

                    <div class="article-image-preview-wrapper relative mt-5">
                        <div *ngIf="!form.get('thumbnail')?.value"
                            class="label-image-preview relative w-full overflow-hidden">
                            <label for="file" (click)="onClickFileUpload()"
                                class="preview-label group flex items-center justify-center rounded-md cursor-pointer overflow-hidden">
                                <div class="text-center">
                                    <svg class="mx-auto h-10 w-10 text-skin-muted" stroke="currentColor" fill="none"
                                        viewBox="0 0 48 48">
                                        <path
                                            d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="mt-1 text-xs text-skin-base leading-6">
                                        <span
                                            class="font-semibold text-primary-500 focus:outline-none focus:underline transition duration-150 ease-in-out">
                                            Upload a file
                                        </span>
                                        or drag and drop
                                    </p>
                                    <p class="mt-1 text-xs text-skin-muted">
                                        PNG, JPG, GIF up to 1MB
                                    </p>

                                    <!-- <input class="preview-close-btn sr-only" type="file" id="file" name="fileUpload" #fileUpload accept="image/*"> -->
                                    <input class="sr-only" type="file" id="fileUpload" name="fileUpload" #fileUpload
                                        accept="image/*">
                                </div>

                                <div class="preview-loader w-full h-full hidden items-center justify-center"
                                    wire:loading.class.remove="hidden" wire:target="file">
                                    <!-- Add the flex class to the div if loading is true -->
                                    <svg class="animate-spin -ml-1 mr-3 h-5 w-5 text-primary-500"
                                        wire:loading="wire:loading" wire:target="file" fill="none" viewBox="0 0 24 24">
                                        <circle class="opacity-25" cx="12" cy="12" r="10" stroke="currentColor"
                                            stroke-width="4"></circle>
                                        <path class="opacity-75" fill="currentColor"
                                            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z">
                                        </path>
                                    </svg>
                                </div>
                            </label>
                        </div>

                        <!-- <img *ngIf="form.get('thumbnail')?.value" src="http://localhost:4200/articles/images/{{form.get('thumbnail')?.value}}"> -->
                        <img *ngIf="thumbnail?.value" class="preview-image object-cover h-full w-full rounded-lg border"
                            src="{{thumbnail?.value}}">

                        <div *ngIf="thumbnail?.value"
                            class="absolute top-0 right-0 z-20 flex justify-center w-5 h-5 mt-2 mr-2 text-sm leading-tight text-white bg-gray-700 rounded-full opacity-80 cursor-pointer hover:opacity-100"
                            (click)="removeFile()">x</div>
                    </div>

                    <div class="tag-list mt-10">
                        <label for="tags_selected" class="block text-sm font-semibold leading-5 text-skin-base">
                            Tags
                        </label>

                        <div class="mt-5">
                            <ng-multiselect-dropdown [placeholder]="'Selectionez vos tags'" formControlName="tags"
                                [settings]="dropdownSettings" [data]="tagListDrop" (onSelect)="onItemSelect($event)"
                                (onSelectAll)="onSelectAll($event)">
                            </ng-multiselect-dropdown>
                        </div>
                    </div>
                </div>
            </aside>

            <main class="col-span-6">
                <div class="main-side-container">
                    <div class="article-title mt-10 lg:mt-0">
                        <input id="title" required minlength="4" formControlName="title"
                            class="w-full bg-transparent border-b border-skin-border !pb-2 focus:outline-none placeholder:text-skin-muted text-secondary text-xl sm:text-2xl lg:text-5xl font-semibold placeholder:font-extrabold placeholder:text-xl sm:placeholder:text-2xl lg:placeholder:text-5xl"
                            placeholder='Entrez le titre de votre article...' autocomplete="off" />

                        <div *ngIf="title?.invalid && title?.dirty" class="">
                            <div *ngIf="title?.errors?.['required']" class="mt-2 text-xs sm:text-sm text-error italic">
                                Le titre est obligatoire.
                            </div>
                            <div *ngIf="title?.errors?.['minlength']" class="mt-2 text-xs sm:text-sm text-error italic">
                                Le titre doit comporter au moins 4 caractères.
                            </div>
                        </div>
                    </div>

                    <div class="article-content !shadow-md mt-4 sm:mt-2">
                        <div
                            class="editor-header mt-4 font-semibold relative flex items-center justify-between w-full bg-skin-card">

                            <div class="flex items-center w-full">
                                <div (click)="setActiveTab('editor')"
                                    class="relative tab flex space-x-1 items-center p-4 text-sm font-semibold text-skin-base cursor-pointer hover:bg-skin-muted sm:text-base">
                                    <svg class="w-2 h-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15.232 5.232l3.536 3.536m-2.036-5.036a2.5 2.5 0 113.536 3.536L6.5 21.036H3v-3.572L16.732 3.732z">
                                        </path>
                                    </svg>
                                    <span>Saisi</span>
                                    <div [ngClass]="activeTab == 'editor' ? 'active-tab' : ''"
                                        class="green-border bg-primary-500 h-0.5 w-full absolute -inset-x-1 bottom-0 scale-0">
                                    </div>
                                </div>

                                <div (click)="setActiveTab('preview')"
                                    class="relative tab flex space-x-1 items-center p-4 text-sm font-semibold text-skin-base cursor-pointer sm:text-base">
                                    <svg class="w-2 h-2" xmlns="http://www.w3.org/2000/svg" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z">
                                        </path>
                                    </svg>
                                    <span>Preview</span>
                                    <div [ngClass]="activeTab == 'preview' ? 'active-tab' : ''"
                                        class="green-border bg-primary-500 h-0.5 w-full absolute -inset-x-1 bottom-0 scale-0">
                                    </div>
                                </div>

                                <div (click)="setActiveTab('help')"
                                    class="relative tab flex space-x-1 items-center p-4 text-sm font-semibold text-skin-base cursor-pointer sm:text-base">
                                    <svg xmlns="http://www.w3.org/2000/svg" class="h-2 w-2" fill="none"
                                        viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    <span>Aide</span>
                                    <div [ngClass]="activeTab == 'help' ? 'active-tab' : ''"
                                        class="green-border bg-primary-500 h-0.5 w-full absolute -inset-x-1 bottom-0 scale-0">
                                    </div>
                                </div>
                            </div>
                            <!-- <div
                                    class="hidden relative sm:flex items-center h-full px-4 text-sm font-semibold text-skin-base cursor-pointer sm:text-base">
                                    <input type="file" x-on:change="upload(event, '')" x-ref="image" id="image-"
                                        class="absolute top-0 left-0 w-full h-full opacity-0 cursor-pointer" tabindex="-1">
                                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6 cursor-pointer">
                                        <path
                                            d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z"
                                            class="cursor-pointer"></path>
                                    </svg>
                                </div> -->
                        </div>

                        <div class="tabs-content-wrapper">
                            <div *ngIf="content?.invalid && content?.dirty" class="">
                                <div *ngIf="content?.errors?.['required']"
                                    class="p-4 bg-white text-xs sm:text-sm text-error italic">
                                    Le contenu de l'article est obligatoire.
                                </div>
                            </div>

                            <div *ngIf="activeTab === 'editor'" class=" min-h-screen w-full">
                                <textarea formControlName="content" id="content" required
                                    class="editor-textarea bg-white text-skin-base p-4 h-screen w-full"
                                    placeholder="Type your content"></textarea>
                            </div>
                            <div *ngIf="activeTab === 'preview'"
                                class="markdown-preview-container bg-skin-bg min-h-screen w-full p-4">
                                <markdown [data]="content?.value"
                                    class="markdown-content prose text-skin-base font-normal max-w-none prose-cyan md:prose-lg prose-code:p-1 prose-code:rounded-md prose-code:bg-primary-100 prose-code:text-primary-500 prose-code:!text-lg prose-img:rounded-md prose-p:leading-9 prose-a:font-semibold prose-a:no-underline hover:prose-a:underline prose-headings:text-skin-inverted">
                                </markdown>
                            </div>

                            <div *ngIf="activeTab === 'help'"
                                class="help-container h-full bg-skin-card min-h-screen p-4 relative z-30 prose md:prose-sm lg:prose-lg max-w-none">
                                <h2>Les bases du Markdown</h2>
                                <p>Vous trouverez ci-dessous une syntaxe de démarquage couramment utilisée. Pour une
                                    plongée plus profonde dans le
                                    language Markdown, consultez cet <a
                                        class="text-primary-500 font-semibold no-underline"
                                        href="https://commonmark.org/help/" target="_blank">Aide-mémoire</a>
                                </p>
                                <hr>
                                <h3>Gras &amp; Italique</h3>
                                <p><span class="mr-2 italic">Italique</span> <span
                                        class="p-1">*asterisks*</span><br><span class="mr-2 font-bold">Gras</span>
                                    <span class="p-1">**double asterisks**</span>
                                </p>
                                <hr>
                                <h3>Code</h3>
                                <p><span class="mr-2">Code en ligne</span><br><span
                                        class="p-1 text-primary-500 bg-primary-100 rounded-md">`backtick`</span><span
                                        class="block mt-2 mr-2">Bloc de code</span><span
                                        class="block p-1  text-primary-500 bg-primary-100">```<br>Trois backticks puis
                                        entrez vos blocs de code ici.<br>```</span></p>
                                <hr>
                                <h3>En-têtes</h3>
                                <p># Ceci est un Heading 1<br>## Ceci est un Heading 2<br>### Ceci est un Heading 3<br>
                                </p>
                                <hr>
                                <h3>Quotes</h3>
                                <blockquote> &gt; tapez un signe supérieur à et commencez à taper votre devis.
                                </blockquote>
                                <hr>
                                <h3>Liens</h3>
                                <p>Vous pouvez ajouter <a href="#_">des liens</a> en ajoutant du texte à l'intérieur de
                                    <span class="p-1  text-primary-500 bg-primary-100">[]</span> et le lien à
                                    l'intérieur de <span class="p-1  text-primary-500 bg-primary-100">()</span>,
                                    ainsi:
                                </p>
                                <div class="p-1 font-semibold  text-primary-500 bg-primary-100">
                                    [link_text](https://google.com)</div>
                                <hr>
                                <h3>Listes</h3>
                                <p>Pour ajouter une liste numérotée, vous pouvez simplement commencer par un nombre et
                                    un <span class="p-1  text-primary-500 bg-primary-100">.</span>, ainsi:<br><span
                                        class="block p-1 pl-5  text-primary-500 bg-primary-100"> 1.
                                        Le premier élément de ma liste</span></p>
                                <p>Pour une liste non ordonnée, vous pouvez ajouter un tiret <span
                                        class="p-1  text-primary-500 bg-primary-100">-</span>, ainsi:<br><span
                                        class="block p-1 pl-5  text-primary-500 bg-primary-100"> - Le début de ma
                                        liste</span></p>
                                <hr>
                                <h3>Images</h3>
                                <p>Vous pouvez ajouter des images en sélectionnant l'icône d'image, qui téléchargera et
                                    ajoutera une image à l'éditeur, ou
                                    vous pouvez ajouter manuellement l'image en ajoutant un point d'exclamation <span
                                        class="p-1  text-primary-500 bg-primary-100">!</span>, suivi du texte alternatif
                                    à l'intérieur de <span class="p-1  text-primary-500 bg-primary-100">[]</span>, et
                                    l'URL de l'image à l'intérieur de <span
                                        class="p-1  text-primary-500 bg-primary-100">()</span>,
                                    ainsi:</p>
                                <div class="p-1 font-semibold  text-primary-500 bg-primary-100">![texte alternatif pour
                                    l'image](url_vers_image.png)</div>
                                <hr>
                                <h3>Séparateur</h3>
                                <p>Pour ajouter un séparateur, vous pouvez ajouter trois tirets ou trois
                                    astérisques:<br><span class="block p-1 pl-5  text-primary-500 bg-primary-100">--- or
                                        ***</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <aside class="col-span-2">
                <div class="rigth-side-container">
                </div>
            </aside>
        </div>

        <div class="action-buttons lg:hidden flex space-x-1 sm:space-x-2 mt-5">
            <div *ngIf="form.invalid; else validBtn" class="space-x-1 sm:space-x-2">
                <button
                    class="px-4 py-2 border border-primary-500 shadow-sm bg-primary-500 opacity-[0.15] rounded-full text-sm text-white leading-5 font-semibold"
                    type="submit" disabled>
                    Publier
                </button>
                <button type="submit" disabled
                    class="px-4 py-2 border border-skin-border shadow-sm bg-skin-card opacity-[0.15] rounded-full text-sm text-skin-base leading-5 font-semibold">
                    Sauvergarder
                </button>
            </div>
            <ng-template #validBtn>
                <button type="submit" (click)="publishArticle()"
                    class="px-4 py-2 border border-primary-500 rounded-full shadow-sm bg-primary-500 text-sm leading-5 font-semibold text-white hover:text-primary-500 hover:bg-skin-cardMuted hover:border-primary-500 focus:outline-none focus:ring-offset-2 focus:ring-primary-500 focus:border-skin-border transition-all duration-300">
                    publier
                </button>
                <button type="submit" (click)="saveArticle()"
                    class="px-4 py-2 border border-skin-border rounded-full shadow-sm bg-skin-card text-sm leading-5 font-semibold text-skin-base hover:bg-skin-cardMuted focus:outline-none transition-all duration-300">
                    Sauvergarder
                </button>
            </ng-template>
        </div>
    </form>

</div>