.article-image-preview-wrapper {
  height: 14rem;
}

.label-image-preview {
  height: 100%;
}

.preview-label {
  border: 2px dashed #e5e7eb;
  height: 100%;
}

.tags-select {
  @apply focus:ring-0 focus:ring-skin-muted;
}

.editor-textarea {
  border: none;
  outline-color: transparent;
  @apply focus:ring-0;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.markdown-preview-container {
  /* @apply ; */
}

.active-tab {
  @apply text-primary-500 border-b border-primary-500;
}

.tab {
  @apply hover:bg-skin-link;
}
