<main class="relative py-10 max-w-7xl mx-auto mt-20">
    <div class="user-update-content-wrapper flex items-center justify-center min-h-full">
        <div class="max-w-md w-full space-y-8">
            <div class="profile-navigation-btns lg:hidden">
                <a routerLink="/user/profile" class="flex items-center space-x-1 font-semibold">
                    <svg class="h-5 w-5 text-primary-500" xmlns="http://www.w3.org/2000/svg" fill="none"
                        viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="3" d="M15 19l-7-7 7-7">
                        </path>
                    </svg>
                    <span class="text-primary-500 text-base">
                        Mes infos
                    </span>
                </a>
            </div>
            <div>
                <h2 class="text-center text-xl lg:text-2xl font-extrabold text-skin-inverted">
                    Modifier mes infos
                </h2>
            </div>

            <form [formGroup]="form" (ngSubmit)="updateUserInfos()"
                class="space-y-6 bg-skin-bgMuted p-4 lg:px-6 rounded-md">
                <div class="space-y-4">
                    <div>
                        <label for="fullName" class="block text-sm font-semibold leading-5 text-skin-inverted">
                            Nom complet
                        </label>
                        <div class="mt-2">
                            <div class="relative ">
                                <input name="fullName" type="text" id="fullName" required formControlName="fullName"
                                    class="" required placeholder="Nom complet">
                            </div>
                            <div *ngIf="fullName?.invalid && fullName?.dirty" class="">
                                <div *ngIf="fullName?.errors?.['required']"
                                    class="mt-1 text-xs sm:text-sm text-error italic">
                                    Votre nom est obligatoire.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div>
                        <label for="email" class="block text-sm font-semibold leading-5 text-skin-inverted">
                            Adresse E-mail
                        </label>
                        <div class="mt-2">
                            <div class="relative ">
                                <input name="email" type="email" id="email" required formControlName="email" class=""
                                    autocomplete="email" required placeholder="Adresse E-mail">
                            </div>
                            <div *ngIf="email?.invalid && email?.dirty" class="">
                                <div *ngIf="email?.errors?.['required']"
                                    class="mt-1 text-xs sm:text-sm text-error italic">
                                    L'email est obligatoire.
                                </div>
                                <div *ngIf="email?.invalid" class="mt-1 text-xs sm:text-sm text-error italic">
                                    Vous devez entrer une adresse email valide
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div>
                    <button *ngIf="form.valid" type="submit" [disabled]="loading" [ngClass]="{'opacity-50': loading}"
                        class="button group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 hover:bg-primary-500 focus:outline-none">
                        <span class="lock-btn absolute left-0 flex items-center pl-3">
                            <svg class="h-5 w-5 fill-primary-500 group-hover:fill-primary-300"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span *ngIf="!loading">Enregistrer</span>
                        <svg *ngIf="loading" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                            viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                                style="animation-play-state:paused"></circle>
                        </svg>
                    </button>

                    <button *ngIf="form.invalid" [disabled]="form.invalid || loading"
                        class="button group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-white bg-primary-300 bg-opacity-20">
                        <span class="lock-btn absolute left-0 flex items-center pl-3">
                            <svg class="h-5 w-5 fill-primary-500 opacity-20" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        Enregistrer
                    </button>
                </div>
            </form>

        </div>

    </div>
</main>