<main class="site-container py-10 lg:py-14 min-h-screen">
    <form *ngIf="form" [formGroup]="form">
        <div class="article-data-container flex flex-col lg:grid grid-cols-7 gap-10 lg:gap-14 items-stretch">
            <main class="col-span-5 order-2 lg:order-none">
                <div class="main-side-container">
                    <nav class="top-nav items-center justify-between hidden lg:flex">
                        <div
                            class="nav-links flex justify-between sm:justify-start items-center sm:gap-10 font-semibold">
                            <button (click)="navigate.back()" class="text-primary-500 group flex items-center gap-1"
                                aria-label="navigate back button">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                    class="text-primary-500 group-hover:text-primary-300" data-supported-dps="24x24"
                                    fill="currentColor" width="24" height="24" focusable="false">
                                    <path d="M9 4l-4.87 7H22v2H4.13L9 20H6.56L1 12l5.56-8z"></path>
                                </svg>
                            </button>
                            <h2>
                                <a aria-labelledby="Link to about page" routerLink="/user/dashboard"
                                    class="text-lg text-primary-500 hover:text-primary-300">
                                    {{ 'app.myArticles' | translate }}
                                </a>
                            </h2>
                        </div>
                    </nav>

                    <label for="cover_photo"
                        class="block text-base font-semibold leading-5 text-skin-base mt-5 lg:mt-14">
                        {{ 'articleEntryEdit.coverImageTitle' | translate }}
                    </label>

                    <div class="article-image-preview-wrapper relative mt-5">
                        <div *ngIf="!thumbnail?.value"
                            class="label-image-preview relative aspect-w-4 aspect-h-2 overflow-hidden">
                            <label *ngIf="!uploading" for="file" (click)="fileUpload.click()"
                                class="preview-label group flex items-center justify-center rounded-md cursor-pointer overflow-hidden">
                                <div class="text-center">
                                    <svg class="mx-auto h-10 w-10 text-skin-muted" stroke="currentColor" fill="none"
                                        viewBox="0 0 48 48">
                                        <path
                                            d="M28 8H12a4 4 0 00-4 4v20m32-12v8m0 0v8a4 4 0 01-4 4H12a4 4 0 01-4-4v-4m32-4l-3.172-3.172a4 4 0 00-5.656 0L28 28M8 32l9.172-9.172a4 4 0 015.656 0L28 28m0 0l4 4m4-24h8m-4-4v8m-12 4h.02"
                                            stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                    <p class="mt-1 text-xs text-skin-base leading-6">
                                        <span
                                            class="font-semibold text-primary-500 focus:outline-none focus:underline transition duration-150 ease-in-out">
                                            Upload a file
                                        </span>
                                    </p>
                                    <p class="mt-1 text-xs text-skin-muted">
                                        PNG, JPG, GIF up to 5MB
                                    </p>

                                    <input class="sr-only" type="file" id="fileUpload" name="fileUpload" #fileUpload
                                        (change)="onFileSelected($event, 'coverImage')" accept="image/*">
                                </div>
                            </label>

                            <div *ngIf="uploading" class="flex items-center justify-center shadow-lg rounded-lg border">
                                <svg class="w-10 h-10 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                                    viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                    <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                                        stroke-dasharray="164.93361431346415 56.97787143782138"
                                        transform="matrix(1,0,0,1,0,0)" style="animation-play-state:paused"></circle>
                                </svg>
                            </div>
                        </div>


                        <div *ngIf="thumbnail?.value"
                            class="image-wrapper shadow-lg overflow-hidden rounded-lg aspect-w-4 aspect-h-2">
                            <app-image [classes]="'object-cover'" [sourceUrl]="thumbnail?.value!"
                                [alt]="article?.title!">
                            </app-image>
                        </div>

                        <div *ngIf="thumbnail?.value"
                            class="cover-close-btn absolute top-0 right-0 z-10 flex justify-center w-5 h-5 mt-2 mr-2 text-sm leading-tight text-white bg-gray-700 rounded-full opacity-80 cursor-pointer hover:opacity-100"
                            (click)="removeFile()">x
                        </div>
                    </div>

                    <div class="article-title mt-10">
                        <input (keyup)="typeInTitle(getValue($event))" id="title" required minlength="4"
                            formControlName="title"
                            class="w-full bg-transparent border-b border-skin-border !pb-2 focus:outline-none placeholder:text-skin-muted text-secondary text-xl sm:text-2xl lg:text-5xl font-semibold placeholder:font-extrabold placeholder:text-xl sm:placeholder:text-2xl lg:placeholder:text-5xl"
                            placeholder="{{ 'articleEntryEdit.titlePlaceholder' | translate }}" autocomplete="off" />

                        <div *ngIf="title?.invalid && title?.dirty" class="">
                            <div *ngIf="title?.errors?.['required']" class="mt-2 text-xs sm:text-sm text-error italic">
                                {{ 'articleEntryEdit.missingTitle' | translate }}
                            </div>
                            <div *ngIf="title?.errors?.['minlength']" class="mt-2 text-xs sm:text-sm text-error italic">
                                {{ 'articleEntryEdit.invalidTitleLenght' | translate }}
                            </div>
                        </div>
                    </div>

                    <div class="article-content !shadow-md mt-4 sm:mt-2">
                        <div
                            class="editor-header mt-4 font-semibold relative flex items-center justify-between w-full bg-skin-card">
                            <div class="flex items-center w-full">
                                <div (click)="setActiveTab('editor')"
                                    class="relative tab flex p-4 space-x-1 items-center text-sm font-semibold text-skin-base cursor-pointer hover:bg-skin-muted sm:text-base">
                                    <svg [ngClass]="activeTab == 'editor' ? 'text-primary-500' : ''" class="w-4 h-4"
                                        xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                        data-supported-dps="24x24" fill="currentColor" stroke="currentColor">
                                        <path
                                            d="M21.13 2.86a3 3 0 00-4.17 0l-13 13L2 22l6.19-2L21.13 7a3 3 0 000-4.16zM6.77 18.57l-1.35-1.34L16.64 6 18 7.35z">
                                        </path>
                                    </svg>
                                    <span [ngClass]="activeTab == 'editor' ? 'text-primary-500' : ''">
                                        {{ 'articleEntryEdit.editTabText' | translate }}
                                    </span>
                                    <div [ngClass]="activeTab == 'editor' ? 'active-tab' : ''"
                                        class="green-border bg-primary-500 h-0.5 w-full absolute -inset-x-1 bottom-0 scale-0">
                                    </div>
                                </div>

                                <div (click)="setActiveTab('preview')"
                                    class="relative tab flex p-4 space-x-1 items-center text-sm font-semibold text-skin-base cursor-pointer sm:text-base">
                                    <svg [ngClass]="activeTab == 'preview' ? 'text-primary-500' : ''" class="w-4 h-4"
                                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                                        stroke="currentColor" aria-hidden="true">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M15 12a3 3 0 11-6 0 3 3 0 016 0z"></path>
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M2.458 12C3.732 7.943 7.523 5 12 5c4.478 0 8.268 2.943 9.542 7-1.274 4.057-5.064 7-9.542 7-4.477 0-8.268-2.943-9.542-7z">
                                        </path>
                                    </svg>
                                    <span [ngClass]="activeTab == 'preview' ? 'text-primary-500' : ''">
                                        {{ 'articleEntryEdit.previewTabText' | translate }}
                                    </span>
                                    <div [ngClass]="activeTab == 'preview' ? 'active-tab' : ''"
                                        class="green-border bg-primary-500 h-0.5 w-full absolute -inset-x-1 bottom-0 scale-0">
                                    </div>
                                </div>

                                <div (click)="setActiveTab('help')"
                                    class="relative tab flex p-4 space-x-1 items-center text-sm font-semibold text-skin-base cursor-pointer sm:text-base">
                                    <svg xmlns="http://www.w3.org/2000/svg"
                                        [ngClass]="activeTab == 'help' ? 'text-primary-500' : ''" class="h-4 w-4"
                                        fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                            d="M8.228 9c.549-1.165 2.03-2 3.772-2 2.21 0 4 1.343 4 3 0 1.4-1.278 2.575-3.006 2.907-.542.104-.994.54-.994 1.093m0 3h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
                                    </svg>
                                    <span [ngClass]="activeTab == 'help' ? 'text-primary-500' : ''">
                                        {{ 'articleEntryEdit.helpTabText' | translate }}
                                    </span>
                                    <div [ngClass]="activeTab == 'help' ? 'active-tab' : ''"
                                        class="green-border bg-primary-500 h-0.5 w-full absolute -inset-x-1 bottom-0 scale-0">
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="activeTab === 'editor'"
                                class="relative cursor-pointer inline-flex items-center justify-center h-10 w-10 sm:h-12 sm:w-12 mx-1 hover:shadow-sm rounded-full text-skin-base hover:bg-skin-link transition-all duration-200">
                                <input class="sr-only" (change)="onFileSelected($event, 'editorImage')" type="file"
                                    id="editorFileUpload" name="editorFileUpload" #editorFileUpload accept="image/*">
                                <svg (click)="editorFileUpload.click()" fill="none" stroke="currentColor"
                                    stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24"
                                    class="w-6 h-6 ">
                                    <path
                                        d="M4 16l4.586-4.586a2 2 0 012.828 0L16 16m-2-2l1.586-1.586a2 2 0 012.828 0L20 14m-6-6h.01M6 20h12a2 2 0 002-2V6a2 2 0 00-2-2H6a2 2 0 00-2 2v12a2 2 0 002 2z">
                                    </path>
                                </svg>
                            </div>
                        </div>

                        <div class="tabs-content-wrapper">
                            <div *ngIf="content?.invalid && content?.dirty" class="">
                                <div *ngIf="content?.errors?.['required']"
                                    class="p-4 bg-white text-xs sm:text-sm text-error italic">
                                    {{ 'articleEntryEdit.missingArticleContent' | translate }}
                                </div>
                            </div>

                            <div *ngIf="activeTab === 'editor'">
                                <textarea (keyup)="typeInEditor(getValue($event))" (keydown)="typeInEditor(getValue($event))" formControlName="content"
                                    id="content" required
                                    class="editor-textarea bg-white text-lg text-skin-base p-4 w-full min-h-screen"
                                    placeholder="{{ 'articleEntryEdit.articleContentPlaceholder' | translate }}">
                                </textarea>
                            </div>

                            <div *ngIf="activeTab === 'preview'"
                                class="markdown-preview-container bg-skin-bg w-full p-4">
                                <markdown [data]="content?.value"
                                    class="prose max-w-none text-skin-art text-lg lg:text-xl prose-headings:text-primary-500 prose-headings:text-xl lg:prose-headings:text-3xl prose-a:text-primary-500 prose-code:bg-skin-link prose-code:p-1 prose-code:rounded-lg prose-code:text-skin-text prose-code:font-normal prose-code:before:hidden prose-code:after:hidden">
                                </markdown>
                            </div>

                            <div *ngIf="activeTab === 'help'"
                                class="help-container bg-skin-card p-4 prose max-w-none text-skin-art text-lg lg:text-xl prose-headings:text-primary-500 prose-headings:text-xl lg:prose-headings:text-3xl prose-a:text-primary-500 prose-code:bg-skin-link prose-code:p-1 prose-code:rounded-lg prose-code:text-skin-text prose-code:font-normal prose-code:before:hidden prose-code:after:hidden">
                                <h2>{{'articleEntryEdit.helpTitle' | translate}}</h2>
                                <p>
                                    {{'articleEntryEdit.helpSubTitle' | translate}}
                                    <a aria-labelledby="Link to about page"
                                        class="text-primary-500 font-semibold no-underline"
                                        href="https://commonmark.org/help/" target="_blank"> Aide-mémoire
                                    </a>
                                </p>
                                <hr>
                                <h3>Gras &amp; Italique</h3>
                                <p><span class="mr-2 italic">Italique</span> <span
                                        class="p-1">*asterisks*</span><br><span class="mr-2 font-bold">Gras</span>
                                    <span class="p-1">**double asterisks**</span>
                                </p>
                                <hr>
                                <h3>Code</h3>
                                <p>
                                    <span class="mr-2">Code en ligne</span>
                                    <br>
                                    <span class="flex items-center bg-primary-100 space-x-4">
                                        <span class="bg-primary-100 p-1 text-primary-500 rounded-md">`backtick`</span>
                                        <markdown ngPreserveWhitespaces class="">
                                            `backtick`
                                        </markdown>
                                    </span>
                                    <span class="block mt-2 mr-2">Bloc de code</span>
                                    <span class="block p-1  text-primary-500 bg-primary-100">
                                        ```ext<br>Trois backticks suivi de l'extension de votre langage de
                                        programmation puis entrez vos blocs de code ici.<br>```
                                        <br>
                                        ```java<br>String lang = "java"<br>```
                                        <br>
                                        ```js<br>const lang = 'javascript'<br>```
                                        <br>
                                        ```ts<br>const lang: string = 'typescript'<br>```

                                        <div class="p-2">
                                            <markdown ngPreserveWhitespaces>
                                                ```java
                                                String lang = "java"
                                                ```
                                                ```js
                                                const lang = 'javascript'
                                                ```
                                                ```ts
                                                const lang: string = 'typescript'
                                                ```
                                            </markdown>
                                        </div>
                                    </span>
                                </p>
                                <hr>
                                <h3>En-têtes</h3>
                                <p># Ceci est un Heading 1<br>## Ceci est un Heading 2<br>### Ceci est un Heading 3<br>
                                </p>
                                <hr>
                                <h3>Quotes</h3>
                                <blockquote> &gt; tapez un signe supérieur à et commencez à taper votre devis.
                                </blockquote>
                                <hr>
                                <h3>Liens</h3>
                                <p>Vous pouvez ajouter <a aria-labelledby="Example markdown link" href="#_">des
                                        liens</a> en ajoutant du texte à l'intérieur de
                                    <span class="p-1  text-primary-500 bg-primary-100">[]</span> et le lien à
                                    l'intérieur de <span class="p-1  text-primary-500 bg-primary-100">()</span>,
                                    ainsi:
                                </p>
                                <div class="p-1 font-semibold  text-primary-500 bg-primary-100">
                                    [link_text](https://google.com)</div>
                                <hr>
                                <h3>Listes</h3>
                                <p>Pour ajouter une liste numérotée, vous pouvez simplement commencer par un nombre et
                                    un <span class="p-1  text-primary-500 bg-primary-100">.</span>, ainsi:<br><span
                                        class="block p-1 pl-5  text-primary-500 bg-primary-100"> 1.
                                        Le premier élément de ma liste</span></p>
                                <p>Pour une liste non ordonnée, vous pouvez ajouter un tiret <span
                                        class="p-1  text-primary-500 bg-primary-100">-</span>, ainsi:<br><span
                                        class="block p-1 pl-5  text-primary-500 bg-primary-100"> - Le début de ma
                                        liste</span></p>
                                <hr>
                                <h3>Images</h3>
                                <p>Vous pouvez ajouter des images en sélectionnant l'icône d'image, qui téléchargera et
                                    ajoutera une image à l'éditeur, ou
                                    vous pouvez ajouter manuellement l'image en ajoutant un point d'exclamation <span
                                        class="p-1  text-primary-500 bg-primary-100">!</span>, suivi du texte alternatif
                                    à l'intérieur de <span class="p-1  text-primary-500 bg-primary-100">[]</span>, et
                                    l'URL de l'image à l'intérieur de <span
                                        class="p-1  text-primary-500 bg-primary-100">()</span>,
                                    ainsi:</p>
                                <div class="p-1 font-semibold  text-primary-500 bg-primary-100">
                                    ![texte alternatif pour l'image](url_vers_image.png)
                                    <div class="mt-5 break-words font-normal">
                                        <span>
                                            ![American airline](https://images.bfmtv.
                                            com/6h3mL8pJzAWIfwvsgUSo7TOGnbI=/3x2:1251x704/640x0/images/-158966.jpg)
                                        </span>
                                    </div>
                                    <div class="max-w-md mx-auto">
                                        <markdown ngPreserveWhitespaces>
                                            ![American
                                            airline](https://images.bfmtv.com/6h3mL8pJzAWIfwvsgUSo7TOGnbI=/3x2:1251x704/640x0/images/-158966.jpg)
                                        </markdown>
                                    </div>
                                </div>
                                <hr>
                                <h3>Séparateur</h3>
                                <p>Pour ajouter un séparateur, vous pouvez ajouter trois tirets ou trois
                                    astérisques:<br><span class="block p-1 pl-5  text-primary-500 bg-primary-100">--- or
                                        ***</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </main>

            <aside class="col-span-2 order-1 lg:order-none">
                <div class="sticky top-36 z-20 space-y-10">
                    <nav class="top-nav font-semibold flex items-center justify-between lg:hidden">
                        <button (click)="navigate.back()" class="text-primary-500 group flex items-center gap-1"
                            aria-label="navigate back button">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
                                class="text-primary-500 group-hover:text-primary-300" data-supported-dps="24x24"
                                fill="currentColor" width="24" height="24" focusable="false">
                                <path d="M9 4l-4.87 7H22v2H4.13L9 20H6.56L1 12l5.56-8z"></path>
                            </svg>
                        </button>

                        <h2>
                            <a aria-labelledby="Link to about page" routerLink="/user/dashboard"
                                class="text-lg text-primary-500 hover:text-primary-300">
                                <span>{{ 'app.myArticles' | translate }}</span>
                                <svg xmlns="http://www.w3.org/2000/svg" class="inline ml-1 h-6 w-6" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M9 5l7 7-7 7" />
                                </svg>
                            </a>
                        </h2>
                    </nav>

                    <div class="action-buttons lg:!mt-0 flex gap-2 items-center justify-between">
                        <ng-container *ngIf="form.invalid; else validBtn">
                            <button [disabled]="form.invalid || loading"
                                aria-labelledby="button to publish or submit an artticle"
                                class="group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-full text-white bg-primary-300 bg-opacity-20">
                                <span *ngIf="(!isPublishing && isPublished) || authService.isAdmin">
                                    {{ 'articleEntryEdit.publishBtn' | translate }}</span>
                                <span *ngIf="!isPublishing && !isPublished && !authService.isAdmin">
                                    {{ 'articleEntryEdit.submitBtn' | translate }}</span>
                            </button>

                            <button *ngIf="isSaving" class="relative group" aria-label="saving article">
                                <svg class="w-6 h-6 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                                    viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                    <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                                        stroke-dasharray="164.93361431346415 56.97787143782138"
                                        transform="matrix(1,0,0,1,0,0)" style="animation-play-state:paused"></circle>
                                </svg>
                                <span class="save-tooltip group-hover:scale-100">
                                    {{ 'articleEntryEdit.savingText' | translate }}
                                </span>
                            </button>

                            <button *ngIf="isSaved && !isSaving" class="relative group" aria-label="successfully saved">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary-500" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="save-tooltip group-hover:scale-100">
                                    {{ 'articleEntryEdit.saveSuccessText' | translate }}
                                </span>
                            </button>

                            <button *ngIf="saveFailed && !isSaving" class="relative group" aria-label="saving failed">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-error" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                                </svg>
                                <span class="save-tooltip !bg-error group-hover:scale-100">
                                    {{ 'articleEntryEdit.saveFailedText' | translate }}
                                </span>
                            </button>
                        </ng-container>

                        <ng-template #validBtn>
                            <button type="submit" aria-labelledby="button to publish or submit an article"
                                (click)="publishArticle()" [disabled]="isSaving || isPublishing"
                                [ngClass]="{'opacity-50': isSaving || isPublishing }"
                                class="group font-semibold relative w-full flex justify-center gap-2 py-2 px-4 border border-transparent text-sm shadow-lg rounded-full text-white bg-primary-300 hover:bg-primary-500 focus:outline-none transition-all duration-200">
                                <span *ngIf="(!isPublishing && isPublished) || authService.isAdmin">
                                    {{ 'articleEntryEdit.publishBtn' | translate }}
                                </span>
                                <span *ngIf="!isPublishing && !isPublished && !authService.isAdmin">
                                    {{ 'articleEntryEdit.submitBtn' | translate }}
                                </span>
                                <svg *ngIf="isPublishing" class="w-5 h-5 animate-spin"
                                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                                    width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                    <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                                        stroke-dasharray="164.93361431346415 56.97787143782138"
                                        transform="matrix(1,0,0,1,0,0)" style="animation-play-state:paused"></circle>
                                </svg>
                            </button>


                            <button *ngIf="isSaving" class="relative group" aria-label="saving article">
                                <svg class="w-6 h-6 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                                    viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                                    <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="8" r="35"
                                        stroke-dasharray="164.93361431346415 56.97787143782138"
                                        transform="matrix(1,0,0,1,0,0)" style="animation-play-state:paused"></circle>
                                </svg>
                                <span class="save-tooltip group-hover:scale-100">
                                    {{ 'articleEntryEdit.savingText' | translate }}
                                </span>
                            </button>

                            <button *ngIf="isSaved && !isSaving" class="relative group" aria-label="successfully saved">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-primary-500" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                <span class="save-tooltip group-hover:scale-100">
                                    {{ 'articleEntryEdit.saveSuccessText' | translate }}
                                </span>
                            </button>

                            <button *ngIf="saveFailed && !isSaving" class="relative group" aria-label="saving failed">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-error" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round"
                                        d="M18.364 18.364A9 9 0 005.636 5.636m12.728 12.728A9 9 0 015.636 5.636m12.728 12.728L5.636 5.636" />
                                </svg>
                                <span class="save-tooltip !bg-error group-hover:scale-100">
                                    {{ 'articleEntryEdit.saveFailedText' | translate }}
                                </span>
                            </button>
                        </ng-template>
                    </div>

                    <div class="article-summary">
                        <label for="summary" class="block text-base font-semibold leading-5 text-skin-base">
                            {{ 'articleEntryEdit.summary' | translate }}
                        </label>
                        <div class="mt-5">
                            <textarea (keyup)="typeInSummary(getValue($event))"
                                class="editor-textarea rounded-xl shadow-md text-skin-base w-full placeholder:text-sm no-scrollbar"
                                rows="5" cols="33" placeholder="{{ 'articleEntryEdit.summaryPlaceholder' | translate }}"
                                id="summary" formControlName="summary" required minlength="20" maxlength="250">
                                </textarea>
                            <div *ngIf="summary?.invalid && summary?.dirty" class="">
                                <div *ngIf="summary?.errors?.['required']"
                                    class="mt-2 text-xs sm:text-sm text-error italic">
                                    {{ 'articleEntryEdit.missingSummary' | translate }}
                                </div>
                                <div *ngIf="summary?.errors?.['minlength']"
                                    class="mt-2 text-xs sm:text-sm text-error italic">
                                    {{ 'articleEntryEdit.invalidSummaryLenght' | translate }}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="tag-list" formArrayName="tags">
                        <div class="text-base font-semibold leading-5 text-skin-base">
                            {{ 'app.tags' | translate }}
                        </div>

                        <div class="mt-5">
                            <div (click)="openTagsDropdown()"
                                class="selected-tags-container bg-skin-cardMuted cursor-pointer relative flex flex-wrap p-2 min-h-[50px] gap-1 rounded-xl shadow-md">
                                <ng-container *ngFor="let tag of tags.controls; let i = index">
                                    <span [formGroupName]="i"
                                        class="inline-flex items-center leading-none px-2.5 py-1.5 text-sm text-skin-inverted font-semibold rounded-full border">
                                        <svg [ngStyle]="{'color': tag.value.colorCode}" class="mr-1 h-2 w-2"
                                            fill="currentColor" viewBox="0 0 8 8">
                                            <circle cx="4" cy="4" r="3"></circle>
                                        </svg>
                                        <span>{{tag.value.name}}</span>
                                        <button aria-label="remove the tag" (click)="removeTag(i)"
                                            class="remove-tag-btn cursor-pointer text-skin-muted flex items-center justify-center ml-2 border rounded-full h-4 w-4 justify-self-end">
                                            <span class="remove-tag-btn text-xs">x</span>
                                        </button>
                                    </span>
                                </ng-container>

                                <ng-container *ngIf="!tags.length">
                                    <p class="selected-tags-container text-skin-muted leading-9">Cliquez ici
                                        pour ajouter des tags
                                    </p>
                                </ng-container>

                                <ul *ngIf="tagsDropdownOpened"
                                    class="multiselect-tags-dropdown absolute top-full inset-x-0 mt-1 bg-skin-card border shadow-md rounded-xl max-h-80 overflow-x-auto">
                                    <ng-container *ngFor="let tag of tagList; let i = index">
                                        <li class="tagItem flex items-center gap-2 text-skin-base hover:bg-slate-100 px-4 py-2 cursor-pointer"
                                            (click)="addtag(tag)">
                                            <svg [ngStyle]="{'color': tag.colorCode}" class="mr-1 h-2 w-2"
                                                fill="currentColor" viewBox="0 0 8 8">
                                                <circle cx="4" cy="4" r="3"></circle>
                                            </svg>
                                            {{tag?.name}}
                                        </li>
                                    </ng-container>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </form>

</main>