<div class="site-container">
    <main class="py-5 text-gray-500">
        <section class="py-6">
            <h2 class="text-xl sm:text-3xl text-skin-base font-bold">Statistiques d’utilisation:</h2>
            <!-- <p class="pt-3">Vous avez envoyé {{nberOfMessages}} messages de plus/de moins que la semaine dernière.</p> -->
            <p class="pt-3">Vous avez envoyé {{nberOfMessages}} messages cette semaine.</p>

            <div class="max-w-3xl pt-6">
                <app-stat-chart *ngIf="stats$ | async as stats" [dataset]="stats"></app-stat-chart>
            </div>

        </section>

        <section class="py-6">           
            <div class="max-w-3xl pt-6">
                <app-bot-user-infos *ngIf="infos$ | async as infos" [data]="infos"></app-bot-user-infos>
            </div>
        </section>

        <hr>
        <div class="pt-3">
            <a [routerLink]="'.'">Gérer ma facturation</a>
        </div>
    </main>
</div>
