<ng-template #reviewsContent>
    <section *ngIf="reviewsArray.length" class="w-full mx-auto py-8 lg:py-16 !bg-gradient-to-t lg:bg-gradient-to-t from-grays-200 to-grays-200">
        <div class="overflow-x-clip">
            <h2 class="sr-only">Testimonials</h2>
            <div class="flex transition-transform duration-1000 ease-in-out" [ngStyle]="{'transform': getTransformStyle()}">
                <div class="max-md:min-w-full md:min-w-[25%] px-2 max-h-[33rem]" *ngFor="let review of reviewsArray">
                    <app-review [review]="review"></app-review>
                </div>
            </div>
        </div>
    </section>
</ng-template>

<div *ngIf="loading; else reviewsContent" class="hidden lg:grid place-items-center py-10">
    <ngx-skeleton-loader class="space-x-5" count="4" appearance="line" [theme]="{ 
        'border-radius': '5px',
            height: '230px',
            width: '292px',
            marginBottom: 0
        }">
    </ngx-skeleton-loader>
</div>