<main class="relative site-container z-0 py-10 max-w-7xl mx-auto px-4">
    <div class="flex items-center justify-center py-16 sm:py-24">
        <div class="max-w-md w-full">
            <div>
                <h2 class="text-center text-3xl font-extrabold text-skin-inverted sm:text-left">
                    {{'resendConfirmation.title' | translate}}
                </h2>
                <div class="mt-4 text-sm text-skin-base font-normal">
                    {{'resendConfirmation.message' | translate}}
                </div>
            </div>
            <form [formGroup]="form" (ngSubmit)="resendUserConfirmation()" class="mt-8">
                <div class="block">
                    <label for="email" class="block text-sm font-semibold leading-5 text-skin-base">
                        {{'resendConfirmation.email' | translate}}
                    </label>
                    <div class="mt-1">
                        <div class="relative">
                            <input name="email" type="email" id="email" class="" required="required"
                                formControlName="email" autofocus="autofocus">
                        </div>
                        <div *ngIf="email?.invalid && email?.dirty" class="">
                            <div *ngIf="email?.invalid" class="mt-1 text-xs sm:text-sm text-error italic">
                                {{'resendConfirmation.invaldEmail' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-4">
                    <button *ngIf="form.valid" type="submit" [disabled]="loading" [ngClass]="{'opacity-50': loading}"
                        aria-labelledby="Resend account confirmation button"
                        class="group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-skin-white bg-primary-300 hover:bg-primary-500 focus:outline-none">
                        <span class="lock-btn absolute left-0 flex items-center pl-3">
                            <svg class="h-5 w-5 fill-primary-500 group-hover:fill-primary-300"
                                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
                                aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        <span *ngIf="!loading">{{'resendConfirmation.sendLink' | translate}}</span>
                        <svg *ngIf="loading" class="w-5 h-5 animate-spin" xmlns="http://www.w3.org/2000/svg"
                            xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px"
                            viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
                            <circle cx="50" cy="50" fill="none" stroke="#fff" stroke-width="10" r="35"
                                stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
                                style="animation-play-state:paused"></circle>
                        </svg>
                    </button>

                    <button *ngIf="form.invalid" [disabled]="form.invalid || loading"
                        aria-labelledby="Resend account confirmation button"
                        class="group font-semibold relative w-full flex justify-center py-2 px-4 border border-transparent text-sm rounded-md text-skin-white bg-primary-300 bg-opacity-20">
                        <span class="lock-btn absolute left-0 flex items-center pl-3">
                            <svg class="h-5 w-5 fill-primary-500 opacity-20" xmlns="http://www.w3.org/2000/svg"
                                viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd"
                                    d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                    clip-rule="evenodd"></path>
                            </svg>
                        </span>
                        {{'resendConfirmation.sendLink' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</main>