
<div *ngIf="loading; else popupContent">
    <svg class="w-20 h-20 animate-spin text-primary-500" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" width="200px" height="200px" viewBox="0 0 100 100"
        preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50" fill="none" stroke="currentColor" stroke-width="3" r="35"
        stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
        style="animation-play-state:paused"></circle>
    </svg>
</div>

<ng-template #popupContent>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="handleLogin()" class="space-y-6">
        <div class="content">
            <input name="phoneNumber" id="phoneNumber" required formControlName="phoneNumber" autocomplete="off"
                class="w-full bg-transparent border-b border-skin-border !pb-2 focus:outline-none placeholder:text-skin-muted text-secondary text-xl sm:text-2xl lg:text-5xl font-medium placeholder:font-medium focus:border-b-skin-borderBold"
                required placeholder="Entrez votre numéro">

            <div class="action-buttons flex gap-4 mt-10">
                <button aria-labelledby="cancel"
                    class="px-4 py-2 border border-skin-border rounded-full shadow-sm bg-skin-card text-sm lg:text-lg leading-5 text-skin-base hover:bg-skin-cardMuted focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-body focus:ring-primary-500 transition-all duration-200"
                    (click)="onNoClick()">
                    {{'app.cancel' | translate}}
                </button>

                <button type="submit" aria-labelledby="create an article"
                    class="px-4 py-2 border border-primary-500 rounded-full shadow-sm bg-primary-500 hover:bg-primary-700 text-sm lg:text-lg leading-5 text-white focus:outline-none focus:ring-offset-2 focus:ring-primary-500 focus:border-skin-border transition-all duration-200">
                    Se connecter
                </button>
            </div>
        </div>
    </form>
</ng-template>
