<div *ngIf="loading; else popupContent" class="flex gap-2 items-center text-skin-base">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
        class="w-6 h-6 text-primary-500 animate-spin">
        <path stroke-linecap="round" stroke-linejoin="round"
            d="M19.5 12c0-1.232-.046-2.453-.138-3.662a4.006 4.006 0 00-3.7-3.7 48.678 48.678 0 00-7.324 0 4.006 4.006 0 00-3.7 3.7c-.017.22-.032.441-.046.662M19.5 12l3-3m-3 3l-3-3m-12 3c0 1.232.046 2.453.138 3.662a4.006 4.006 0 003.7 3.7 48.656 48.656 0 007.324 0 4.006 4.006 0 003.7-3.7c.017-.22.032-.441.046-.662M4.5 12l3 3m-3-3l-3 3" />
    </svg>
    <h2 class="block">Verification du numéro...</h2>
</div>

<ng-template #popupContent>
    <form *ngIf="nberForm && !authMode" [formGroup]="nberForm" (ngSubmit)="checkisSignup()" class="space-y-6">
        <div class="content">
            <ngx-intl-tel-input
                [cssClass]="'w-full bg-transparent border-0 border-b border-skin-border !pb-2 focus:outline-none focus:ring-0 focus:border-b-primary-500 placeholder:text-skin-muted text-secondary text-lg sm:text-xl lg:text-5xl font-medium placeholder:font-medium'"
                [preferredCountries]="[CountryISO.Cameroon, CountryISO.France]" [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true" [numberFormat]="placeholderNumberFormat" [searchCountryFlag]="true"
                [searchCountryField]="[SearchCountryField.Iso2, SearchCountryField.Name]" [selectedCountryISO]="currentCountry"
                [phoneValidation]="true" name="phoneNumber" formControlName="phoneNumber" (keydown.enter)="onEnterKeyPress()">
            </ngx-intl-tel-input>
    
            <div class="action-buttons flex gap-2 lg:gap-4 mt-3.5 lg:mt-6">
                <button aria-labelledby="cancel" type="button"
                    class="px-4 py-2 border border-skin-border rounded-full shadow-sm  text-sm lg:text-lg leading-5 text-skin-base  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-body focus:ring-primary-500 transition-all duration-200"
                    (click)="onNoClick()">
                    {{'app.cancel' | translate}}
                </button>
    
                <button type="submit" [disabled]="nberForm.invalid || loading" [ngClass]="{'opacity-30': nberForm.invalid}"
                    aria-labelledby="login whachatgpt"
                    class="px-4 py-2 rounded-full shadow-sm bg-green-600 hover:bg-gradient-to-r from-green-600 to-green-700 text-sm lg:text-lg leading-5 text-skin-white focus:outline-none focus:ring-offset-2 focus:ring-primary-500 focus:border-skin-border transition-all duration-200">
                    J'y vais
                </button>
            </div>
        </div>
    </form>

    <form *ngIf="pwdForm && authMode" [formGroup]="pwdForm" (ngSubmit)="login()" class="space-y-6">
        <div class="content">
            <div class="relative">
                <input name="password" type="{{ passwordVisible ? 'text' : 'password' }}" id="password" required minlength="6" formControlName="password" autocomplete="off"
                    class="w-full bg-transparent border-0 shadow-none border-b border-skin-border !pb-2 focus:outline-none placeholder:text-skin-muted text-secondary text-xl sm:text-2xl lg:text-5xl font-medium placeholder:font-medium focus:border-b-skin-borderBold focus:ring-0"
                    required placeholder="Mot de passe">
                
                <button type="button" class="eye-btn group absolute top-2.5 lg:top-3 right-2.5" (click)="togglePasswordVisibility()">
                    <svg *ngIf="!passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="h-5 w-5 lg:h-10 lg:w-10 text-skin-borderBold group-hover:text-green-600">
                        <path d="M12 15a3 3 0 100-6 3 3 0 000 6z" />
                        <path fill-rule="evenodd"
                            d="M1.323 11.447C2.811 6.976 7.028 3.75 12.001 3.75c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113-1.487 4.471-5.705 7.697-10.677 7.697-4.97 0-9.186-3.223-10.675-7.69a1.762 1.762 0 010-1.113zM17.25 12a5.25 5.25 0 11-10.5 0 5.25 5.25 0 0110.5 0z"
                            clip-rule="evenodd" />
                    </svg>
                
                    <svg *ngIf="passwordVisible" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor"
                        class="h-5 w-5 lg:h-10 lg:w-10 text-skin-borderBold group-hover:text-green-600">
                        <path
                            d="M3.53 2.47a.75.75 0 00-1.06 1.06l18 18a.75.75 0 101.06-1.06l-18-18zM22.676 12.553a11.249 11.249 0 01-2.631 4.31l-3.099-3.099a5.25 5.25 0 00-6.71-6.71L7.759 4.577a11.217 11.217 0 014.242-.827c4.97 0 9.185 3.223 10.675 7.69.12.362.12.752 0 1.113z" />
                        <path
                            d="M15.75 12c0 .18-.013.357-.037.53l-4.244-4.243A3.75 3.75 0 0115.75 12zM12.53 15.713l-4.243-4.244a3.75 3.75 0 004.243 4.243z" />
                        <path
                            d="M6.75 12c0-.619.107-1.213.304-1.764l-3.1-3.1a11.25 11.25 0 00-2.63 4.31c-.12.362-.12.752 0 1.114 1.489 4.467 5.704 7.69 10.675 7.69 1.5 0 2.933-.294 4.242-.827l-2.477-2.477A5.25 5.25 0 016.75 12z" />
                    </svg>
                </button>
            </div>

        
            <div class="action-buttons flex gap-2 lg:gap-4 mt-3.5 lg:mt-6">
                <button aria-labelledby="cancel" type="button"
                    class="px-4 py-2 border border-skin-border rounded-full shadow-sm  text-sm lg:text-lg leading-5 text-skin-base  focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-body focus:ring-primary-500 transition-all duration-200"
                    (click)="onNoClick()">
                    {{'app.cancel' | translate}}
                </button>
        
                <button type="submit" [disabled]="pwdForm.invalid || loading" [ngClass]="{'opacity-30': pwdForm.invalid}" aria-labelledby="login whachatgpt"
                    class="px-4 py-2 rounded-full shadow-sm bg-green-600 hover:bg-gradient-to-r from-green-600 to-green-700 text-sm lg:text-lg leading-5 text-skin-white focus:outline-none focus:ring-offset-2 focus:ring-primary-500 focus:border-skin-border transition-all duration-200">
                    J'y vais
                </button>
            </div>
        </div>
    </form>
</ng-template>
