<main class="site-container">
    <div class="text-center prose dark:prose-invert p-8 mx-auto">
        <h1 class=" text-center uppercase text-4xl mb-8">Achat annulé</h1>
        <p class="">Il semble que vous avez annulé la finalisation de votre achat. Si vous avez rencontré des problèmes ou si vous
        avez des questions, envoyez nous un message ici
            <a href="https://services.zerofiltre.tech/contact.html" class="font-extrabold  shadow-lg">contact</a></p>
        <h4 class="text-lg mt-8 font-normal uppercase ">Vous pouvez aller à la liste de cours</h4>
        <a routerLink="/cours" class="group flex items-center justify-center gap-1   transition-all duration-300">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                class="w-5 h-5 group-hover:-translate-x-2 transition-all duration-300">
                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18" />
            </svg>
            Liste de cours
        </a>
        <img src="https://ik.imagekit.io/lfegvix1p/canceled-removebg_so-v2NS7V.png?updatedAt=1682006158414" alt="payment canceled" class="mx-auto relative -top-8">
    </div>
</main>
