<main class="site-container">
    <div class="text-center prose dark:prose-invert p-8 mx-auto">
        <h1 class="text-primary-500 text-center uppercase text-4xl mb-8">Achat annulé</h1>
        <p class="text-skin-base">Il semble que nous ne soyons pas en mesure de finaliser votre achat. Si vous avez rencontré des problèmes ou si vous
        avez des questions, envoyez un e-mail à
            <span class="font-extrabold text-secondary">info@zerofiltre.tech</span></p>
        <h4 class="text-lg mt-8 font-normal uppercase text-skin-muted">Vous pouvez maintenant fermer cet onglet</h4>
        <img src="https://ik.imagekit.io/lfegvix1p/canceled-removebg_so-v2NS7V.png?updatedAt=1682006158414" alt="payment canceled" class="mx-auto">
    </div>
</main>
