.article-image-preview {
  height: 14rem;
}

.preview-label {
  border: 2px dashed #e5e7eb;
  height: 100%;
}

.tags-select {
  @apply focus:ring-0 focus:border-inherit;
}

.editor-textarea {
  border: none;
  outline-color: transparent;
  @apply focus:ring-0;
}

.markdown-preview-container {
  /* @apply ; */
}

.active-tab {
  @apply text-primary-500 border-b border-primary-500;
}

.tab {
  @apply hover:bg-skin-link;
}
