/* @import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap"); */
/* @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap'); */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extends forms plugin styles with our custom styles in one place */
@layer base {
  [type="text"],
  [type="email"],
  [type="password"],
  [type="search"],
  [multiple],
  select {
    @apply shadow-sm   block w-full focus:outline-none font-normal sm:text-sm rounded-md;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply h-4 w-4 lg:h-5 lg:w-5   focus:ring-0 focus:ring-offset-0  rounded;
  }

  @font-face {
    font-family: 'Leicht';
    font-weight: 500;
    src: url(./assets/fonts/Leicht.otf) format('otf');
    /* src: url(./assets/fonts/Leicht.otf) format('otf'), url(./assets/fonts/Kraftig.otf) format('otf') */
  }

  @font-face {
    font-family: 'Kraftig';
    font-weight: 700;
    src: url(./assets/fonts/Kraftig.otf) format('otf');
  }

  * {
    /* @apply transition-colors duration-100 ease-in-out; */
  }

  :root {
    /* --primary-800: 4,102,108;
    --secondary: 5,43,93;
    --accent-500: 236,170,71;
  
    --skin-link: 243,244,246;
    --skin-border: 229,231,235;
    --skin-card: 255,255,255;
    --skin-cardMuted: 249,250,251;
    --skin-borderBold: 209,213,219;
    --skin-bg: 249,250,251;
    --skin-bg-secondary: 5,43,93;
    --skin-bgMuted: 243,244,246; */
    
    --color-text-base: 107,114,128;
    --color-text-muted: 50,50,50;
    --color-text-inverted: 5,43,93;
  
    --color-fill-primary: 255,255,255;
    --color-fill-secondary: 255,255,255;
    --color-fill-danger: 245,95,68;
    --color-fill-warning: 236,170,71;
    --color-fill-success: 236,170,71;

    --color-button-accent: 255,255,255;
    --color-button-accent-hover: 255,255,255;

    --color-button-muted: 255,255,255;
  }
  
  .dark {
    --color-text-base: 255,255,255;
    --color-text-muted: 178,190,205;
    --color-text-inverted: 5,43,93;
  
    --color-fill-primary: 18,24,27;
    --color-fill-secondary: 42,46,53;
    --color-fill-accent: 5,43,93;
    --color-fill-danger: 245,95,68;
    --color-fill-warning: 253,188,90;
    --color-fill-success: 4,102,108;
    --color-fill-hue: 32,39,55;

    --color-fill-accent-hover: 5,53,93;

    --color-button-muted: 4,102,108;
  }

  
  body {
    overflow-x: hidden;
  }

  .sidenav-container {
    background: rgba(var(--color-fill-primary),1);
    color: rgba(var(--color-text-muted),1);
  }
  
  .sidenav-container.ovelay {
    background: linear-gradient(176deg, rgb(var(--color-fill-primary)) 50%, rgb(var(--color-fill-hue)) 100%);
    min-height: 100vh;
    background-attachment: fixed;
  }

}


/* @media (prefers-color-scheme: dark) {
  :root {
  }
} */


/* Always shox Snackbar popup on top of other elements */
.cdk-overlay-pane:has(> .mat-snack-bar-container) {
  @apply !mt-[72px] lg:!mt-16 !max-w-screen-sm;
}
.mat-snack-bar-container {
  @apply lg:!max-w-none;
}

.cdk-overlay-pane {
  @apply !max-w-screen-sm md:!max-w-none;
}

.mat-dialog-container {
  @apply !px-4 md:!px-6;
}

.cdk-global-overlay-wrapper {
  @apply !overflow-y-auto !p-2 !py-6;
}

#privacypolicies-com---nb {
  z-index: 888;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.mat-drawer {
  @apply !bg-transparent backdrop-blur-md;
}

.mat-toolbar {
  color: var(--color-text-base);
}

iframe {
  max-width: 100%;
  margin: auto;
}

.tooltip-xs {
  @apply text-xs;
}

.tooltip-sm {
  @apply text-sm whitespace-pre-line;
}

.enrol-tooltip {
  @apply absolute w-auto p-2 min-w-max top-8 right-0 rounded-md shadow-md
        text-xs font-medium transition-all duration-200 scale-0 origin-center bg-skin-fill-secondary;
}

.enrol-total:hover .enrol-tooltip {
  @apply group-hover:scale-100;
}

.active-tab {
  border-color: rgb(var(--color-text-base),1);
  color: rgba(var(--color-text-base),1);
}

.active-tag {
  @apply  transition-all duration-75 bg-skin-fill-secondary;
}

img {
  @apply max-h-full text-xs text-transparent;
  aspect-ratio: attr(width) / attr(height);
  height: inherit;
}

.site-container {
  max-width: 95rem;
  @apply mx-auto px-4 xl:px-[5%];
}

.mat-dialog-container {
  @apply !bg-skin-fill-secondary
}

.payment-popup .mat-dialog-container {
   @apply  rounded-2xl;
}

.edit-section-popup-panel {
  @apply !overflow-y-scroll;
}

.edit-section-popup-panel .mat-dialog-container{
  @apply rounded-none;
}

.article-popup-panel {
  max-width: 90vw !important;
  @apply !h-[300px] sm:!h-[350px];
}

.popup-search {
  @apply max-sm:!w-full mx-4 lg:!mt-10 lg:!fixed lg:!top-14
}
.popup-search-overlay {
  @apply fixed inset-0  bg-opacity-70 backdrop-blur-sm z-40
}

.article-popup-panel .mat-dialog-container {
  @apply !rounded-2xl !flex  justify-center items-center !p-4 sm:p-6;
}

.popup-panel .mat-dialog-container {
  @apply !rounded-2xl !flex  justify-center items-center !p-4 sm:!p-4 lg:!p-5 w-fit;
}

.popup-panel-nps .mat-dialog-container {
  @apply !rounded-2xl ;
} 

.password-popup-panel .mat-dialog-container {
  @apply !rounded-2xl ;
}

.delete-account-popup-panel .mat-dialog-container {
  @apply !rounded-2xl ;
}

.profile-image-popup-panel .mat-dialog-container {
  @apply !rounded-2xl  sm:!min-w-[390px];
}

.delete-article-popup-panel .mat-dialog-container {
  @apply !rounded-2xl ;
}

/* Message Notification styles */
.success-snackbar {
  /* @apply ; */
}

.error-snackbar {
  @apply bg-skin-fill-danger;
}

.warning-snackbar {
  /* @apply ; */
}

.info-snackbar {
  /* @apply ; */
}

.success-snackbar,
.error-snackbar,
.warning-snackbar,
.info-snackbar {
  /* @apply ; */
}

.success-snackbar button,
.error-snackbar button,
.warning-snackbar button,
.info-snackbar button {
  /* @apply ; */
}

/* Block code styles */
.code-toolbar {
  @apply relative z-20 text-sm lg:text-lg;
}

.toolbar {
  @apply flex absolute top-1.5 right-0 overflow-hidden;
}

.toolbar-item {
  @apply first-of-type:z-10 last-of-type:z-0;
  @apply first-of-type:w-6 first-of-type:lg:w-8;
  @apply last-of-type:absolute inset-0;
  @apply first-of-type:opacity-0;
}

.toolbar-item button {
  @apply text-sm h-full w-full;
}

/* Markdown preview styles */
.markdown-content {
  @apply marker:bg-transparent;
}

.markdown-content li {
  @apply pl-0 lg:pl-1;
}

.markdown-content li > p {
  @apply m-0;
}

:not(pre) > code {
  @apply inline-block px-1 m-0.5;
}

/* Cookie confirmation message container */
#privacypolicies-com---nb {
  @apply font-ubuntu w-screen h-auto shadow-2xl ;
}

.privacypolicies-com---nb-simple {
  @apply !max-w-[100vw] !left-0;
}

.cc-nb-main-container {
  @apply !flex lg:items-center flex-col lg:flex-row gap-3 lg:gap-0 !py-4 !px-4 max-w-[95rem] mx-auto overflow-hidden;
}

.cc-nb-title-container .cc-nb-title {
  display: none !important;
}

.cc-nb-text-container {
  @apply flex-1;
}
.cc-nb-text-container .cc-nb-text {
  @apply !m-0  !text-base;
}

.cc-nb-buttons-container {
  @apply !flex gap-2 lg:!ml-2;
}

.cc-nb-buttons-container .cc-nb-changep {
  border: 1px solid !important;
  @apply !bg-transparent  !rounded-md !font-normal ;
}

.cc-nb-buttons-container .cc-nb-okagree {
  @apply !rounded-md !shadow-lg;
}

.cc-nb-buttons-container .cc-nb-reject {
  display: none !important;
}

.cc-nb-buttons-container .cc-nb-okagree:hover,
.cc-nb-buttons-container .cc-nb-reject:hover {
  opacity: 0.9;
}