/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap"); */
/* @import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,200;0,600;0,700;0,800;1,400;1,500;1,600&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Extends forms plugin styles with our custom styles in one place */
@layer base {
  [type="text"],
  [type="email"],
  [type="password"],
  [type="search"],
  [multiple],
  select {
    @apply shadow-sm focus:ring-primary-500 focus:border-primary-500 block w-full placeholder-skin-muted focus:outline-none focus:placeholder-skin-muted font-normal text-skin-base sm:text-sm border-skin-border rounded-md;
  }

  [type="checkbox"],
  [type="radio"] {
    @apply h-4 w-4 text-primary-500 bg-skin-card focus:ring-primary-500 border-skin-border rounded;
  }
}

.container {
  max-width: 110rem;
  @apply mx-auto px-5 xl:px-[5%];
}

.article-popup-panel {
  max-width: 90vw !important;
  @apply !h-[300px] sm:!h-[350px];
}

.article-popup-panel .mat-dialog-container {
  @apply !flex justify-center items-center bg-skin-cardMuted !p-4 sm:p-6;
}

/* .article-popup-backdrop {
}

.article-popup-backdrop.cdk-overlay-backdrop-showing .sidenav-container {
  filter: blur(5px);
} */

.multiselect-dropdown .dropdown-btn {
  @apply !border-skin-borderBold;
}
.multiselect-dropdown .selected-item {
  @apply !border-secondary !bg-secondary !rounded-md !max-w-none !px-2 my-1 sm:mb-0;
}

.multiselect-item-checkbox input[type="checkbox"] + div:before {
  @apply !border-secondary !text-secondary;
}

.multiselect-item-checkbox input[type="checkbox"]:checked + div:before {
  @apply !bg-secondary !border-secondary !text-secondary;
}

.dropdown-list {
  /* @apply !rounded-sm !shadow-lg; */
}

.dropdown-list .filter-textbox {
  @apply !border-b-skin-borderBold;
}

.dropdown-list .filter-textbox input {
  @apply !outline-none !ring-0;
}

.success-snackbar {
  @apply bg-primary-500 text-white;
}

.error-snackbar {
  @apply bg-error text-white;
}

.warning-snackbar {
  @apply bg-accent text-white;
}

.success-snackbar button,
.error-snackbar button,
.warning-snackbar button {
  @apply text-white;
}

.code-toolbar {
  @apply relative;
}

.toolbar {
  @apply absolute top-2 right-1 text-sm px-2 py-1 rounded-full shadow-md hover:text-skin-muted;
}
