<main class="">
    <section class="overflow-hidden course -mt-24 text-skin-inverted bg-gradient-to-b from-transparent to-cyan-200">
        <div class="site-container mx-auto mt-20 pt-10 sm:pb-5 lg:pb-10 xl:pb-14 lg:pt-9 xl:pt-20">
            <div class="flex flex-col lg:grid grid-cols-6">
                <div
                    class="text-block order-2 lg:order-none col-span-4 xl:col-span-3 flex-none relative z-10 flex flex-col items-start lg:pt-10 max-w-screen-sm mx-auto lg:max-w-2xl lg:mx-0 lg:pr-20 mt-8 sm:mt-9 lg:mt-0">
                    <h1
                        class="order-1 text-3xl sm:text-5xl sm:leading-none font-extrabold tracking-tight text-skin-base mb-4">
                        <span class="text-primary-500">Cours UI components,</span> crafted with Tailwind CSS
                    </h1>

                    <p class="order-2 leading-relaxed mb-8">Over 500+ professionally designed, fully responsive,
                        expertly crafted component examples you can drop into your Tailwind projects and customize to
                        your heart’s content. Get started by checking out our free preview components, or browsing all
                        of the examples in the categories you're most curious about.
                    </p>

                    <div class="order-2 w-full text-center grid grid-cols-1 gap-3 sm:flex sm:gap-0 sm:space-x-6">
                        <a aria-labelledby="Link to about page" href="#" target="_blank"
                            class="text-sm font-semibold bg-secondary bg-opacity-90 text-skin-link py-3 px-4 rounded-lg hover:bg-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900">
                            {{'home.explore' | translate}}
                        </a>
                    </div>
                </div>

                <div
                    class="aside-block shadow-lg rounded-lg overflow-hidden order-1 lg:order-none col-span-2 xl:col-span-3 aspect-w-5 aspect-h-3">
                    <app-image [classes]="'object-cover'" [sourceUrl]="coursesHeroImage"
                        [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                    </app-image>
                </div>
            </div>
        </div>
    </section>

    <section class="overflow-hidden blog text-skin-inverted bg-gradient-to-b from-cyan-200 to-cyan-300">
        <div class="site-container mx-auto pt-16 sm:pb-5 lg:pb-10 xl:pb-14 lg:pt-9 xl:pt-20">
            <div class="flex flex-col lg:grid grid-cols-6">
                <div
                    class="text-block order-2 lg:order-2 col-span-4 xl:col-span-3 flex-none relative z-10 flex flex-col items-start lg:pt-10 max-w-screen-sm mx-auto lg:max-w-2xl lg:mx-0 lg:pl-20 mt-8 sm:mt-9 lg:mt-0">
                    <h1
                        class="order-1 text-3xl sm:text-5xl sm:leading-none font-extrabold tracking-tight text-skin-base mb-4">
                        <span class="text-primary-500">Blog UI components,</span> crafted with Tailwind CSS
                    </h1>

                    <p class="order-2 leading-relaxed mb-8">Over 500+ professionally designed, fully responsive,
                        expertly crafted component examples you can drop into your Tailwind projects and customize to
                        your heart’s content. Get started by checking out our free preview components, or browsing all
                        of the examples in the categories you're most curious about.
                    </p>

                    <div class="order-2 w-full text-center grid grid-cols-1 gap-3 sm:flex sm:gap-0 sm:space-x-6">
                        <a aria-labelledby="Link to about page" routerLink="/articles"
                            class="text-sm font-semibold bg-secondary bg-opacity-90 text-skin-link py-3 px-4 rounded-lg hover:bg-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900">
                            {{'home.explore' | translate}}
                        </a>
                    </div>
                </div>

                <div
                    class="aside-block shadow-lg rounded-lg overflow-hidden order-1 lg:order-1 col-span-2 xl:col-span-3 aspect-w-5 aspect-h-3">
                    <app-image [classes]="'object-cover'" [sourceUrl]="blogHeroImage" [alt]="'people blogging'">
                    </app-image>
                </div>
            </div>
        </div>
    </section>

    <section class="overflow-hidden services text-skin-inverted bg-gradient-to-b from-cyan-300 to-cyan-500">
        <div class="site-container mx-auto pt-16 sm:pb-5 lg:pb-10 xl:pb-14 lg:pt-9 xl:pt-20">
            <div class="flex flex-col lg:grid grid-cols-6">
                <div
                    class="text-block order-2 lg:order-none col-span-4 xl:col-span-3 flex-none relative z-10 flex flex-col items-start lg:pt-10 max-w-screen-sm mx-auto lg:max-w-2xl lg:mx-0 lg:pr-20 mt-8 sm:mt-9 lg:mt-0">
                    <h1
                        class="order-1 text-3xl sm:text-5xl sm:leading-none font-extrabold tracking-tight text-skin-base mb-4">
                        <span class="text-primary-500">Services UI components,</span> crafted with Tailwind CSS
                    </h1>

                    <p class="order-2 leading-relaxed mb-8">Over 500+ professionally designed, fully responsive,
                        expertly crafted component examples you can drop into your Tailwind projects and customize to
                        your heart’s content. Get started by checking out our free preview components, or browsing all
                        of the examples in the categories you're most curious about.
                    </p>

                    <div class="order-2 w-full text-center grid grid-cols-1 gap-3 sm:flex sm:gap-0 sm:space-x-6">
                        <a aria-labelledby="Link to about page" href="https://zerofiltre.tech" target="_blank"
                            class="text-sm font-semibold bg-secondary bg-opacity-90 text-skin-link py-3 px-4 rounded-lg hover:bg-opacity-100 focus:outline-none focus-visible:ring-2 focus-visible:ring-gray-700 focus-visible:ring-offset-2 focus-visible:ring-offset-gray-900">
                            {{'home.explore' | translate}}
                        </a>
                    </div>
                </div>

                <div
                    class="aside-block shadow-lg rounded-lg overflow-hidden order-1 lg:order-none col-span-2 xl:col-span-3 aspect-w-5 aspect-h-3">
                    <app-image [classes]="'object-cover'" [sourceUrl]="servicesHeroImage"
                        [alt]="'a man giving a gift to a woman'">
                    </app-image>
                </div>
            </div>
        </div>
    </section>

    <div class="fixed -z-20 inset-0 landing-bg"></div>
</main>