<main class="">
    <section
        class="overflow-hidden relative course-section h-screen max-h-[800px] pb-16 pt-4  md:pt-8 lg:py-16 grid place-items-center -mt-[85px] bg-gradient-to-b lg:bg-gradient-to-r from-white to-grays-200">
        <div class="site-container mx-auto mt-20 lg:mt-10">
            <div class="flex flex-col lg:flex-row justify-between">
                <div
                    class="text-block basis-2/3 text-center lg:text-left flex flex-col items-start lg:pt-10 lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pr-20">
                    <h1
                        class="text-3xl sm:text-4xl md:text-5xl xl:leading-[1.2] font-extrabold tracking-tight text-secondary mb-10">
                        <!-- {{'home.coursesTitle' | translate}} -->
                        Dopez vos <span class="text-primary-500">compétences</span> sur des sujets techniques afin de
                        devenir un <span class="text-accent-400">profil désiré</span> par des
                        entreprises !
                    </h1>

                    <p class="leading-relaxed mb-14 lg:text-lg text-secondary font-light">
                        <!-- {{'home.coursesText' | translate}} -->
                        Vous souhaitez changer ou améliorer votre carrière?
                        Faites-vous accompagner par des experts du métier
                        sur des sujets techniques via des bootcamps et formations enregistrées.
                    </p>

                    <div
                        class="w-full text-center font-semibold grid grid-cols-1 gap-2 sm:gap-5 sm:flex justify-center lg:justify-start">
                        <a aria-labelledby="Link to about page" href="{{coursesUrl}}" target="_blank"
                            class="flex items-center justify-center gap-2 shadow-md text-base bg-primary-600 text-skin-bg py-2.5 px-4 rounded-md hover:bg-primary-700 focus:outline-none transition-all duration-300">
                            <span>{{'home.exploreCourses' | translate}}</span>
                            <span class="hidden md:block mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 hidden md:block" fill="none"
                                    viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="aside-block basis-1/3 mt-10 lg:mt-0">
                    <app-image [classes]="'m-auto object-contain w-auto sm:max-w-[50%] lg:max-w-full'"
                        [sourceUrl]="coursesHeroImage"
                        [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                    </app-image>
                </div>
            </div>
        </div>

        <div class="hidden md:block absolute bottom-[2%] left-4 xl:left-16">
            <svg class="h-5 w-5 sm:w-8 sm:h-8 fill-primary-600" width="44" height="43" viewBox="0 0 44 43" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M38.3042 0.19944L3.56542 10.2891C0.526382 11.1848 -0.577627 14.9881 1.61191 17.1687L26.4042 41.8591C28.5938 44.0397 32.3925 42.92 33.2757 39.8773L43.2223 5.0973C44.1054 2.0546 41.3769 -0.662718 38.3042 0.19944Z"
                    fill="" />
            </svg>
        </div>

        <div class="hidden md:block absolute bottom-28 right-1/3 rotate-90">
            <svg class="h-5 w-5 sm:w-6 sm:h-6 fill-accent-400" width="44" height="43" viewBox="0 0 44 43" fill="none"
                xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M38.3042 0.19944L3.56542 10.2891C0.526382 11.1848 -0.577627 14.9881 1.61191 17.1687L26.4042 41.8591C28.5938 44.0397 32.3925 42.92 33.2757 39.8773L43.2223 5.0973C44.1054 2.0546 41.3769 -0.662718 38.3042 0.19944Z"
                    fill="" />
            </svg>
        </div>
    </section>

    <section
        class="blog-section h-screen max-h-[800px] pt-8 pb-16 lg:py-16 grid place-items-center bg-gradient-to-b lg:bg-gradient-to-l from-primary-800 to-primary-500">
        <div class="site-container mx-auto">
            <div class="flex flex-col lg:flex-row justify-between">
                <div
                    class="text-block lg:order-2 basis-2/3 text-center lg:text-left flex flex-col items-start lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pl-20">
                    <h1
                        class="text-3xl sm:text-4xl md:text-5xl xl:leading-[1.2] font-extrabold tracking-tight text-white mb-10">
                        <!-- {{'home.blogTitle' | translate}} -->
                        Rejoignez notre <span class="text-primary-500">communauté d'experts</span> afin de <span
                            class="text-accent-400">partager</span>
                        mais surtout <span class="text-accent-400">apprendre</span> d'ingénieurs passionnés par ce
                        qu'ils font !
                    </h1>

                    <p class="leading-relaxed mb-14 lg:text-lg text-white font-light">
                        <!-- {{'home.blogText' | translate}} -->
                        Faire partie de la communauté zerofiltre c'est profiter d'astuces et
                        d'articles validés avec soin, mais aussi avoir la possibilité
                        de se faire du revenu complémentaire en intervenant sur des formations et bootcamps
                        en tant qu'expert.
                    </p>

                    <div
                        class="w-full text-center font-semibold grid grid-cols-1 gap-2 sm:gap-5 sm:flex justify-center lg:justify-start">
                        <a aria-labelledby="Link to about page" routerLink="/articles"
                            class="flex items-center justify-center gap-2 shadow-md text-base bg-primary-600 text-skin-bg py-2.5 px-4 rounded-md hover:bg-primary-700 focus:outline-none transition-all duration-300">
                            <span>{{'home.exploreBlog' | translate}}</span>
                            <span class="hidden md:block mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="aside-block lg:order-1 basis-1/3 mt-10 lg:mt-0">
                    <app-image [classes]="'m-auto object-contain w-auto sm:max-w-[50%] lg:max-w-full'"
                        [sourceUrl]="blogHeroImage"
                        [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                    </app-image>
                </div>
            </div>
        </div>
    </section>

    <section
        class="service-section  h-screen max-h-[800px] pt-8 pb-16 lg:py-16 grid place-items-center bg-gradient-to-b lg:bg-gradient-to-r from-white to-grays-200">
        <div class="site-container mx-auto">
            <div class="flex flex-col lg:flex-row justify-between">
                <div
                    class="text-block basis-2/3 text-center lg:text-left flex flex-col items-start lg:mx-0 mt-8 sm:mt-9 lg:mt-0 lg:pr-20">
                    <h1
                        class="text-3xl sm:text-4xl md:text-5xl xl:leading-[1.2] font-extrabold tracking-tight text-secondary mb-10">
                        <!-- {{'home.servicesTitle' | translate}} -->
                        Nous fournissons des services à <span class="text-primary-500">valeur ajoutée</span> avec une
                        approche taillée pour chaque <span class="text-accent-400">enterprise</span>.
                    </h1>

                    <p class="leading-relaxed mb-14 lg:text-lg text-secondary font-light">
                        <!-- {{'home.servicesText' | translate}} -->
                        Notre équipe d’experts en développement d’applications d’entreprises, web et mobiles vous
                        délivrent le service adéquat comme vous l’imaginez et quand vous le voulez.
                    </p>

                    <div
                        class="w-full text-center font-semibold grid grid-cols-1 gap-2 sm:gap-5 sm:flex justify-center lg:justify-start">
                        <a aria-labelledby="Link to about page" href="{{servicesUrl}}" target="_blank"
                            class="flex items-center justify-center gap-2 shadow-md text-base bg-primary-600 text-skin-bg py-2.5 px-4 rounded-md hover:bg-primary-700 focus:outline-none transition-all duration-300">
                            <span>{{'home.exploreServices' | translate}}</span>
                            <span class="hidden md:block mt-1">
                                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor" stroke-width="2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 8l4 4m0 0l-4 4m4-4H3" />
                                </svg>
                            </span>
                        </a>
                    </div>
                </div>

                <div class="aside-block basis-1/3 mt-10 lg:mt-0">
                    <app-image [classes]="'m-auto object-contain w-auto sm:max-w-[50%] lg:max-w-full'"
                        [sourceUrl]="servicesHeroImage"
                        [alt]="'atelier de cours de codage informatique java html en salle de classe'">
                    </app-image>
                </div>
            </div>
        </div>
    </section>
</main>