<div class="">

    <aside class="text-skin-art">
        <app-curriculum-sidebar></app-curriculum-sidebar>
    </aside>

    <main class="w-[calc(100%-350px)] ml-auto py-5 text-skin-art">
        <div class="site-container px-[6%]">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Temporibus ipsum consequatur, sapiente voluptatem
            molestias porro incidunt doloremque provident. Veniam, necessitatibus ab temporibus nulla perspiciatis esse
            possimus debitis eius explicabo earum.
            Iusto possimus porro dignissimos corrupti error facilis non, deleniti dicta ea sequi, inventore tenetur vel
            repellat mollitia dolorum quibusdam, excepturi aliquam natus repudiandae? Porro dolore assumenda id
            recusandae vero hic.
            Sed error ipsam consequatur! Sequi, doloremque. Quidem illo dolores accusamus impedit facilis aliquid
            voluptatem reprehenderit, voluptas, maiores molestias natus eos quod deleniti aut! Amet optio dicta
            architecto voluptatibus modi nemo.
            Distinctio necessitatibus harum nihil eaque dolorem, ipsam sapiente quas praesentium illum quasi voluptatum
            libero quidem velit atque quia officiis omnis corrupti vel, impedit consequatur blanditiis sed! Labore animi
            quaerat minima.
            Iste vitae perspiciatis tempora minus necessitatibus reiciendis maiores quo quos aut exercitationem, a cum
            repellat numquam recusandae fugiat? Asperiores veritatis repellendus voluptates perspiciatis sunt itaque
            consequatur nisi delectus doloribus accusantium.
            Distinctio quo veritatis, nobis eius cumque est nostrum! Sint optio commodi maxime corrupti voluptas tempore
            in dolore nostrum totam, quod nulla, aut cupiditate nobis pariatur, repellendus ad aperiam natus
            praesentium?
            Hic in, sequi optio placeat unde sed explicabo? Labore culpa earum adipisci accusamus nisi quam perferendis
            nihil, consectetur deserunt facere voluptatibus a porro modi corrupti ut recusandae! Dignissimos, ut
            ducimus.
            Et eaque explicabo dolorum labore quia animi reprehenderit neque exercitationem rem aperiam? Architecto
            officia, quae laborum commodi, est hic corporis, aut veniam nisi distinctio fugit illum reprehenderit
            asperiores ipsa atque.
            Perferendis, optio eos soluta quaerat dolores dolore vero ipsam voluptates asperiores odio repudiandae omnis
            voluptatem assumenda quo cum, praesentium, earum deserunt. Quam asperiores tempore consequuntur eveniet iure
            dicta, id pariatur.
            Omnis iure repudiandae dolorum doloremque tempore inventore error corrupti aliquam quas temporibus optio ut
            fugiat tenetur, eius esse voluptas animi fugit rerum vel beatae commodi maiores. Molestiae amet veniam
            debitis!
        </div>
    </main>

</div>