<footer class="footer bg-secondary text-white mt-5 pt-16 pb-36">
    <div class="container md:grid gap-10">
        <div class="useful-links">
            <div class="services">
                <p class="yellow-text title">NOS SERVICES</p>
                <ul>
                    <li><a routerLink="#">Développement d’applications JAVA</a></li>
                    <li><a routerLink="/app-nav.html">Développement d’applications pour navigateurs Web</a></li>
                    <li><a routerLink="/app-mobile.html">Développement d’applications mobiles</a></li>
                    <li><a routerLink="/support.html">Maintenance d’applications et support</a></li>
                    <li><a routerLink="/web-api.html">Développement d’APIs Web</a></li>
                    <li><a routerLink="/ui.html">Conception UI</a></li>
                </ul>

            </div>

            <div class="achievments">
                <p class="yellow-text title">NOS REALISATIONS</p>
                <ul>
                    <li><a routerLink="/signature-engine.html">Moteur de signature de document</a></li>
                    <li><a routerLink="/portad.html">Portail de suivi de demandes administratives</a></li>
                    <li><a routerLink="/share-photo.html">Partage nous les photos</a></li>
                    <li><a routerLink="/support.html">Maintenance d’applications et support</a></li>

                    <li><a routerLink="/mob-pay.html">Moteur d'agrégation de moyens de paiement mobiles</a></li>
                </ul>

            </div>

            <div class="articles">
                <p class="yellow-text title">DERNIERS ARTICLES</p>
                <ul>
                    <li><a routerLink="https://medium.com/swlh/grapql-from-theory-to-real-world-with-spring-boot-d6b46a28027b?source=friends_link&sk=265f0f4063dbea9780de4a55e8370b14"
                            target="_blank">GraphQL:
                            de la théorie à la pratique avec Spring-boot</a></li>
                    <li><a routerLink="https://medium.com/swlh/understanding-graphql-error-handling-mechanisms-in-spring-boot-604301c9bedb?source=friends_link&sk=1d97101ee639e362b86fad68c2cc2a14"
                            target="_blank">Maîtriser
                            la gestion d’erreurs GraphQL dans une application Spring-boot</a></li>
                    <li>
                        <a routerLink="https://medium.com/@philippechampion58/secure-your-graphql-api-within-a-spring-boot-app-72961fbe9232?sk=447765d64a6a7da1d4d9eec744c78e44"
                            target="_blank">Sécuriser
                            ses APIs GraphQL avec Spring-AOP dans une application Spring-boot </a>
                    </li>
                    <li>
                        <a routerLink="https://medium.com/@philippechampion58/testing-your-graphql-apis-in-a-spring-boot-app-9fe02ebccc35?sk=c91ff02c10402469f6e9c3824a7d89cd"
                            target="_blank">Tester
                            ses APIs GraphQL dans une application Spring-boot </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="useful-links">

            <div class="legal">
                <p class="yellow-text title">INFO. GÉNÉRALES</p>
                <ul>
                    <li><a routerLink="/legal_notice.html">Mentions légales</a></li>
                    <li><a routerLink="/terms_of_use.html">Politique de confidentialité</a></li>
                </ul>
            </div>

            <div class="contact">
                <p class="yellow-text title">Nous contacter</p>
                <ul>
                    <li class="text-base">
                        <span class="text-base">Tél: </span> <a class="yellow-text text-base"
                            routerLink="tel:+33 7 53 42 86 23">+33 7 53 42
                            86 23</a>
                    </li>
                    <li>
                        <span class="text-base">Email: </span> <a class="yellow-text text-base"
                            routerLink="mailto:info@zerofiltre.tech">info@zerofiltre.tech</a><br>
                    </li>
                </ul>
            </div>

        </div>


        <div class="footer-end flex gap-5 justify-between items-start border-t-[1px] border-gray-600 pt-4 mt-20">
            <div class="font-light text-[15px]">
                &copy; 2020
                <span class="text-primary-500 font-bold">Zerofiltre.</span> Tous droits reservés.
            </div>

            <div class="social-links flex justify-between gap-2">
                <a routerLink="https://github.com/zero-filtre" target="_blank">
                    <div class="">
                        <svg class="fill-white rounded-md w-5 h-5 hover:fill-primary-300" role="img" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>GitHub</title>
                            <path
                                d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                        </svg>
                    </div>
                </a>

                <a routerLink="https://www.linkedin.com/company/zerofiltre?_l=fr_FR" target="_blank">
                    <div class="">
                        <svg class="fill-white rounded-md w-5 h-5 hover:fill-primary-300" role="img" viewBox="0 0 24 24"
                            xmlns="http://www.w3.org/2000/svg">
                            <title>LinkedIn</title>
                            <path
                                d="M20.447 20.452h-3.554v-5.569c0-1.328-.027-3.037-1.852-3.037-1.853 0-2.136 1.445-2.136 2.939v5.667H9.351V9h3.414v1.561h.046c.477-.9 1.637-1.85 3.37-1.85 3.601 0 4.267 2.37 4.267 5.455v6.286zM5.337 7.433c-1.144 0-2.063-.926-2.063-2.065 0-1.138.92-2.063 2.063-2.063 1.14 0 2.064.925 2.064 2.063 0 1.139-.925 2.065-2.064 2.065zm1.782 13.019H3.555V9h3.564v11.452zM22.225 0H1.771C.792 0 0 .774 0 1.729v20.542C0 23.227.792 24 1.771 24h20.451C23.2 24 24 23.227 24 22.271V1.729C24 .774 23.2 0 22.222 0h.003z" />
                        </svg>
                    </div>
                </a>
            </div>
        </div>

    </div>
</footer>