<footer class="footer bg-secondary text-white mt-5 pt-16 pb-36">
    <div class="container md:grid gap-10">
        <div class="useful-links">
            <div class="services">
                <p class="yellow-text">NOS SERVICES</p>
                <ul>
                    <li><a href="#">Développement d’applications JAVA</a></li>
                    <li><a href="/app-nav.html">Développement d’applications pour navigateurs Web</a></li>
                    <li><a href="/app-mobile.html">Développement d’applications mobiles</a></li>
                    <li><a href="/support.html">Maintenance d’applications et support</a></li>
                    <li><a href="/web-api.html">Développement d’APIs Web</a></li>
                    <li><a href="/ui.html">Conception UI</a></li>
                </ul>

            </div>

            <div class="achievments">
                <p class="yellow-text">NOS REALISATIONS</p>
                <ul>
                    <li><a href="/signature-engine.html">Moteur de signature de document</a></li>
                    <li><a href="/portad.html">Portail de suivi de demandes administratives</a></li>
                    <li><a href="/share-photo.html">Partage nous les photos</a></li>
                    <li><a href="/support.html">Maintenance d’applications et support</a></li>

                    <li><a href="/mob-pay.html">Moteur d'agrégation de moyens de paiement mobiles</a></li>
                </ul>

            </div>

            <div class="articles">
                <p class="yellow-text">DERNIERS ARTICLES</p>
                <ul>
                    <li><a href="https://medium.com/swlh/grapql-from-theory-to-real-world-with-spring-boot-d6b46a28027b?source=friends_link&sk=265f0f4063dbea9780de4a55e8370b14"
                            target="_blank">GraphQL:
                            de la théorie à la pratique avec Spring-boot</a></li>
                    <li><a href="https://medium.com/swlh/understanding-graphql-error-handling-mechanisms-in-spring-boot-604301c9bedb?source=friends_link&sk=1d97101ee639e362b86fad68c2cc2a14"
                            target="_blank">Maîtriser
                            la gestion d’erreurs GraphQL dans une application Spring-boot</a></li>
                    <li>
                        <a href="https://medium.com/@philippechampion58/secure-your-graphql-api-within-a-spring-boot-app-72961fbe9232?sk=447765d64a6a7da1d4d9eec744c78e44"
                            target="_blank">Sécuriser
                            ses APIs GraphQL avec Spring-AOP dans une application Spring-boot </a>
                    </li>
                    <li>
                        <a href="https://medium.com/@philippechampion58/testing-your-graphql-apis-in-a-spring-boot-app-9fe02ebccc35?sk=c91ff02c10402469f6e9c3824a7d89cd"
                            target="_blank">Tester
                            ses APIs GraphQL dans une application Spring-boot </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="useful-links">

            <div class="legal">
                <p class="yellow-text">INFO. GÉNÉRALES</p>
                <ul>
                    <li><a href="/legal_notice.html">Mentions légales</a></li>
                    <li><a href="/terms_of_use.html">Politique de confidentialité</a></li>
                </ul>
            </div>

            <div class="contact">
                <p class="yellow-text">Nous contacter</p>
                <ul>
                    <li>
                        Tél: <a class="yellow-text text-base" href="tel:+33 7 53 42 86 23">+33 7 53 42 86 23</a>
                    </li>
                    <li>
                        Email: <a class="yellow-text text-base"
                            href="mailto:info@zerofiltre.tech">info@zerofiltre.tech</a><br>
                    </li>
                </ul>
            </div>

        </div>


        <div class="footer-end flex justify-between border-t-[1px] border-gray-600 pt-4 mt-20">
            <p>
                &copy; 2020
                <span class="text-primary-500 font-bold">Zerofiltre.</span> Tous droits reservés.
            </p>
            <div class="social-links flex justify-between">
                <a href="https://github.com/zero-filtre" target="_blank"><img src="images/github.svg"
                        alt="Nos repo github"></a>

                <a href="https://www.linkedin.com/company/zerofiltre?_l=fr_FR" target="_blank"><img
                        src="images/linkedIn.svg" alt="Notre page LinkedIn">
                </a>
            </div>
        </div>
    </div>
</footer>