<div class="site-container pb-20 z-10 relative">
    <div class="relative isolate">
        <svg class="absolute inset-0 -z-10 h-full w-full stroke-gray-200 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]"
            aria-hidden="true">
            <defs>
                <pattern id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527" width="200" height="200" x="50%" y="-1"
                    patternUnits="userSpaceOnUse">
                    <path d="M100 200V.5M.5 .5H200" fill="none" />
                </pattern>
            </defs>
            <svg x="50%" y="-1" class="overflow-visible fill-gray-50">
                <path
                    d="M-100.5 0h201v201h-201Z M699.5 0h201v201h-201Z M499.5 400h201v201h-201Z M-300.5 600h201v201h-201Z"
                    stroke-width="0" />
            </svg>
            <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)" />
        </svg>

        <section class="lg:flex mb-24 lg:mb-44">

            <div class="mx-auto max-w-7xl lg:flex lg:items-center lg:gap-x-10">
                <div class="mx-auto max-w-2xl lg:mx-0 lg:flex-auto">
                    <div class="grid grid-cols-12 items-center gap-5 pt-5">
                        <div class="col-span-2 flex flex-1 items-center gap-2">
                            <span class="sr-only">wachatgpt</span>
                            <app-image [classes]="'w-32 rounded-full'"
                                [sourceUrl]="'https://ik.imagekit.io/lfegvix1p/wachatgpt_logo_BvbXuHIIP.jpeg?updatedAt=1680204972665'"></app-image>
                        </div>
                        <h1 class="col-span-10 max-w-xl text-2xl tracking-tight text-secondary sm:text-5xl lg:leading-[1.15]"><span
                                class="font-bold ">Wachatgpt</span> - ChatGPT sur Whatsapp !</h1>
                    </div>

                    <p class="mt-6 lg:mt-10 text-lg leading-8 lg:text-xl lg:leading-[32px] font-light text-gray-500">
                        WachatGPT c’est votre assistant personnel intelligent boosté par l’intelligence artificille. 😎 <br><br>
                        Posez N’IMPORTE quelle question à tout moment et obtenez une réponse instantanée ! 🎯 <br><br>
                        Obtenez chaque jour, vos cinq premiers messages gratuitement.
                    </p>
                    <div class="mt-14 lg:w-1/2 mx-auto">
                        <a href="https://wa.me/237693176973?text=Salut"
                            class="flex items-center justify-center bg-green-600 hover:bg-gradient-to-r from-green-600 to-green-700 shadow-md transition-all duration-300 text-white font-bold py-4 px-8 rounded-full">
                            <app-image [classes]="'w-8 mr-2'" [sourceUrl]="'https://ik.imagekit.io/lfegvix1p/WhatsApp_icon_D5-ZAmWuV.svg?updatedAt=1680203681973'"></app-image>
                            DÉCOUVRIR sur Whatsapp
                        </a>
                    </div>
                </div>
            </div>

            <div class="lg:flex-shrink-0 lg:flex-grow">
                <svg viewBox="0 0 366 729" role="img" class="mx-auto w-[22.875rem] -mt-20 max-w-full drop-shadow-xl">
                    <title>Wachatgpt</title>
                    <defs>
                        <clipPath id="2ade4387-9c63-4fc4-b754-10e687a0d332">
                            <rect width="316" height="684" rx="36" />
                        </clipPath>
                    </defs>
                    <svg viewBox="0 0 366 400" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#4B5563"
                            d="M363.315 64.213C363.315 22.99 341.312 1 300.092 1H66.751C25.53 1 3.528 22.99 3.528 64.213v44.68l-.857.143A2 2 0 0 0 1 111.009v24.611a2 2 0 0 0 1.671 1.973l.95.158a2.26 2.26 0 0 1-.093.236v26.173c.212.1.398.296.541.643l-1.398.233A2 2 0 0 0 1 167.009v47.611a2 2 0 0 0 1.671 1.973l1.368.228c-.139.319-.314.533-.511.653v16.637c.221.104.414.313.56.689l-1.417.236A2 2 0 0 0 1 237.009v47.611a2 2 0 0 0 1.671 1.973l1.347.225c-.135.294-.302.493-.49.607v377.681c0 41.213 22 63.208 63.223 63.208h95.074c.947-.504 2.717-.843 4.745-.843l.141.001h.194l.086-.001 33.704.005c1.849.043 3.442.37 4.323.838h95.074c41.222 0 63.223-21.999 63.223-63.212v-394.63c-.259-.275-.48-.796-.63-1.47l-.011-.133 1.655-.276A2 2 0 0 0 366 266.62v-77.611a2 2 0 0 0-1.671-1.973l-1.712-.285c.148-.839.396-1.491.698-1.811V64.213Z">
                        </path>
                    </svg>
                    <svg viewBox="0 0 366 400" xmlns="http://www.w3.org/2000/svg">
                        <path fill="#343E4E"
                            d="M16 59c0-23.748 19.252-43 43-43h246c23.748 0 43 19.252 43 43v615c0 23.196-18.804 42-42 42H58c-23.196 0-42-18.804-42-42V59Z" />
                    </svg>
                    <foreignObject width="316" height="1600" transform="translate(24 190)"
                        clip-path="url(#2ade4387-9c63-4fc4-b754-10e687a0d332)">
                        <video class="-mt-4" autoplay loop muted playsinline
                            src="https://ik.imagekit.io/lfegvix1p/demo_RRfSNu9FS.mp4?updatedAt=1687375756829"></video>
                    </foreignObject>
                </svg>
            </div>

        </section>

        <app-pricing></app-pricing>
    </div>
</div>

<div class="absolute inset-0 bg-[radial-gradient(ellipse_at_right,_var(--tw-gradient-stops))] from-primary-100 to-skin-card opacity-5">
</div>