<div class="flex justify-center site-container items-center min-h-[90vh]" *appShellRender>
    <svg class="w-10 h-10 animate-spin" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        width="200px" height="200px" viewBox="0 0 100 100" preserveAspectRatio="xMidYMid">
        <circle cx="50" cy="50" fill="none" stroke="#15b2bc" stroke-width="10" r="35"
            stroke-dasharray="164.93361431346415 56.97787143782138" transform="matrix(1,0,0,1,0,0)"
            style="animation-play-state:paused"></circle>
    </svg>
</div>

<main class="article-container site-container py-8 lg:py-14" *appShellNoRender>

    <article class="flex flex-col lg:grid lg:grid-cols-7 gap-10 lg:gap-20 lg:items-stretch">
        <main class="col-span-5 order-1 lg:order-none">
            <div class="main-side-container">
                <header class="article-header space-y-6 lg:space-y-4">
                    <ng-container *ngIf="article && !loading">
                        <div class="flex items-start lg:items-start justify-between lg:gap-5">

                            <div class="tags-nav flex flex-col gap-4">
                                <div class="hidden mb-3"
                                    [ngClass]="{'hidden': !authService.currentUsr || (!isAuthor(authService.currentUsr, article) && !authService.isAdmin)}">
                                    <a aria-label="Back to article list page" routerLink="/articles"
                                        class="text-skin-base group flex w-full items-center gap-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-label="Back to article list page"
                                            viewBox="0 0 24 24" class="group-hover:text-primary-500 w-[18px]"
                                            data-supported-dps="24x24" fill="currentColor" width="24" height="24"
                                            focusable="false">
                                            <path d="M9 4l-4.87 7H22v2H4.13L9 20H6.56L1 12l5.56-8z"></path>
                                        </svg>
                                        <span
                                            class="hidden sm:inline-block text-sm font-semibold text-skin-base transition-all duration-200 group-hover:text-primary-500">
                                            {{ 'articleDetail.AllArticles' | translate }}
                                        </span>
                                    </a>
                                </div>

                                <div *ngIf="articleHasTags" class="flex items-center gap-1 lg:gap-2 flex-wrap">
                                    <a *ngFor="let tag of article?.tags" routerLink='/articles'
                                        [queryParams]="{tag:tag.name}"
                                        class="tag-item flex items-center space-x-2 group">
                                        <span
                                            class="inline-flex text-skin-inverted items-center leading-none px-2.5 py-1.5 text-sm font-semibold rounded-full border border-skin-borderBold">
                                            <svg [ngStyle]="{'color': tag.colorCode}" class="mr-1 h-2 w-2"
                                                fill="currentColor" viewBox="0 0 8 8">
                                                <circle cx="4" cy="4" r="3"></circle>
                                            </svg>
                                            <span class="group-hover:text-primary-500">
                                                {{tag.name}}
                                            </span>

                                        </span>
                                    </a>
                                </div>

                                <div
                                    class="flex flex-col space-y-1 sm:space-y-0 sm:flex-row text-sm font-semibold text-skin-base">
                                    <div class="space-x-1">
                                        <ng-container *ngIf="article?.publishedAt === article?.lastPublishedAt">
                                            <time [dateTime]="article?.publishedAt | date">{{article?.publishedAt |
                                                date}}
                                            </time>
                                        </ng-container>

                                        <ng-container *ngIf="article?.publishedAt !== article?.lastPublishedAt">
                                            <span class="">{{ 'articleDetail.updateOn' | translate }}</span>
                                            <time class="text-primary-500"
                                                [dateTime]="article?.lastPublishedAt | date">{{article?.lastPublishedAt
                                                |
                                                date}}
                                            </time>
                                        </ng-container>

                                        <ng-container *ngIf="!article?.publishedAt && !article?.lastPublishedAt">
                                            <time [dateTime]="article?.createdAt | date">{{article?.createdAt |
                                                date}}
                                            </time>
                                        </ng-container>

                                        <span aria-hidden="true">·</span>
                                        <span>{{article?.readingTime}} {{ 'articleDetail.ofReadTime' | translate
                                            }}</span>

                                        <span *ngIf="nberOfViews$ | async as nberOfViews"
                                            class="inline-block text-accent-400 opacity-0">{{nberOfViews}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="back-menu-btn">
                                <div *ngIf="!authService.currentUsr">
                                    <a aria-label="Back to article list page" routerLink="/articles"
                                        class="text-skin-base group flex w-full items-center gap-3">
                                        <svg xmlns="http://www.w3.org/2000/svg" aria-label="Back to article list page"
                                            viewBox="0 0 24 24" class="group-hover:text-primary-500 w-[18px]"
                                            data-supported-dps="24x24" fill="currentColor" width="24" height="24"
                                            focusable="false">
                                            <path d="M9 4l-4.87 7H22v2H4.13L9 20H6.56L1 12l5.56-8z"></path>
                                        </svg>
                                        <span
                                            class="hidden sm:inline-block text-sm font-semibold text-skin-base transition-all duration-200 group-hover:text-primary-500">
                                            {{ 'articleDetail.AllArticles' | translate }}
                                        </span>
                                    </a>
                                </div>

                                <ng-container *ngIf="authService.currentUsr as currentUsr">
                                    <ng-container *ngIf="isAuthor(currentUsr, article) || authService.isAdmin">
                                        <div class="action-btns flex items-center gap-4">
                                            <button [matMenuTriggerFor]="menu"
                                                class="relative rounded-full lg:w-10 lg:h-10 lg:-mr-2.5 mt-1 lg:-mt-1 flex items-center justify-center lg:hover:bg-skin-link transition-all duration-300"
                                                aria-label="icon-button with a menu">
                                                <svg xmlns="http://www.w3.org/2000/svg" class="w-5 text-secondary"
                                                    fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2"
                                                        d="M12 5v.01M12 12v.01M12 19v.01M12 6a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2zm0 7a1 1 0 110-2 1 1 0 010 2z" />
                                                </svg>
                                            </button>

                                            <mat-menu #menu="matMenu" class="font-normal text-skin-base bg-skin-bg">
                                                <a aria-labelledby="Link to article edit page"
                                                    routerLink="/articles/{{article|slugify}}/edit"
                                                    class="flex items-end gap-3 px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-sm transition-all duration-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
                                                    </svg>

                                                    <span>{{ 'articleDetail.edit' | translate }}</span>
                                                </a>
                                                <button (click)="openArticleDeleteDialog()"
                                                    aria-labelledby="Delete article button"
                                                    class="flex items-end gap-3 w-full text-left px-4 py-2 hover:bg-skin-link hover:text-primary-500 text-sm transition-all duration-200">
                                                    <svg xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                                                        class="w-5 h-5">
                                                        <path stroke-linecap="round" stroke-linejoin="round"
                                                            d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                                    </svg>
                                                    <span>{{ 'articleDetail.delete' | translate }}</span>
                                                </button>
                                            </mat-menu>
                                        </div>
                                    </ng-container>

                                    <div *ngIf="!isAuthor(currentUsr, article) && !authService.isAdmin">
                                        <a aria-label="Back to article list page link" routerLink="/articles"
                                            class="text-skin-base group flex w-full items-center gap-3">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                aria-label="Back to article list page button" viewBox="0 0 24 24"
                                                class="group-hover:text-primary-500 w-[18px]" data-supported-dps="24x24"
                                                fill="currentColor" width="24" height="24" focusable="false">
                                                <path d="M9 4l-4.87 7H22v2H4.13L9 20H6.56L1 12l5.56-8z"></path>
                                            </svg>
                                            <span
                                                class="hidden sm:inline-block text-sm font-semibold text-skin-base transition-all duration-200 group-hover:text-primary-500">
                                                {{ 'articleDetail.AllArticles' | translate }}
                                            </span>
                                        </a>
                                    </div>
                                </ng-container>
                            </div>
                        </div>

                        <div class="">
                            <h1
                                class="text-3xl w-full font-black text-skin-inverted tracking-tighter sm:text-3xl sm:leading-10 md:text-4xl lg:text-5xl lg:leading-[3rem] xl:leading-[3.5rem]">
                                {{capitalize(article?.title!)}}
                            </h1>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="loading" class="articleHeaderSkeletonLoader">
                        <div class="tags-container flex space-x-3">
                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                                'border-radius': '9999px',
                                                    height: '30px',
                                                    width: '100px'
                                                }">
                            </ngx-skeleton-loader>
                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                                'border-radius': '9999px',
                                                    height: '30px',
                                                    width: '100px'
                                                }">
                            </ngx-skeleton-loader>
                            <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                                'border-radius': '9999px',
                                                    height: '30px',
                                                    width: '100px'
                                                }">
                            </ngx-skeleton-loader>
                        </div>
                        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '9999px',
                                                height: '20px',
                                                width: '200px'
                                            }">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                            'border-radius': '5px',
                                                height: '50px',
                                                'width.%': 100
                                            }">
                        </ngx-skeleton-loader>
                    </ng-container>
                </header>

                <div class="article-cover">
                    <ng-container *ngIf="article" class="">
                        <div *ngIf="currentVideoId; else thumbnailCover"
                            class="article-cover-video shadow-lg rounded-lg overflow-hidden mt-6 lg:mt-10 mx-auto">
                            <app-youtube-video-player [videoId]="currentVideoId" [width]="1200"
                                [height]="mobileQuery.matches ? 350 : 455"></app-youtube-video-player>
                        </div>
                        <ng-template #thumbnailCover>
                            <div
                                class="article-cover-image shadow-lg rounded-lg overflow-hidden aspect-w-4 aspect-h-2 mt-6 lg:mt-10 mx-auto">
                                <app-image [classes]="'object-cover'" [sourceUrl]="article?.thumbnail!"
                                    [alt]="article?.title!">
                                </app-image>
                            </div>
                        </ng-template>
                    </ng-container>

                    <div *ngIf="loading"
                        class="article-cover-skeleton shadow-lg rounded-lg overflow-hidden aspect-w-4 aspect-h-2 mt-6 lg:mt-10 mx-auto">
                        <ngx-skeleton-loader class="shadow-lg rounded-lg" count="1" appearance="line" [theme]="{ 
                                    'height.%': 100,
                                    'width.%': 100
                                }">
                        </ngx-skeleton-loader>
                    </div>
                </div>

                <ng-container *ngIf="article; else articleContentSkeleton">
                    <article class="article-content">
                        <div class="relative overflow-hidden markdown-content mt-6 lg:mt-14">
                            <div *ngIf="article?.premium && !canAccesPremium(article)"
                                class="absolute inset-x-0 bottom-0 h-52 bg-gradient-to-t from-skin-bg to-transparent">
                            </div>
                            <app-markdown-preview [data]="article?.content"></app-markdown-preview>
                        </div>

                        <div *ngIf="article?.premium && !canAccesPremium(article)"
                            class="mt-10 text-skin-base shadow-lg rounded-lg bg-skin-card p-6 max-w-xl mx-auto">
                            <p class="text-sm">Cet article est réservé aux abonnés. Déjà abonné ? <a routerLink="/login"
                                    class="underline">Connectez-vous</a></p>
                            <h3 class="text-2xl lg:text-3xl text-primary-500 font-extrabold py-3">Découvrez les
                                meilleurs
                                articles IT en français</h3>
                            <p>
                                L'auteur a mis cet article à la disposition des membres premium uniquement.
                                Mettez à niveau pour débloquer instantanément cet article ainsi que d’autres avantages
                                réservés aux pros.
                            </p>

                            <a routerLink="/pro"
                                class="block mt-4 border border-primary-500 text-center rounded-md hover:shadow-sm transition-all duration-300 hover:bg-primary-100 hover:bg-opacity-20">
                                <p class="text-sm sm:text-lg text-primary-500 font-extrabold px-1.5 py-2.5">Passer PRO
                                </p>
                            </a>
                        </div>
                    </article>

                    <div class="article-socials-btns hidden lg:block mt-16 lg:w-fit mx-auto">
                        <p class="text-base text-skin-base text-center">
                            {{ 'articleDetail.callToShareText' | translate }}
                        </p>
                        <div class="mt-4 space-y-4 flex items-end flex-wrap gap-2 sm:gap-0 sm:space-y-0 sm:space-x-4">
                            <a aria-labelledby="Link to about page"
                                href="https://twitter.com/intent/tweet?url={{blogUrl}}/articles/{{article?.id}}&text={{article?.title}} par @{{trimAuthorName(article?.author?.fullName)}}"
                                target="_blank"
                                class="inline-flex items-center py-2 px-4 border border-skin-border rounded-md shadow-sm bg-skin-card text-sm leading-5 font-semibold text-skin-base hover:bg-skin-cardMuted">
                                <svg class="h-5 w-5 mr-1.5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path
                                        d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84">
                                    </path>
                                </svg>
                                Twitter
                            </a>
                            <a aria-labelledby="Link to about page"
                                href="https://www.facebook.com/sharer/sharer.php?u={{blogUrl}}/articles/{{article?.id}}"
                                target="_blank"
                                class="inline-flex items-center py-2 px-4 border border-skin-border rounded-md shadow-sm bg-skin-card text-sm leading-5 font-semibold text-skin-base hover:bg-skin-cardMuted">
                                <svg class="h-5 w-5 mr-1.5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path fill-rule="evenodd"
                                        d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                        clip-rule="evenodd"></path>
                                </svg>
                                Facebook
                            </a>
                            <a aria-labelledby="Link to about page"
                                href="https://www.linkedin.com/sharing/share-offsite/?url={{blogUrl}}/articles/{{article?.id}}"
                                target="_blank"
                                class="inline-flex items-center py-2 px-4 border border-skin-border rounded-md shadow-sm bg-skin-card text-sm leading-5 font-semibold text-skin-base hover:bg-skin-cardMuted">
                                <svg class="h-5 w-5 mr-1.5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                    <path
                                        d="M19 0H5a5 5 0 00-5 5v14a5 5 0 005 5h14a5 5 0 005-5V5a5 5 0 00-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z">
                                    </path>
                                </svg>
                                LinkedIn
                            </a>
                        </div>
                    </div>

                    <div class="reactions-container mt-10 lg:mt-6 lg:order-none flex justify-center">
                        <app-reactions [obj]="article" [loading]="loading" (reactionEvent)="addReaction($event)">
                        </app-reactions>
                    </div>
                </ng-container>

                <ng-template #articleContentSkeleton>
                    <ngx-skeleton-loader class="block mt-10" count="10" appearance="line" [theme]="{ 
                        'border-radius': '5px',
                            'height.px': 20,
                            'width.%': 100
                        }">
                    </ngx-skeleton-loader>
                </ng-template>
            </div>

        </main>

        <aside class="lg:col-span-2 order-2 lg:order-none flex flex-col gap-6 lg:gap-10">
            <div class="article-author pt-6 lg:pt-0 order-3 lg:order-none border-t border-skin-border lg:border-none">
                <h2 class="text-sm text-center lg:text-left leading-4 uppercase text-skin-base font-semibold">
                    {{ 'articleDetail.aboutAuthor' | translate }}
                </h2>

                <div *ngIf="article; else articleAuthorSkeletonLoader" class="mt-6 flex flex-col gap-6">
                    <a aria-labelledby="Link to about page"
                        [routerLink]="authService?.currentUsr?.id == article?.author?.id ? ['/user/profile'] : ['/user/' + article?.author?.id]"
                        class="">
                        <div class="flex items-center justify-center gap-2">
                            <div class="">
                                <app-image [classes]="'h-9 w-9 rounded-full'"
                                    [sourceUrl]="article?.author?.profilePicture!" [alt]="article?.author?.fullName!">
                                </app-image>
                            </div>
                            <div class="lg:flex-1">
                                <p class="text-sm lg:text-base font-semibold text-skin-inverted ">
                                    {{article?.author?.fullName}}
                                </p>
                                <p *ngIf="article?.author?.profession"
                                    class="text-xs font-semibold text-primary-500 line-clamp-2">
                                    {{article?.author?.profession}}
                                </p>
                            </div>
                        </div>
                    </a>

                    <p *ngIf="article?.author?.bio"
                        class="text-base text-center lg:text-left text-skin-base leading-5 font-normal hidden lg:block line-clamp-3">
                        {{article?.author?.bio}}
                    </p>

                    <div *ngIf="authorHasSocials()"
                        class="author-socialLinks flex items-center justify-center lg:justify-start gap-2">
                        <a aria-label="Link to article author linkedin profile"
                            *ngIf="authorHasSocialLinkFor('LINKEDIN')" target="_blank"
                            href="{{authorPlatformLink('LINKEDIN')}}"
                            class="order-1 text-skin-muted hover:text-[#0A66C2] transition-all duration-200">
                            <span class="sr-only">LinkedIn</span>
                            <svg class="h-6 w-6 rounded-md" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <title>LinkedIn</title>
                                <path
                                    d="M19 0H5a5 5 0 00-5 5v14a5 5 0 005 5h14a5 5 0 005-5V5a5 5 0 00-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z">
                                </path>
                            </svg>
                        </a>
                        <a aria-label="Link to article author github profile" *ngIf="authorHasSocialLinkFor('GITHUB')"
                            target="_blank" href="{{authorPlatformLink('GITHUB')}}"
                            class="order-2 text-skin-muted hover:text-[#181717] transition-all duration-200">
                            <span class="sr-only">GitHub</span>
                            <svg class="h-6 w-6" fill="currentColor" role="img" viewBox="0 0 24 24"
                                xmlns="http://www.w3.org/2000/svg">
                                <title>GitHub</title>
                                <path
                                    d="M12 .297c-6.63 0-12 5.373-12 12 0 5.303 3.438 9.8 8.205 11.385.6.113.82-.258.82-.577 0-.285-.01-1.04-.015-2.04-3.338.724-4.042-1.61-4.042-1.61C4.422 18.07 3.633 17.7 3.633 17.7c-1.087-.744.084-.729.084-.729 1.205.084 1.838 1.236 1.838 1.236 1.07 1.835 2.809 1.305 3.495.998.108-.776.417-1.305.76-1.605-2.665-.3-5.466-1.332-5.466-5.93 0-1.31.465-2.38 1.235-3.22-.135-.303-.54-1.523.105-3.176 0 0 1.005-.322 3.3 1.23.96-.267 1.98-.399 3-.405 1.02.006 2.04.138 3 .405 2.28-1.552 3.285-1.23 3.285-1.23.645 1.653.24 2.873.12 3.176.765.84 1.23 1.91 1.23 3.22 0 4.61-2.805 5.625-5.475 5.92.42.36.81 1.096.81 2.22 0 1.606-.015 2.896-.015 3.286 0 .315.21.69.825.57C20.565 22.092 24 17.592 24 12.297c0-6.627-5.373-12-12-12" />
                            </svg>
                        </a>
                        <a aria-label="Link to article author twitter profile" *ngIf="authorHasSocialLinkFor('TWITTER')"
                            target="_blank" href="{{authorPlatformLink('TWITTER')}}"
                            class="order-3 text-skin-muted hover:text-[#1DA1F2] transition-all duration-200">
                            <span class="sr-only">Twitter</span>
                            <svg class="h-6 w-6" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                                <title>Twitter</title>
                                <path
                                    d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84">
                                </path>
                            </svg>
                        </a>
                        <a aria-label="Link to article author stackOverflow profile"
                            *ngIf="authorHasSocialLinkFor('STACKOVERFLOW')" target="_blank"
                            href="{{authorPlatformLink('STACKOVERFLOW')}}"
                            class="order-5 text-skin-muted hover:text-[#F58025] transition-all duration-200">
                            <span class="sr-only">stackoverflow</span>
                            <svg class="h-6 w-6 rounded-md" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32">
                                <title>Stackoverflow</title>
                                <path d="M28.16 32H2.475V20.58H5.32v8.575h19.956V20.58h2.884z" fill="currentColor" />
                                <path
                                    d="M8.477 19.8l13.993 2.923.585-2.806-13.993-2.923zm1.832-6.704l12.94 6.04 1.208-2.572-12.94-6.08zm3.586-6.353l10.99 9.12 1.832-2.183-10.99-9.12zM20.99 0l-2.3 1.715 8.536 11.46 2.3-1.715zM8.166 26.27H22.43v-2.845H8.166v2.845z"
                                    fill="currentColor" />
                            </svg>
                        </a>
                        <a aria-label="Link to article author website" *ngIf="article?.author?.website" target="_blank"
                            href="{{article?.author?.website}}"
                            class="order-4 text-skin-muted hover:text-primary-500 transition-all duration-200">
                            <span class="sr-only">Website</span>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24"
                                stroke="currentColor">
                                <title>Website</title>
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                    d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9" />
                            </svg>
                        </a>
                    </div>
                </div>

                <ng-template #articleAuthorSkeletonLoader>
                    <div class="mt-6">
                        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                                            'border-radius': '9999px',
                                                            height: '50px',
                                                            'width.%': 20
                                                        }">
                        </ngx-skeleton-loader>
                        <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                                        'border-radius': '5px',
                                                            height: '50px',
                                                            'width.%': 78,
                                                            'margin-left.%': 2
                                                        }">
                        </ngx-skeleton-loader>
                    </div>
                    <ngx-skeleton-loader count="1" appearance="line" [theme]="{ 
                                                    'border-radius': '5px',
                                                        height: '100px',
                                                        'width.%': 100,
                                                        display: 'block'
                                                    }">
                    </ngx-skeleton-loader>

                    <ngx-skeleton-loader class="space-x-1" count="3" appearance="line" [theme]="{ 
                                                    'border-radius': '9999px',
                                                        height: '30px',
                                                        width: '30px'
                                                    }">
                    </ngx-skeleton-loader>
                </ng-template>
            </div>


            <div class="sticky-content lg:sticky top-36 order-2 lg:space-y-10">
                <app-ads-square></app-ads-square>


                <div *ngIf="similarArticles?.length"
                    class="related-articles lg:order-none pt-6 space-y-6 border-t mt-6 border-skin-border">
                    <h2 class="text-sm text-center lg:text-left leading-4 uppercase text-skin-base font-semibold">
                        {{'articleDetail.similarArticles' | translate}}
                    </h2>
                    <div class="similar-articles flex justify-center lg:justify-start">
                        <div class="wrapper">
                            <ng-container *ngFor="let article of similarArticles">
                                <a aria-labelledby="Link to about page" routerLink="/articles/{{article?.id}}"
                                    class="first-of-type:mt-0 mt-3 flex items-center space-x-2">
                                    <app-image [classes]="'h-8 w-8 object-cover shadow-lg rounded-md'"
                                        [sourceUrl]="article?.thumbnail!" [alt]="article?.title!">
                                    </app-image>
                                    <span
                                        class="flex-1 text-sm font-semibold leading-4 text-skin-text hover:text-primary-500 line-clamp-2 transition-all duration-200">
                                        {{capitalize(article?.title!)}}
                                    </span>
                                </a>
                            </ng-container>
                        </div>
                    </div>
                </div>

                <ng-container *ngIf="loading" class="similarArticlesSkeletonLoader">
                    <ngx-skeleton-loader class="block mt-2" count="2" appearance="line" [theme]="{ 
                                'border-radius': '5px',
                                    height: '30px',
                                    'width.%': 100,
                                    display: 'block'
                                }">
                    </ngx-skeleton-loader>
                </ng-container>
            </div>

            <div class="article-socials-btns text-center lg:text-left order-4 border-t space-y-5 py-6 lg:hidden">
                <p class="text-base text-skin-base font-light">
                    {{ 'articleDetail.callToShareText' | translate }}
                </p>
                <div class="flex items-center justify-center flex-wrap gap-3">
                    <a aria-label="Link to share the article on twitter"
                        href="https://twitter.com/intent/tweet?url={{blogUrl}}/articles/{{article?.id}}&text={{article?.title}} par @{{trimAuthorName(article?.author?.fullName)}}"
                        target="_blank"
                        class="h-11 w-11 flex items-center justify-center border border-skin-border rounded-full shadow-sm bg-skin-card text-sm text-skin-base hover:bg-skin-cardMuted">
                        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M8.29 20.251c7.547 0 11.675-6.253 11.675-11.675 0-.178 0-.355-.012-.53A8.348 8.348 0 0022 5.92a8.19 8.19 0 01-2.357.646 4.118 4.118 0 001.804-2.27 8.224 8.224 0 01-2.605.996 4.107 4.107 0 00-6.993 3.743 11.65 11.65 0 01-8.457-4.287 4.106 4.106 0 001.27 5.477A4.072 4.072 0 012.8 9.713v.052a4.105 4.105 0 003.292 4.022 4.095 4.095 0 01-1.853.07 4.108 4.108 0 003.834 2.85A8.233 8.233 0 012 18.407a11.616 11.616 0 006.29 1.84">
                            </path>
                        </svg>
                    </a>
                    <a aria-label="Link to share the article on facebook"
                        href="https://www.facebook.com/sharer/sharer.php?u={{blogUrl}}/articles/{{article?.id}}"
                        target="_blank"
                        class="h-11 w-11 flex items-center justify-center border border-skin-border rounded-full shadow-sm bg-skin-card text-sm text-skin-base hover:bg-skin-cardMuted">
                        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path fill-rule="evenodd"
                                d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                                clip-rule="evenodd"></path>
                        </svg>
                    </a>
                    <a aria-label="Link to share the article on linkedin"
                        href="https://www.linkedin.com/sharing/share-offsite/?url={{blogUrl}}/articles/{{article?.id}}"
                        target="_blank"
                        class="h-11 w-11 flex items-center justify-center border border-skin-border rounded-full shadow-sm bg-skin-card text-sm text-skin-base hover:bg-skin-cardMuted">
                        <svg class="h-5 w-5" fill="currentColor" viewBox="0 0 24 24" aria-hidden="true">
                            <path
                                d="M19 0H5a5 5 0 00-5 5v14a5 5 0 005 5h14a5 5 0 005-5V5a5 5 0 00-5-5zM8 19H5V8h3v11zM6.5 6.732c-.966 0-1.75-.79-1.75-1.764s.784-1.764 1.75-1.764 1.75.79 1.75 1.764-.783 1.764-1.75 1.764zM20 19h-3v-5.604c0-3.368-4-3.113-4 0V19h-3V8h3v1.765c1.396-2.586 7-2.777 7 2.476V19z">
                            </path>
                        </svg>
                    </a>
                </div>
            </div>

        </aside>
    </article>

</main>